|&lt;div class="select"&gt;
|    &lt;span class="select__option_selected"&gt;Выбрать город&lt;/span&gt;
|    &lt;span class="arrow-bg"&gt;
|        &lt;span class="arrow"&gt;&lt;/span&gt;
|    &lt;/span&gt;
|    &lt;div class="select__option-box"&gt;
|        &lt;ul&gt;
|            &lt;li class="select__option"&gt;Астрахань&lt;/li&gt;
|            &lt;li class="select__option"&gt;Белгород&lt;/li&gt;
|            &lt;li class="select__option"&gt;Воронеж&lt;/li&gt;
|            &lt;li class="select__option"&gt;Грозный&lt;/li&gt;
|            &lt;li class="select__option"&gt;Екатеринбург&lt;/li&gt;
|            &lt;li class="select__option"&gt;Казань&lt;/li&gt;
|            &lt;li class="select__option"&gt;Москва&lt;/li&gt;
|            &lt;li class="select__option"&gt;Новосибирск&lt;/li&gt;
|            &lt;li class="select__option"&gt;Пермь&lt;/li&gt;
|            &lt;li class="select__option"&gt;Ростов-на-Дону&lt;/li&gt;
|            &lt;li class="select__option"&gt;Санкт-Петербург&lt;/li&gt;
|            &lt;li class="select__option"&gt;Тюмень&lt;/li&gt;
|            &lt;li class="select__option"&gt;Чита&lt;/li&gt;
|        &lt;/ul&gt;
|    &lt;/div&gt;
|&lt;/div&gt;