/* COLORS */

$primary-color: #af1b71;
$main-bg: rgba(152, 189, 245, 0.176);
$main-white: #fff;
$btn-sec-bg: #ff0;

/* GREED */
$gutter: 1.2rem;

// checkbox variables
$checkbox-border-color: rgba(196, 196, 196, 0.5);
$checkbox-hover-border-color: rgb(179, 215, 255);
$checkbox-active-border-color: rgb(179, 215, 255);

$checkbox-bg: rgba(196, 196, 196, 0.5);
$checkbox-active-bg: rgb(0, 119, 255);
$checkbox-disabled-bg: rgb(11, 3, 34);