.form-checkbox-wrap
    input#checkbox10(type="checkbox", name="checkbox1")
    label(for="checkbox10") standart checkbox

br
hr(style="border-top: solid 1px #adb5bd")
br
h3 Custom checkboxes
br

.form-checkbox-wrap
    input#checkbox1.form-checkbox(type="checkbox", name="checkbox1")
    label.form-label-checkbox(for="checkbox1") checkbox 1

.form-checkbox-wrap
    input#checkbox2.form-checkbox(type="checkbox", name="checkbox2")
    label.form-label-checkbox(for="checkbox2") checkbox 2

.form-checkbox-wrap
    input#checkbox3.form-checkbox(type="checkbox", name="checkbox3")
    label.form-label-checkbox(for="checkbox3") checkbox 3

.form-checkbox-wrap
    input#checkbox4.form-checkbox(type="checkbox", name="checkbox4")
    label.form-label-checkbox(for="checkbox4") checkbox 4

.form-checkbox-wrap
    input#checkboxDisabled.form-checkbox(type="checkbox", name="checkboxDisabled", disabled)
    label.form-label-checkbox(for="checkboxDisabled") checkbox disabled

