*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.36;
  background: #f6f8fb;
}

h1 {
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 1.177;
  text-align: center;
}

.container {
  margin: 100px auto;
  padding: 0 15px;
  max-width: 960px;
}

.form {
  position: relative;
}
.form-radio {
  position: absolute;
  width: 0;
  height: 0;
  z-index: -1;
  opacity: 0;
}
.form-radio-wrap {
  position: relative;
}
.form-label-radio {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.form-label-radio:before {
  content: "";
  margin-right: 0.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  transition: 0.2s;
}

/* Radio states */
/* Hover Not Checked*/
.form-radio:not(:disabled):not(:checked) + .form-label-radio:not(:active):hover::before {
  border-color: #3791f6;
}

/* Hover Checked*/
.form-radio:not(:disabled):checked + .form-label-radio:not(:active):hover::before {
  border-color: #3791f6;
}

/* Active */
.form-radio:not(:disabled) + .form-label-radio:active::before {
  border-color: #0b76ef;
  border-width: 0.5em;
}

/* Active Checked*/
.form-radio:not(:disabled):checked + .form-label-radio:active::before {
  border-color: #0b76ef;
  border-width: 0.25em;
}

/* Focus */
.form-radio:focus + .form-label-radio::before {
  box-shadow: 0 0 0 0.08em rgba(0, 123, 255, 0.35);
}

/* Checked */
.form-radio:checked + .form-label-radio::before {
  border-color: #0b76ef;
  border-width: 0.25em;
}

/* Not disabled */
.form-radio:not(:disabled) + .form-label-radio {
  cursor: pointer;
}

/* Disabled */
.form-radio:disabled + .form-label-radio {
  color: #adb5bd;
}