doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")
  body 
    #pageWrapper
      .container 
        h1 Form validation 
        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, dicta eaque? Odio quos quaerat ipsum velit autem aspernatur, at dolorum magnam? Dolorem quibusdam neque excepturi unde deleniti praesentium sit officia sapiente dolore hic! Debitis veritatis architecto cumque minima et deleniti reiciendis porro error sint ab veniam laudantium eligendi unde id vero totam, quidem voluptate vel!

        form(action="#") 

          .form-group 
            input.form-submit(type="submit", value="Отправить")

      br
      br
      br
      br
      br
      br
      br
      br
