doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Checkbox
        |
        |
        |<!--CSS
        |==================================================-->
        link(rel="stylesheet" href="css/default.css")
        link(rel="stylesheet" href="css/layout.css")
        link(rel="stylesheet" href="css/checkbox.css")
        //- link(rel="stylesheet" href="css/media-queries.css")
        |
        |
        |<!-- Favicons
        |================================================== -->

        link(rel="icon" href="img/icons/favicon.svg" sizes="any" type="image/svg+xml")
        link(rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon-180x180.png" type="image/png")
        link(rel="manifest", href="manifest.json")
    body 

        |
        |
        h1 Кастомный чекбокс
        |
        |
        .container
            |
            |

            |<!-- - Разметка чекбокса
            |------------------------------ -->

            .checkbox
                input#userCheck.checkbox__input(type="checkbox", name="userCheck")
                label.checkbox__label(for="userCheck") Я даю согласие на обработку  моих персональных данных
            
            |
            |<!-- ------------------------------ -->
            |

        |
        |