html{
	font-size: 20px;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-family: 'arial', sans-serif;
}
html,
body{
	height: 100%;
}
*,
*:before,
*:after{
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}
section{
	margin: 1rem 0;
	padding: 2rem;
	background-color: rgba(50, 50, 95, .3);
}

.plyr-section{
	width: 100%;
	/* height: 350px; */
	height: 100%;
}