@charset "UTF-8";
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  line-height: 1.36;
  background: #F6F8FB;
}

h1 {
  font-size: 4.5rem;
  font-weight: 100;
  line-height: 1.177;
  text-align: center;
}

.container {
  margin: 100px auto;
  padding: 0 15px;
  max-width: 960px;
}

.radio-btn {
  padding-left: 1.5em;
}
.radio-btn__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.radio-btn__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.radio-btn__label:before {
  content: "";
  position: absolute;
  left: -1.5em;
  display: inline-block;
  width: 1em;
  height: 1em;
  border: 1px solid #adb5bd;
  border-radius: 50%;
  transition: 0.2s;
}
.radio-btn__label:after {
  content: "";
  position: absolute;
  left: -1.25em;
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background-color: white;
  transition: transform cubic-bezier(1, 1.56, 0.55, 1.52) 0.2s;
  transform: scale(0);
}

/* стили при наведении курсора на radio-btn */
.radio-btn__input:not(:disabled):not(:checked) + .radio-btn__label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активной радиокнопки (при нажатии на неё) */
.radio-btn__input:not(:disabled):active + .radio-btn__label::before {
  background-color: #0077ff;
  border-color: #b3d7ff;
}

/* стили для радиокнопки, находящейся в фокусе */
.radio-btn__input:focus + .radio-btn__label::before {
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
}

/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radio-btn__input:focus:not(:checked) + .radio-btn__label::before {
  border-color: #80bdff;
}

/* стили для радиокнопки, находящейся в состоянии checked */
.radio-btn__input:checked + .radio-btn__label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
}

.radio-btn__input:checked + .radio-btn__label::after {
  transform: scale(1);
}

/* стили для радиокнопки, находящейся в состоянии disabled */
.radio-btn__input:disabled + .radio-btn__label::before {
  background-color: #efe9e9;
}