.container.manager
  .manager__content
    .manager__heading
      h2
        span.d-block
          | Предоставим 
          span.text_bold персонального 
        span.d-block
          span.text_bold менеджера 
          | для каждого 
        span.d-block клиента!
    .manager__subheading
      | Любой вопрос будет решен 
      span.manager__subheading-highlight.d-block_md в течение 30 мин!
    .manager-media-wrap.row.m-x-0
      .manager-media
        .manager-media__text Все этапы, стоимость и ответственность за работы прописываются в контракте
        .manager-media__img.manager-media__img_doc
          picture
            source(srcset='img/mang-doc.webp', type='image/webp')
            img(src='img/mang-doc.png', alt='Изображение документа с печатью')
      .manager-media
        .manager-media__text Оперативная подмена персонала по болезни в течении 30 минут благодря кадровому резерву
        .manager-media__img.manager-media__img_phone
          picture
            source(srcset='img/mang-phone.webp', type='image/webp')
            img(src='img/mang-phone.png', alt='Изображение смартфона')
    .manager__btn-wrapper
      .btn.btn_primary.modal-trigger(data-target='checkModal')
        span.text_uppercase Оставить заявку
        span.d-none_xxs на бесплатный аудит
  .manager__img
    picture
      source(srcset='img/mang-girl.webp', type='image/webp')
      img(src='img/mang-girl.png', alt='Изображение девушки - персонального менеджера')
    .manager__name-wrap
      .manager__name Мария Гебель
      span операционный директор
  .services__bg
    picture
      source(srcset='img/mob/serv-bg.webp', media='(max-width: 414px)', type='image/webp')
      source(srcset='img/mob/serv-bg.png', media='(max-width: 414px)', type='image/png')
      source(srcset='img/serv-bg.webp', type='image/webp')
      img(src='img/serv-bg.png', alt)