section.section.adv
  .container.adv__container
    .section__heading.adv__heading
      h2
        span.text_bold.d-block.d-inline_xxs Преимущества работы с Top Level 
        | по сравнению с собственным штатом
  .container.adv__slider-container
    .swiper.adv__slider
      .swiper-wrapper.adv-grid
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 01
            .adv-card__text
              span.text_bold.d-block Высокая квалификация
              | и компетенция клинеров
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 02
            .adv-card__text
              span.text_bold Снижение риска 
              | проверок Роспотребнадзора
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 03
            .adv-card__text
              | Узкая специализация клининга: 
              span.text_bold пищевой и промышленный
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 04
            .adv-card__text
              | Получение результата от услуги 
              span.text_bold без управления ей, 
              | уникальная система отчетности

        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 05
            .adv-card__text
              | Полная фин. ответственность - 
              span.text_bold.
                
                штрафы контролирующих органов 
              span.text_bold оплачивает клининг
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 06
            .adv-card__text
              span.text_bold Дополнительные услуги: 
              | высотные работы, вывоз мусора, чистка спец. оборудования и др.

        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 07
            .adv-card__text
              | Оперативное выполнение задач, 
              span.text_bold автоматизированная система коммуникации
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 08
            .adv-card__text
              span.text_bold Экономия на трудовых ресурсах 
              | за счет эффективных процессов и регламентов
        .swiper-slide.adv-slide
          .adv-card
            .adv-card__num
              span.adv-card__digit.adv-card-clip-text 09
            .adv-card__text
              span.text_bold Заказчик занимается основными процессами компании, 
              | не отвлекаясь на второстепенные
      .swiper-button-prev.adv__button.adv__button_prev
      .swiper-button-next.adv__button.adv__button_next
  .adv__bg
    picture
      source(srcset='img/adv-bg.webp', type='image/webp')
      img(src='img/adv-bg.png', alt)