.awa
  .awa__junction
  .container.awa__container
    .awa__content
      .swiper.awa__slider
        .swiper-wrapper.awa__slider-inner
          .swiper-slide.awa-slide
            .awa__item
              a(data-fancybox='awa-gallery', href='img/gal/awa-1.jpg')
                .awa__img
                  img(src='img/awa-1.jpg', alt='Изображение лицензии')
              .awa__descr
                .awa__top c 2018 года
                .awa__title Медицинская лицензия
                .awa__about Она особенно важна для клининга в пищевой промышленности и в медицинских учреждениях
          .swiper-slide.awa-slide
            .awa__item
              a(data-fancybox='awa-gallery', href='img/gal/awa-2.jpg')
                .awa__img
                  img(src='img/awa-2.jpg', alt='Изображение национального сертификата Лидер Отрасли')
              .awa__descr
                .awa__top 2017
                .awa__title Лидер отрасли
                .awa__about За весомый вклад в развите российской экономики, достижение высоких экономических показателей
          .swiper-slide.awa-slide
            .awa__item
              a(data-fancybox='awa-gallery', href='img/gal/awa-3.jpg')
                .awa__img
                  img(src='img/awa-3.jpg', alt='Изображение лицензии')
              .awa__descr
                .awa__top ФМ.РАДО.РУС
                .awa__title Реестр добросовестных клининговых компаний
                .awa__about Каждый заказчик может проверить Top Level на соблюдение налогового законодательства РФ
      .swiper-button-prev.awa__button.awa__button_prev
      .swiper-button-next.awa__button.awa__button_next
    .awa__stamp
      picture
        source(srcset='img/awa-stamp.webp', type='image/webp')
        img(src='img/awa-stamp.png', alt)
    .awa-hidden-gal.d-none
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-1.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-2.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-3.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-4.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-5.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-6.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-7.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/gost-8.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/sert-1.jpg')
          img(src, alt)
      .awa__item
        a(data-fancybox='awa-gallery', href='img/gal/sert-2.jpg')
          img(src, alt)
  .container
    .awa__footer
      .awa__footer-link.d-none_xs
        a(href='https://tlevel.ru/sertifikaty-i-licenzii/', target='_blank')
          | Посмотреть все 
          i.awa-arrow
          br
          | сертификаты и лицензии