section.section.actions
  .container.actions__container
    .section__heading.actions__heading
      h2 Акции
    .actions-block 
      .actions-card
        .actions-card__bg 
          picture
            source(srcset='img/act-1.webp' type='image/webp')
            img(src='img/act-1.png', alt="")
        .actions-card__content
          .actions-card-label.actions-card-label_cash 
            span.d-block.cashback-uppercase CAShback
            span.cashback-text для собственников компаний
          .actions-card-title.actions-card-title_cash
            span.d-block Вернём 1% 
            span.d-block от контракта  
          .actions-card-subtitle.actions-card-subtitle_cash
            span.d-block на уборку Вашей квартиры
            span.d-block или загородного дома



      .actions-card
        .actions-card__bg 
          picture
            source(srcset='img/act-2.webp' type='image/webp')
            img(src='img/act-2.png', alt="")
        .actions-card__content
          .actions-card-label.actions-card-label_ord
            span.d-block Специальное 
            span.d-block предложение
          .actions-card-title.actions-card-title_ord
            span.d-block 3 уборки
            span.d-block за наш счет!  
          .actions-card-subtitle.actions-card-subtitle_ord
            span.d-block При заключении договора 
            span.d-block с нами до 31.09.2022