section.section.care
  .container.care__container
    .care__heading
      h3
        span.text_bold.d-block.d-inline_md Заботимся 
        | об экологии
    .care-media.care-media_doc
      .care-media__img.care-media__img_doc
        picture
          source(srcset='img/care-doc.webp', type='image/webp')
          img(src='img/care-doc.png', alt)
      .care-media__text Сертификат ИСО 14001 подтверждает высокий уровень экологических показателей Top Level
    .care-media.care-media_mus
      .care-media__img.care-media__img_mus
        picture
          source(srcset='img/care-mus.webp', type='image/webp')
          img(src='img/care-mus.png', alt)
      .care-media__text
        span.d-block.d-inline_sm Соблюдаем правила 
        span.d-block.d-inline_sm утилизации мусора 
        span.d-block.d-inline_sm и отходов