.cheaper 
  .cheaper__img
    picture
      source(srcset='img/cheap-docs.webp' type='image/webp')
      img(src='img/cheap-docs.png', alt="")



  .container.cheaper__container
    .cheaper__content
      .section__heading.cheaper__heading
        h2 Хотите дешевле?
      .cheaper__text 
        p
          span.d-block.text_bold.cheaper-highlight Пришлите смету другой компании 
          span и мы постараемся дать Вам более выгодное предложение
      .cheaper__contacts 
        .cheaper-phone
          a(href="tel:78462060304", target="_blank") 8 (846) 206-03-04
        .cheaper-vb.cheaper-msg
          a(href="viber://chat?number=%2B78462060304", target="_blank") 
            i.vb-icon
        .cheaper-wh.cheaper-msg
          a(href="https://wa.me/78462060304", target="_blank") 
            i.wa-icon
        .cheaper-tlg.cheaper-msg
          a(href="https://t.me/tlevel", target="_blank") 
            i.tlg-icon
        .cheaper-mail 
          a(href="mailto:tlevel@tlevel.ru") tlevel@tlevel.ru