section.section.econom

  .econom__img
    picture
      source(srcset='img/econ-girls.webp' type='image/webp')
      img(src='img/econ-girls.png', alt="")

  .container.econom__container
    .econom__content
      .econom__content-inner
        .section__heading.econom__heading
          h2 
            span.econom-highlight.text_bold Умеем экономить до 20% 
            span на клининговых услугах!
        
        .econom-text 
          .econom-text__img 
            picture
              source(srcset='img/serv-pig.webp' type='image/webp')
              img(src='img/serv-pig.png', alt="")
          p 
            span.text_bold Если у вас заключён контракт с другой компанией 
            | - закажите звонок нашего эксперта, мы тактично покажем Вам, где Вы переплачиваете, и где мы можем сэкономить Ваши деньги



    .econom__form.form-block__form-wrap
      form.form.econom-form.form-block__form#econom(name='callback', data-action='send-callback.php')


        .form__group.econom-form__group.form__group_control.form-block__group
          input.form__control.form-block__control.econom-form__control#userPhoneEco(type='text', name='userPhone', placeholder='Номер телефона', required)


        .form__group.econom-form__group.form__group_control.form-block__group
          input.form__control.form-block__control.econom-form__control#userNameEco(type='text', name='userName', placeholder='Ваше Имя', required)

      
        input(type='hidden', value='Обратный звонок', name='formTheme')

        .form__submit-wrap
          .loader-container
            button.btn.btn_primary.form__submit.econom-form__submit(type='submit')
              span.text_uppercase Заказать звонок