section.section.expert
  .container.expert__container
    .expert__content
      .expert__heading#expert-anchor
        h2
          span.d-block.d-inline_md Познакомьтесь 
          span.d-block.d-inline_md с экспертами 
          span.expert__heading-highlight.d-block Top Level
      .expert__text
        p Персональный эксперт (менеджер) компании берет на себя все вопросы управления клинингом. В компании есть строгие регламенты, автоматизированно управление клинингом и налажены все бизнес-процессы
      .expert-video.d-none_md
        .expert-video__img
          picture
            source(srcset='img/exp-video.webp', type='image/webp')
            img(src='img/exp-video.png', alt='Заставка для видео')
        .expert-video__caption
          .expert-video__text
            | Посмотрите
            br
            | короткое видео
            br
            | о нашей компании
        .expert-video__btn
          a(data-fancybox, href='https://youtu.be/OXvaD_mP0AE')
            picture
              source(srcset='img/exp-vid-btn.webp', type='image/webp')
              img(src='img/exp-vid-btn.png', alt='Заставка для видео')
    .expert__slider-container
      .swiper.expert__slider
        .swiper-wrapper
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-2.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Александра
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-8.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Евгений
                br
                | Моисеев
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-4.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Владимир
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-10.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Елена
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-3.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Артур
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-5.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Дмитрий
                br
                | Востров
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-6.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Дмитрий
                br
                | Силантьев
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-7.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Дмитрий
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-9.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Евгения
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-11.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Мария
                br
                | Гебель
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-12.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Мария
                br
                | Плотникова
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-13.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Мария
                br
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-14.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Наталья
                br
                | Богданова
          .swiper-slide.expert-slide
            .expert-slide__inner
              .expert-slide__img
                img(src='img/exp-1.jpg', alt='Фото менеджера')
                .img-gradient
              .expert-slide__caption
                | Айнур
                br
        .expert__slider-control
          .swiper-button-prev.expert__button.expert__button_prev
          .expert__pagination
          .swiper-button-next.expert__button.expert__button_next
      .expert__slider-shine
        picture
          source(srcset='img/exp-slider-shine.webp', type='image/webp')
          img(src='img/exp-slider-shine.png', alt)
    .expert-video.expert-video-mob.d-none.d-flex_md
      .expert-video__img
        picture
          source(srcset='img/exp-video.webp', type='image/webp')
          img(src='img/exp-video.png', alt='Заставка для видео')
      .expert-video__caption
        .expert-video__text
          | Посмотрите
          br
          | короткое видео
          br
          | о нашей компании
      .expert-video__btn
        a(data-fancybox, href='https://youtu.be/OXvaD_mP0AE')
          picture
            source(srcset='img/exp-vid-btn.webp', type='image/webp')
            img(src='img/exp-vid-btn.png', alt='Заставка для видео')