.gal
  .container.gal__container
    .gal-grid
      .gal__img.gal__img-1
        a(data-fancybox='gallery', href='img/gal/gal-1.jpg')
          img(src='img/gal-thumb-1.jpg', alt)
      .gal__img.gal__img-2
        a(data-fancybox='gallery', href='img/gal/gal-2.jpg')
          img(src='img/gal-thumb-2.jpg', alt)
      .gal__img.gal__img-3
        a(data-fancybox='gallery', href='img/gal/gal-3.jpg')
          img(src='img/gal-thumb-3.jpg', alt)
      .gal__img.gal__img-4
        a(data-fancybox='gallery', href='img/gal/gal-4.jpg')
          img(src='img/gal-thumb-4.jpg', alt)
      .gal__img.gal__img-5
        a(data-fancybox='gallery', href='img/gal/gal-5.jpg')
          img(src='img/gal-thumb-5.jpg', alt)
      .gal__img.gal__img-6
        a(data-fancybox='gallery', href='img/gal/gal-6.jpg')
          img(src='img/gal-thumb-6.jpg', alt)
      .gal__img.gal__img-7
        a(data-fancybox='gallery', href='img/gal/gal-7.jpg')
          img(src='img/gal-thumb-7.jpg', alt)
      .gal__img.gal__img-8
        a(data-fancybox='gallery', href='img/gal/gal-8.jpg')
          img(src='img/gal-thumb-8.jpg', alt)
      .gal__img.gal__img-9
        a(data-fancybox='gallery', href='img/gal/gal-9.jpg')
          img(src='img/gal-thumb-9.jpg', alt)