section.section.intro.intro_lite#audit-anchor
  .container.intro__container
    .intro__content
      .intro__heading
        h1 
          | Оставьте заявку на бесплатный аудит Вашего объекта и 
          span.intro__heading-highlight узнайте реальную стоимость уборки
      .destr.intro__destr
        div
          span.d-block Вы устраните найденные нами нарушения
          span.text_bold
            | до проверок Роспотребнадзора
            br
            | и Санэпидемстанции
        .destr__img
          picture
            source(srcset='img/intro-doc.webp', type='image/webp')
            img(src='img/intro-doc.png', alt='Изображение документа')
      .intro__why-wrap.row.m-x-0
        .flex-none
          .btn.btn_primary.modal-trigger(data-target='checkModal')
            span.text_uppercase Оставить заявку
        .why.intro__why
            
            
          .why__content-wrap
            .why__content
              .why__title Почему бесплатно?
                
              .why__text.
                Мы продемонстрируем Вам свою экспертность и выгоду работы с нами, Вы получите качественную услугу и сэкономите деньги!
                

    .intro__img
      picture
        source(srcset='img/intro-img.webp', type='image/webp')
        img(src='img/intro-img.png', alt='Девушка')
      //- .img__title
      //-   span Наталья Богданова
      //-   span.img__subtitle.d-block генеральный директор