.other-serv#serv-anchor
  .container 
    .section__heading.other-serv__heading
      h2 
        span Другие 
        span.text_bold услуги компании

    .other-serv__slider-container
      .swiper.other-serv__slider
        .swiper-wrapper


          .swiper-slide.other-serv-slide
            .services-card.services-card-01
              .services-card__img
                picture
                  source(srcset='img/serv-card-1.webp', type='image/webp')
                  img(src='img/serv-card-1.png', alt)
              .services-card__content
                .services-card__title
                  | Уборка производственных
                  br
                  | и пищевых помещений
                a.services-card__btn(href='company-cleaning.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-02
              .services-card__img
                picture
                  source(srcset='img/serv-card-2.webp', type='image/webp')
                  img(src='img/serv-card-2.png', alt)
              .services-card__content
                .services-card__title Уборка территории и вывоз снега
                a.services-card__btn(href='territory-cleaning.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-03
              .services-card__img
                picture
                  source(srcset='img/serv-card-3.webp', type='image/webp')
                  img(src='img/serv-card-3.png', alt)
              .services-card__content
                .services-card__title Дезинфекция помещений
                a.services-card__btn(href='room-desinfection.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-04
              .services-card__img
                picture
                  source(srcset='img/serv-card-4.webp', type='image/webp')
                  img(src='img/serv-card-4.png', alt)
              .services-card__content
                .services-card__title Инженерное обслуживание
                a.services-card__btn(href='eng-service.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-05
              .services-card__img
                picture
                  source(srcset='img/serv-card-5.webp', type='image/webp')
                  img(src='img/serv-card-5.png', alt)
              .services-card__content
                .services-card__title Уборка офисных помещений
                a.services-card__btn(href='office-cleaning.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-06
              .services-card__img
                picture
                  source(srcset='img/serv-card-6.webp', type='image/webp')
                  img(src='img/serv-card-6.png', alt)
              .services-card__content
                .services-card__title Уборка складских помещений
                a.services-card__btn(href='store-cleaning.html', target='_blank') + Подробнее
        

          .swiper-slide.other-serv-slide
            .services-card.services-card-07
              .services-card__img
                picture
                  source(srcset='img/serv-card-7.webp', type='image/webp')
                  img(src='img/serv-card-7.png', alt)
              .services-card__content
                .services-card__title Промышленный альпинизм
                a.services-card__btn(href='prom-climbing.html', target='_blank') + Подробнее
  


      .swiper-button-prev.other-serv__button.other-serv__button_prev
      .swiper-button-next.other-serv__button.other-serv__button_next

    .other-serv__footer 
      p 
        |Перейти на 
        a.text-link_blue(href="/") главную страницу 
        | и узнать подробнее о компании 