.subscribe
  .container
    .subscribe-row 

      .subscribe__item
        .subscribe-logo 
          picture
            source(srcset='img/check-blue-text.webp', type='image/webp')
            img(src='img/check-blue-text.png', alt="логотип")
        .subscribe-text 
          |Посмотрите видео и узнайте, почему 
          span.d-block.text_bold государственные и частные 
          span.d-block.text_bold организации  выбирают нас
        .subscribe__video 
          .subscribe__video-bg
            picture
              //- source(srcset='img/mob/subsc-video-mob.jpg', media='(max-width: 480px)', type='image/jpg')
              img(src='img/subsc-video.jpg', alt="логотип")
          .subscribe__video-btn 
            a(data-fancybox, href='https://www.youtube.com/watch?v=OXvaD_mP0AE')
              picture
                source(srcset='img/yt-btn.webp' type='image/webp')
                img(src='img/yt-btn.png', alt="")



      .subscribe__item
        .subscribe__social
          a(href='https://vk.com/tlevel', target='_blank')
            i.vk
          a(href='https://instagram.com/toplevelcleaning?igshid=YmMyMTA2M2Y=') 
            i.inst
          a(href='https://www.youtube.com/channel/UCWC5FbNbtQzSCYieFs4twzw', target='_blank')
            i.yt
        .subscribe-text 
          span.d-block Подписывайтесь на нас 
          span.d-block в социальных сетях 

        .subscribe__soc-screen 
          a(href="https://vk.com/tlevel", target="_blank") 
            picture
              source(srcset='img/subsc-screen.webp' type='image/webp')
              img(src='img/subsc-screen.png', alt="")