section.section.services
  .container.services__container
    .services-label
      .services-label__img
        picture
          source(srcset='img/serv-pig.webp', type='image/webp')
          img(src='img/serv-pig.png', alt='Копилка')
      .services-label__text
        span Умеем экономить до
        img.d-inline(src='img/serv-20.png', alt)
        span.d-inline-block.text_bold на клининговых услугах
    .section__heading.services__heading#serv-anchor
      h2
        | Наши 
        span.text_bold услуги
    .section__subheading
      p Мы знаем и учитываем специфику каждого предприятия
    .services__grid
      .services-card.services-card-01
        .services-card__img
          picture
            source(srcset='img/serv-card-1.webp', type='image/webp')
            img(src='img/serv-card-1.png', alt)
        .services-card__content
          .services-card__count / 01
          .services-card__title
            | Уборка производственных
            br
            | и пищевых помещений
          a.services-card__btn(href='https://tlevel.ru/promyshlennyj-klining/uborka-proizvodstvennyh-pomeshhenij/', target='_blank') + Подробнее
      .services-card.services-card-02
        .services-card__img
          picture
            source(srcset='img/serv-card-2.webp', type='image/webp')
            img(src='img/serv-card-2.png', alt)
        .services-card__content
          .services-card__count / 02
          .services-card__title Уборка территории и вывоз снега
          a.services-card__btn(href='https://tlevel.ru/kommercheskij-klining/uborka-snega/', target='_blank') + Подробнее
      .services-card.services-card-03
        .services-card__img
          picture
            source(srcset='img/serv-card-3.webp', type='image/webp')
            img(src='img/serv-card-3.png', alt)
        .services-card__content
          .services-card__count / 03
          .services-card__title Дезинфекция помещений
          a.services-card__btn(href='https://tlevel.ru/bytovoj-klining/dezinfekciya-kvartiry/', target='_blank') + Подробнее
      .services-card.services-card-04
        .services-card__img
          picture
            source(srcset='img/serv-card-4.webp', type='image/webp')
            img(src='img/serv-card-4.png', alt)
        .services-card__content
          .services-card__count / 04
          .services-card__title Инженерное обслуживание
          a.services-card__btn(href='https://tlevel.ru/kommercheskij-klining/inzhenernoe-obsluzhivanie/', target='_blank') + Подробнее
      .services-card.services-card-05
        .services-card__img
          picture
            source(srcset='img/serv-card-5.webp', type='image/webp')
            img(src='img/serv-card-5.png', alt)
        .services-card__content
          .services-card__count / 05
          .services-card__title Уборка офисных помещений
          a.services-card__btn(href='https://tlevel.ru/kommercheskij-klining/uborka-ofisov/', target='_blank') + Подробнее
      .services-card.services-card-06
        .services-card__img
          picture
            source(srcset='img/serv-card-6.webp', type='image/webp')
            img(src='img/serv-card-6.png', alt)
        .services-card__content
          .services-card__count / 06
          .services-card__title Уборка складских помещений
          a.services-card__btn(href='https://tlevel.ru/promyshlennyj-klining/uborka-skladov/', target='_blank') + Подробнее
      .services-card.services-card-07
        .services-card__img
          picture
            source(srcset='img/serv-card-7.webp', type='image/webp')
            img(src='img/serv-card-7.png', alt)
        .services-card__content
          .services-card__count / 07
          .services-card__title Промышленный альпинизм
          a.services-card__btn(href='https://tlevel.ru/promyshlennyj-klining/promyshlennyj-alpinizm/', target='_blank') + Подробнее

  //
      Manager
            ================================================== 
  include _b-manager.pug