section.section.tender
  .container
    .tender__content
      .tender__text
        | Участвуем в государственных и коммерческих 
        span.text_bold тендерах
      .btn.btn_secondary.modal-trigger(data-target='tenderModal') Пригласить на тендер
      .tender__img
        picture
          source(srcset='img/tender-folder.webp', type='image/webp')
          img(src='img/tender-folder.png', alt='Канцелярские синие папки')