.client190
  .client190__img
    picture
      source(srcset='img/cl-190-vacuum.webp', type='image/webp')
      img(src='img/cl-190-vacuum.png', alt)

  .client190__inner
    .client190-glow.client190-glow__left
    .client190-glow.client190-glow__right

    .container.client190__container
      

      .client190-card-wrap 
        .client190-card
          .client190-card__label 
            picture
              source(srcset='img/cl-190-label.webp', type='image/webp')
              img(src='img/cl-190-label.png', alt)

          .client190-digit.clip-text 190+
          .client190-card-text Опытных клинеров готовы к работе
        
      .client190-list-wrap
        ul.client190-list
          li  14 лет безупречной работы и чистой репутации
          li 100 000 м2 административных и офисных помещений убрано нашей компанией
          li от 35 до 65 руб./м2 - средняя стоимость уборки наших объектов, в зависимости от объема, графика и сложности работ