doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title 3D-card
    link(rel="stylesheet", href="css/style.css")
  body 

    mixin 3d-card(imgUrl)
      .card
        .card__inner
          .card__img 
              img(src=imgUrl, alt="Логтип компании Nike")
          .card__descr
            h3 Nike Logo
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vel voluptates temporibus cupiditate eos? Temporibus, eos cum ullam sunt nesciunt ducimus laborum velit ut autem.
            .btn.btn_black Посмотреть


    #pageWrapper
      header.header 
        h1 3D-card

      main.main

        +3d-card("img/nike-logo.jpg")
        +3d-card("img/nike-logo.jpg")
        +3d-card("img/nike-logo.jpg")
        +3d-card("img/nike-logo.jpg")





    //- 
          .card-wrapper
            .card
              figure.card__inner
                .card__img 
                  img(src="img/nike-logo.jpg", alt="Логтип компании Nike")
                figcaption.card__descr
                  h3 Nike Logo
                  p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum vel voluptates temporibus cupiditate eos? Temporibus, eos cum ullam sunt nesciunt ducimus laborum velit ut autem.
                  .btn.btn_black Посмотреть

    script(src="js/app.dev.js") 