doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Registration Form
        link(rel="stylesheet", href="style.css")
    body 
        |
        |
        h1 Registration Form
        |
        |
        .container.row
            .sidebar 
                |
                ul
                    li Input расположен после label
                    li Кастомный чекбокс
                    li Функционал скрытия пароля
                    li
                        s Валидация
                    li Состояние фокуса
                    li Состояние ошибки
                    |
                    |<!-- <li>advantage</li> -->
                    |<!-- <li>advantage</li> --> 
                |
                |
            .content
                .content__inner 
                |
                |
                <!-- COMPONENT`S CODE -->
                |<!-- Form -->
                form#login-form.form(action="#", name="loginForm", method="POST")
                    |
                    |<!-- email-group -->
                    .form__group.form__group_control
                        input#userName.form__control(type="email", required name="userName")
                        label.form__label.form__label_control(for="userName") Введите email
                    |
                    |
                    |<!-- password-group  -->
                    .form__group.form__group_control.form__group_pass.form__group_pass-confirm
                        input#userPass.form__control(type="password", required, name="userPass")
                        label.form__label.form__label_control(for="userPass") Введите пароль
                        .show-pass
                    |
                    |
                    |<!-- password-confirm-group  -->
                    .form__group.form__group_control.form__group_pass.form__group_pass-confirm.form__group_pass-confirm
                        input#userPassReplay.form__control(type="password", required, name="userPassReplay")
                        label.form__label.form__label_control(for="userPassReplay") Повторите пароль
                        .show-pass
                    |
                    |
                    |<!-- checkbox-group  -->
                    .fieldset.fieldset_check.fieldset_row
                        .form__group.form__group_check
                            input#userCheck.checkbox(type="checkbox", name="userCheck")
                            label.form__label.form__label_check(for="userCheck") Я даю согласие на обработку  моих персональных данных
                    |
                    |
                    |<!-- submit -->
                    .form__submit-wrap
                        input.btn.btn_prim.form__submit(type="submit", value="Зарегистрироваться") 
                    |
                    |
                |<!-- End Form -->
                <!-- END OF COMPONENT`S CODE -->


        script(src="script.dev.js")