// VARIABLES
$main-bg: #F6F8FB;

$radio-btn-border-color: rgba(196, 196, 196, 0.5);
$radio-btn-hover-border-color: rgb(179, 215, 255);
$radio-btn-active-border-color: rgb(179, 215, 255);
$radio-btn-focus-border-color: rgb(128, 189, 255);
$radio-btn-focus-shadow-color: rgba(0, 123, 255, 0.25);
$radio-btn-checked-border-color: rgb(11, 118, 239);

$radio-btn-bg: rgba(196, 196, 196, 0.5);
$radio-btn-active-bg: rgb(0, 119, 255);
$radio-btn-disabled-bg: rgb(11, 3, 34);
$radio-btn-checked-bg: rgb(11, 118, 239);
$radio-btn-disabled-bg: rgb(239, 233, 233);
// radio-btn sizes
$radio-outer-width: 1em;
$radio-inner-width: .5em;
$radio-outer-left-position: $radio-outer-width + .5em;
$radio-inner-left-position: $radio-outer-left-position - ($radio-outer-width - $radio-inner-width)/2;




// MIXINS





// COMMON STYLES
*,
*:before,
*:after{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
}

html{
    font-family: "Open Sans", "Arial", "Helvetica", sans-serif;
	font-weight: 400;
	font-size: 10px;
}
body{
	font-size: 1.6rem;
	line-height: 1.36;
	background: $main-bg;
}
h1 {
	font-size: 4.5rem;
	font-weight: 100;
	line-height: 1.177;
	text-align: center;
  }
.container{
    margin: 100px auto;
    padding: 0 15px;
    max-width: 960px;
}






// COMPONENT`S STYLES
.radio-btn{
    padding-left: $radio-outer-left-position;
    &__input{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__label{
        position: relative;
        display: inline-flex;
        align-items: center;
        user-select: none;
        &:before{
            content:'';
            position: absolute;
            left: -($radio-outer-left-position);
            display: inline-block;
            width: $radio-outer-width;
            height: $radio-outer-width;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            transition: .2s;
        }
        &:after{
            content:'';
            position: absolute;
            left: -($radio-inner-left-position);
            display: inline-block;
            width: $radio-inner-width;
            height: $radio-inner-width;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            transition: transform cubic-bezier(1,1.56,.55,1.52) .2s;
            transform: scale(0);
        }
    }
}

/* стили при наведении курсора на radio-btn */
.radio-btn__input:not(:disabled):not(:checked)+.radio-btn__label:hover::before{
	border-color: $radio-btn-hover-border-color;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.radio-btn__input:not(:disabled):active+.radio-btn__label::before {
	background-color: $radio-btn-active-bg;
	border-color: $radio-btn-active-border-color;
}
/* стили для радиокнопки, находящейся в фокусе */
.radio-btn__input:focus+.radio-btn__label::before {
    box-shadow: 0 0 0 0.1rem $radio-btn-focus-shadow-color;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radio-btn__input:focus:not(:checked)+.radio-btn__label::before {
	border-color: $radio-btn-focus-border-color;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.radio-btn__input:checked+.radio-btn__label::before {
	border-color: $radio-btn-checked-border-color;
	background-color: $radio-btn-checked-bg;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.radio-btn__input:checked+.radio-btn__label::after{
    transform: scale(1);
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.radio-btn__input:disabled+.radio-btn__label::before {
	background-color: $radio-btn-disabled-bg;
}

