/* COLORS */
// ----------------------------------------
$primary-color: #af1b71;
$main-bg: #F6F8FB;
$main-white: #fff;
$btn-sec-bg: #ff0;


/* GREED */
// ----------------------------------------
$gutter: 1.2rem;


// SWITCH BUTTON
// ----------------------------------------
$switch-btn-offset-right: .3em;
$switch-btn-width: 2.5em;
$switch-btn-height: .8em;
$switch-btn-border-width: .1rem;

$switch-btn-border-color: rgba(115, 115, 115, 1);
$switch-btn-flag-bg: rgba(115, 115, 115, 1);
$switch-btn-hover-border-color: darken($switch-btn-border-color, 25%);

$switch-btn-checked-border-color: rgba(50, 50, 255, 1);
$switch-btn-checked-flag-bg: rgba(50, 50, 255, 1);
$switch-btn-checked-hover-border-color: darken($switch-btn-checked-border-color, 25%);