//- TOP MENU - 1 level
mixin topMenu 
    nav
        ul.top-menu
            each menuItem, key in pages
                li.top-menu__item(class= (menuItem.name == page.name) ? 'current': '')
                    a(href= `${key}.html`)= menuItem.name


//- TOP MENU - 1 level
mixin topMenuUnderlined 
    nav
        ul.top-menu.top-menu_underlined
            each menuItem, key in pages
                li.top-menu__item(class= (menuItem.name == page.name) ? 'current': '')
                    a(href= `${key}.html`)= menuItem.name