-
    var page = {
        pageUrl: 'index.html',
        pageTitle: 'Новый проект',
        pageName: 'Главная',
    }
    
doctype html

html(lang="ru")
    include _includes/_head.pug


    body
        |
        |
        <!-- Header
        |
        |================================================== -->
        include _includes/_header.pug


        |
        |
        main
            .btn.btn_primary Кнопка
            br
            h1 Привет, я твой новый проект! !
            br
            section#gridTesting
                h2(style="margin: 2rem 0; font-size: 2rem;") Grid Testing
                .container(style="box-shadow: 0 0 2px #00f;")
                    .row(style="background-color: rgba(50, 50, 0, .5);")
                        .col_4.offset_2(style="background-color: rgba(150, 150, 200, .75);") col_4
                        .col_4.offset_2(style="background-color: rgba(150, 150, 200, .75);") col_4
                


        |
        |
        |<!-- footer
        |================================================== -->
        include _includes/_footer.pug


        |
        |
        |<!--script(src="./js/main.dev.js")-->
