|
|
.stars-wrapper
    .stars
        .star
            .triangle.triangle_top
            .triangle.triangle_top-left
            .triangle.triangle_bottom-left
            .triangle.triangle_top-right
            .triangle.triangle_bottom-right
        .star
            .triangle.triangle_top
            .triangle.triangle_top-left
            .triangle.triangle_bottom-left
            .triangle.triangle_top-right
            .triangle.triangle_bottom-right
        .star
            .triangle.triangle_top
            .triangle.triangle_top-left
            .triangle.triangle_bottom-left
            .triangle.triangle_top-right
            .triangle.triangle_bottom-right
        .star
            .triangle.triangle_top
            .triangle.triangle_top-left
            .triangle.triangle_bottom-left
            .triangle.triangle_top-right
            .triangle.triangle_bottom-right
        .star
            .triangle.triangle_top
            .triangle.triangle_top-left
            .triangle.triangle_bottom-left
            .triangle.triangle_top-right
            .triangle.triangle_bottom-right