|&lt;div class="stars-wrapper"&gt;
|  &lt;div class="stars"&gt;
|    &lt;div class="star"&gt;
|      &lt;div class="triangle triangle_top"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-right"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-right"&gt;&lt;/div&gt;
|    &lt;/div&gt;
|    &lt;div class="star"&gt;
|      &lt;div class="triangle triangle_top"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-right"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-right"&gt;&lt;/div&gt;
|    &lt;/div&gt;
|    &lt;div class="star"&gt;
|      &lt;div class="triangle triangle_top"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-right"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-right"&gt;&lt;/div&gt;
|    &lt;/div&gt;
|    &lt;div class="star"&gt;
|      &lt;div class="triangle triangle_top"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-right"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-right"&gt;&lt;/div&gt;
|    &lt;/div&gt;
|    &lt;div class="star"&gt;
|      &lt;div class="triangle triangle_top"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-left"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_top-right"&gt;&lt;/div&gt;
|      &lt;div class="triangle triangle_bottom-right"&gt;&lt;/div&gt;
|    &lt;/div&gt;
|  &lt;/div&gt;
|&lt;/div&gt;