
html{
	font-size: 10px;
	font-family: "Raleway", "Helvetica", sans-serif;
}
*, *::before, *::after{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
h1{
	text-align: center;
}
.container{
	margin: 0 auto;
	padding: 1rem 0;
	max-width: 96rem;
}
.gallery{
	display: -ms-grid;
	display: grid;
	-ms-grid-columns:  1fr 1fr 1fr 1fr 1fr;
	grid-template-columns:  1fr 1fr 1fr 1fr 1fr;

	grid-gap: 1rem;
}
.gallery__item{
	position: relative;
	padding-top: 100%;
	border-radius: .5rem;
	overflow: hidden;

	-webkit-box-shadow: 0 0 1px 0 rgba(0, 0, 255, 1);
	box-shadow: 0 0 1px 0 rgba(0, 0, 255, 1);
}
.gallery__item-caption{
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 2.5rem;
	font-weight: 700;
	color: rgba(0, 0, 0, .5);
	background-color: rgba(255, 255, 255, .3);
	z-index: 2;
	opacity: 1;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.gallery__item-caption:hover{
	opacity: 0;
}
.gallery__img{
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	z-index: 1;
	opacity: 0;
	-webkit-transition: .5s;
	-o-transition: .5s;
	transition: .5s;
}
.gallery__img.loaded{
	opacity: 1;
}
.img-loader{
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	z-index: 5;
	width: 100%;
	height: 100%;
	background: url('28048f2d32b58d77eb01087c37e1c337.gif') no-repeat;
	background-size: cover;
}
.img-loader.fadeOut{
	opacity: 0;
	-webkit-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}


@media screen and (max-width: 960px){
	.gallery{
		-ms-grid-columns:  1fr 1fr 1fr 1fr;
		grid-template-columns:  1fr 1fr 1fr 1fr;
	}
}

@media screen and (max-width: 768px){
	.gallery{
		-ms-grid-columns:  1fr 1fr 1fr;
		grid-template-columns:  1fr 1fr 1fr;
	}
}

@media screen and (max-width: 576px){
	.gallery{
		-ms-grid-columns:  1fr 1fr;
		grid-template-columns:  1fr 1fr;
	}
}

@media screen and (max-width: 480px){
	.gallery{
		-ms-grid-columns:  1fr;
		grid-template-columns:  1fr;
	}
}