footer.footer#footer(style="padding: 15rem;")
    .container 
        .row
            .col
                .footer-col__item.logo
                    .logo_img
                        img(src="img/logo-blue.png", alt="Логотип - toplevel")
                    .logo__caption коммерческий клининг

                .footer-col__item.text_grey 
                    |© Клининговая компания 
                    br
                    |Top Level, 2009-2022

                .footer-col__item.text_grey
                    |ИНН 6315624973
                    br
                    |ОГРН 1096315002706


            .col 
                address.footer__address.footer-col__item
                    |443011, г. Самара, 
                    br
                    |3-я просека, д. 250

                .footer__timetable.footer-col__item
                    |Режим работы: 
                    br
                    |пн-пт, с 9 до 18

                .footer__mail.footer-col__item
                    |E-mail:
                    br
                    a(href="mailto:") 
                        |tlevel@tlevel.ru


            .col
                .footer__contacts
                    .footer__phone 
                        a(href="tel:+78000000000") 8 (800) 000-00-00
                    .footer__cb-btn Обратный звонок
                    .footer__social 
                        a(href="#")
                            i.vk
                        a(href="#")
                            i.inst
                        a(href="#")
                            i.yt


            .col 
                nav 
                    ul.footer-menu 
                        li.footer-menu__item
                            a(href="#") Записаться на аудит
                        li.footer-menu__item
                            a(href="#") Наши услуги
                        li.footer-menu__item
                            a(href="#") Эксперты Top Level
                        li.footer-menu__item
                            a(href="#") Видеоотзывы
                        li.footer-menu__item
                            a(href="#") Записаться на экскурсию
                        li.footer-menu__item
                            a(href="#") Политика конфиденциальности