footer.footer#footer
    .container 
        .row
            .col
                .footer-col__item.footer__logo.logo
                    a(href="#header") 
                        .logo_img
                            img(src="img/logo-blue.png", alt="Логотип - toplevel")
                        .logo__caption коммерческий клининг

                .footer-col__item.text_grey 
                    |© Клининговая компания 
                    br
                    |Top Level, 2009-2022

                .footer-col__item.text_grey
                    |ИНН 6315624973
                    br
                    |ОГРН 1096315002706


            .col.footer__col_2
                .footer__address-wrapper
                    address.footer__address.footer-col__item
                        |443011, г. Самара, 
                        br
                        |3-я просека, д. 250

                    .footer__timetable.footer-col__item
                        |Режим работы: 
                        br
                        |пн-пт, с 9 до 18

                    .footer__mail.footer-col__item
                        |E-mail:
                        br
                        a(href="mailto:tlevel@tlevel.ru") 
                            |tlevel@tlevel.ru


            .col
                .footer__contacts
                    .footer__phone 
                        a(href="tel:+78000000000") 8 (800) 000-00-00
                    .footer__cb-btn.modal-trigger(data-target="callBackModal") Обратный звонок
                    .footer__social 
                        a(href="https://vk.com/tlevel", target="_blank")
                            i.vk
                        a(href="#")
                            i.inst
                        a(href="https://www.youtube.com/channel/UCWC5FbNbtQzSCYieFs4twzw", target="_blank")
                            i.yt


            .col 
                nav 
                    ul.footer-menu 
                        li.footer-menu__item
                            a(href="#audit-anchor") Записаться на аудит
                        li.footer-menu__item
                            a(href="#serv-anchor") Наши услуги
                        li.footer-menu__item
                            a(href="#expert-anchor") Эксперты Top Level
                        li.footer-menu__item
                            a(href="#rev-anchor") Видеоотзывы
                        li.footer-menu__item
                            a(href="#tour-anchor") Записаться на экскурсию
                        li.footer-menu__item
                            a(href="https://tlevel.ru/obrabotka-personalnyh-dannyh/", target="_blank") Политика конфиденциальности