
header.header#header
    .container.header__content
        .logo
            .logo_img
                img(src="img/logo-white.png", alt="Логотип - toplevel")
            .logo__caption коммерческий клининг
        
        .header-descr 
            .header-descr__content
                i.house-blue.header-descr__house
                .header-descr__text
                    |Услуги по коммерческому и промышленному клинингу в 
                    span.header-descr__highlight г. Самара

        .header__contacts 
            .header__phone 
                a(href="tel:+78000000000") 
                    span.tel-blue.d-none.d-i-block_sm
                    span.d-none_sm +7 (800) 000-00-00
            .header__cb-btn.modal-trigger.d-none_sm(data-target="callBackModal") Перезвоните мне