head
    |
    |
    <!--Basic Page Needs 
    |
    |==============================================-->
    meta(charset="UTF-8")
    title= page ? page.pageTitle : 'отсутствует переменная page'
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="robots", content="index, nofollow")


    |
    |
    |<!--Fonts preload
    |==================================================-->
    //- Winston-Light
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-Light.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-Light.woff" type="font/woff" crossorigin="anonymous") 
    //- link(rel="preload" as="font" href="fonts/Winston-Light.ttf" type="font/ttf" crossorigin="anonymous")
    |
    
    //-  Winston-Regular
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-Regular.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-Regular.woff" type="font/woff" crossorigin="anonymous") 
    //- link(rel="preload" as="font" href="fonts/Winston-Regular.ttf" type="font/ttf" crossorigin="anonymous")
    |
    
    //- Winston-Medium
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-Medium.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-Medium.woff" type="font/woff" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-Medium.ttf" type="font/ttf" crossorigin="anonymous")
    |

    //- Winston-SemiBold
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-SemiBold.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-SemiBold.woff" type="font/woff" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-SemiBold.ttf" type="font/ttf" crossorigin="anonymous")
    |
    
    //- Winston-ExtraBold
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-ExtraBold.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-ExtraBold.woff" type="font/woff" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-ExtraBold.ttf" type="font/ttf" crossorigin="anonymous")
    |
    
    //- Winston-BlackItalic
    //- ==================================================
    link(rel="preload" as="font" href="fonts/Winston-BlackItalic.woff2" type="font/woff2" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-BlackItalic.woff" type="font/woff" crossorigin="anonymous")
    //- link(rel="preload" as="font" href="fonts/Winston-BlackItalic.ttf" type="font/ttf" crossorigin="anonymous")
    //- И так далее с каждым начертанием шрифта
    |
    |<!--Fonts preload end-->


    |
    |
    |<!--Mobile Specific Metas 
    |================================================== -->
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


    |
    |
    |<!--CSS
    |================================================== -->
    //- link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css")
    //- link(rel="stylesheet", href="jquery.fancybox.min.css")
    link(rel="stylesheet", href="swiper.min.css")
    link(rel="stylesheet", href="css/style.css")


    
    
    //- СТИЛИ ДЛЯ ПОДДЕРЖКИ РАЗНЫХ ВЕРСИЙ IE 
    //-----------------------------------------------------
    
    //- Стили для IE >= 10
    //- link(rel="stylesheet", href="css/gte-ie10-style.css")
    
    //- Стили для IE < 10
    
    //- [if lt IE 10]><link rel="stylesheet" href="css/lt-ie10-style.css"><![endif]


    |
    |
    |<!-- Favicons
    |================================================== -->
    //- Старый способ - подержка в IE10 
    link(rel="shortcut icon" href="img/favicons/favicon.ico" type="image/x-icon")

    //- SVG иконка для вкладок, размер "любой"
    //- link(rel="icon" href="img/favicons/favicon.svg" sizes="any" type="image/svg+xml")
    //- Или .png иконка размерами 16x16 и 32x32-для ретины
    //- Touch иконка работает на iPad4,
        //- не работает svg, формат .png для Apple 180x180
    //- link(rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon-180x180.png" type="image/png")
    //- Manifest пока в основном для touch иконок для Android - минимум 192x192
    //- link(rel="manifest", href="manifest.webmanifest")