extends ../_templates/_base.pug

block page-vars
  -
    let page = pages.page4;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  main
    section.baner.has-bg
      .bg.bg_cover.baner__bg
        picture
          //- source(media='(max-width: 575px)' srcset='img/' type='image/jpg')
          |
          |
          //- img(src='img/baner-bg.jpg' alt='')

      .container
        .baner__heading
          h1 H1 Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex, necessitatibus?



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!