@use '_partials/variables' as v;

.checkbox{
    &__input{
        position: absolute;
        display: none;
        &:checked + .checkbox__label::before{
           border-color: v.$checkbox-border-color;
           background-color: v.$checkbox-bg;
           background-image: url("../img/check-icon.svg");
        }
    }
    &__label{
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: pointer;
        &:before{
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-right: 1em;
            content: '';
            height: 1.2em;
            width: 1.2em;
            border: solid 1px v.$checkbox-border-color;
            background-color: v.$checkbox-bg;
            background-repeat: no-repeat;
            background-size: 115%;
            background-position: center;
            -webkit-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
        }
    }
}

/* стили при наведении курсора на checkbox */
.checkbox__input:not(:disabled):not(:checked)+.checkbox__label:hover::before{
	border-color: v.$checkbox-hover-border-color;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
 .checkbox__input:not(:disabled):active+.checkbox__label::before{
	background-color: v.$checkbox-active-bg;
	border-color: v.$checkbox-active-border-color;
}

 /* стили для чекбокса, находящегося в состоянии disabled */
.checkbox__input:disabled+.checkbox__label::before {
  background-color: v.$checkbox-disabled-bg;
}

/* стили для чекбокса, находящегося в фокусе */
/* не отображается, т.к. .checkbox {display: none;} */
/* .checkbox__input:focus+.checkbox__label::before{
	-webkit-box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
   border-color: #ff0000;
} */

/* стили для чекбокса, находящегося в фокусе НО НЕ CHECKED */
/* не отображается, т.к. .checkbox {display: none;} */
/* .checkbox__input:focus:not(:checked)+.checkbox__label::before{
	border-color: #000000;
} */