|.select
|    span.select__option_selected
|        | Выбрать город
|    span.arrow-bg
|        span.arrow
|
|    .select__option-box
|        ul
|            li.select__option Астрахань
|            li.select__option Белгород
|            li.select__option Воронеж
|            li.select__option Грозный
|            li.select__option Екатеринбург
|            li.select__option Казань
|            li.select__option Москва
|            li.select__option Новосибирск
|            li.select__option Пермь
|            li.select__option Ростов-на-Дону
|            li.select__option Санкт-Петербург
|            li.select__option Тюмень
|            li.select__option Чита
|
|
|.select
|    span.select__option_selected
|        | Выбрать город
|    span.arrow-bg
|        span.arrow
|
|    .select__option-box
|        ul
|            li.select__option Астрахань
|            li.select__option Белгород
|            li.select__option Воронеж
|            li.select__option Грозный
|            li.select__option Екатеринбург
|            li.select__option Казань
|            li.select__option Москва
|            li.select__option Новосибирск
|            li.select__option Пермь
|            li.select__option Ростов-на-Дону
|            li.select__option Санкт-Петербург
|            li.select__option Тюмень
|            li.select__option Чита