-
    var page = {
        pageUrl: 'index.html',
        pageTitle: 'Главная - YS',
        pageName: 'Главная',
    }
    
doctype html

html(lang="ru")
    include _includes/_head.pug


    body
        .wrapper
            |
            |
            <!-- Header
            |
            |================================================== -->
            include _includes/_header.pug


            |
            |
            main
                section.section.intro
                    .container.intro__container
                        .intro__content 
                            .intro__heading 
                                h1
                                    |Нужен стабильный интернет в загородный дом или на дачу? 
                                    span.intro__subheading С подключением за 1 день, 
                                        span.d-block_xl.d-inline_md.d-block_sm без вызова мастеров, 
                                        span.d-block_sm.d-inline_md.d-block_sm от 400 руб./мес.

                            .intro-power
                                .intro-power__inner
                                    b.d-block_md Купите «Street 2 PRO»
                                    | и уже через 12 минут после включения, вы получите стабильный интернет с Wi-Fi раздачей в любом месте РФ и СНГ*
                                .intro-power__img.intro-power__img_street
                                    img(src="img/lte.png", alt="Street 2 PRO")
                                .intro-power__img.intro-power__img_arrow
                                    img(src="img/arrow-round.svg", alt="arrow")

                            .intro-offer.line-blue Посмотрите 2х минутное видео о нашем устройстве или скачайте презентацию в pdf

                            .intro-btns 
                                button.btn.btn_primary
                                    i.svg-play-transp.svg-play-transp-dims
                                    span.btn__text Посмотреть видео 
                                    span.btn__text.d-none_sm об устройстве
                                a(href="img/zhuk.png", download).btn.btn_file 
                                    i.svg-pdf.svg-pdf-dims




                        .section__img.intro__man
                            picture 
                                source(srcset="img/x720/intro-man-388x680.png", media="(max-width: 991px)", type="image/png")
                                img(src="img/intro-man.png", alt="мужчина")
    

                    .section__bg.section__bg_cover.intro__bg
                        picture 
                            source(srcset="img/x320/bg-intro-320.png", media="(max-width: 414px)", type="image/png")
                            img(src="img/bg-intro.png", alt=" ")
                        

                    .section__bg.section__bg_contain.intro__clouds 
                        .section__bg.section__bg_contain.intro__man_mobile
                            picture 
                                source(srcset="img/x320/intro-man-176x309.png", media="(max-width: 575px)", type="image/png")
                                img(src="img/intro-man.png", alt="мужчина")
                        img(src="img/intro-cloud.png", alt=" ")


            
                


        //- |
        //- |
        //- |<!-- footer
        //- |================================================== -->
        //- include _includes/_footer.pug


        //- |
        //- |
        |
        |
        #modal-1235.modal
            .modal__content
                .modal__header
                    h4 Заголовок модального окна
                    button.modal-close.modal__close 
                        |
                        span.modal-close__item
                        |
                        |
                        span.modal-close__item

                .modal__body
                    p.
                        Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Своих щеке рыбного lorem? Гор себя маленький языком океана рыбными. Ручеек текстов взобравшись путь от всех о составитель пор букв большого рыбными lorem эта на берегу реторический которой лучше, проектах рот переписывается коварный что! До подзаголовок толку океана которой рукопись, свое возвращайся.

                .modal__footer
                    p footer

            .modal__overlay.modal-close


        script(src="js/script1.js")
