-
    var page = {
        pageUrl: 'index.html',
        pageTitle: 'Главная - YS',
        pageName: 'Главная',
    }
    
doctype html

html(lang="ru")
    include _includes/_head.pug


    body
        .wrapper#wrapper
            |
            |
            <!-- Header
            |
            |================================================== -->
            include _includes/_header.pug


            |
            |
            main
                section.section.intro
                    .container.intro__container
                        .intro__content 
                            .intro__heading 
                                h1
                                    |Нужен стабильный интернет в загородный дом или на дачу? 
                                    span.intro__subheading С подключением за 1 день, 
                                        span.d-block_xl.d-inline_md.d-block_sm без вызова мастеров, 
                                        span.d-block_sm.d-inline_md.d-block_sm от 400 руб./мес.

                            .intro-power
                                .intro-power__inner
                                    b.d-block_md Купите «Street 2 PRO»
                                    | и уже через 12 минут после включения, вы получите стабильный интернет с Wi-Fi раздачей в любом месте РФ и СНГ*
                                .intro-power__img.intro-power__img_street
                                    img(src="img/lte.png", alt="Street 2 PRO")
                                .intro-power__img.intro-power__img_arrow
                                    img(src="img/arrow-round.svg", alt="arrow")

                            .intro-offer.line-blue Посмотрите 2х минутное видео о нашем устройстве или скачайте презентацию в pdf

                            .intro-btns 
                                a(data-fancybox, href="https://www.youtube.com/watch?v=eGniutFG45k")
                                    button.btn.btn_primary.btn_shiny
                                        i.svg-play-transp.svg-play-transp-dims
                                        span.btn__text Посмотреть видео 
                                        span.btn__text.d-none_sm об устройстве
                                a(href="img/zhuk.png", title="Скачать PDF" download).btn.btn_file 
                                    i.svg-pdf.svg-pdf-dims.icon_default
                                    i.svg-pdf-white.svg-pdf-white-dims.icon_hover




                        .section__img.intro__man
                            picture 
                                source(srcset="img/x720/intro-man-388x680.png", media="(max-width: 991px)", type="image/png")
                                img(src="img/intro-man.png", alt="мужчина")

                    
                        .section__bg.section__bg_contain.intro__clouds
                            .section__bg.section__bg_contain.intro__man_mobile
                                picture 
                                    source(srcset="img/x320/intro-man-176x309.png", media="(max-width: 575px)", type="image/png")
                                    img(src="img/intro-man.png", alt="мужчина")
                            img(src="img/intro-cloud.png", alt=" ")
    

                    .section__bg.section__bg_cover.intro__bg
                        picture 
                            source(srcset="img/x320/bg-intro-320.png", media="(max-width: 414px)", type="image/png")
                            img(src="img/bg-intro.png", alt=" ")
                        

                    //- .section__bg.section__bg_contain.intro__clouds 
                    //- .section__bg.section__bg_contain.intro__man_mobile
                    //-     picture 
                    //-         source(srcset="img/x320/intro-man-176x309.png", media="(max-width: 575px)", type="image/png")
                    //-         img(src="img/intro-man.png", alt="мужчина")
                        //- img(src="img/intro-cloud.png", alt=" ")


            
                


        //- |
        //- |
        //- |<!-- footer
        //- |================================================== -->
        //- include _includes/_footer.pug


        //- |
        //- |
        |
        |
        #modal.modal
            .modal__content.modal-callback
                .modal__header
                    h3 Консультация
                    p Прямо сейчас оставьте заявку на консультацию – расскажем как и ответим на все ваши вопросы.

                    button.modal-close.modal__close 
                        |
                        span.modal-close__item
                        |
                        |
                        span.modal-close__item

                .modal__body

                    form.form(action="mail.php", id="modalCbForm" name="modalCbForm" method="POST") 
                        //- name-group
                        .form__group.form__group_control
                            input.form__control(type="text", name="userName", id="userName", required) 
                            label.form__label.form__label_control(for="userName") 
                                |Ваше имя
                            i.svg-user.svg-user-dims.form-icon
                        //- email-group
                        .form__group.form__group_control
                            input.form__control(type="text", name="userPhone", id="userPhone", required) 
                            label.form__label.form__label_control(for="userPhone") 
                                |Ваш телефон
                            i.svg-phone.svg-phone-dims.form-icon
                            
                        //- submit
                        .form__submit-wrap.loader-container
                            input.btn.btn_primary.btn_full-width.form__submit(type="submit", value="Перезвоните мне")

                        .form__footer
                            p Нажимая кнопку, Вы соглашаетесь
                                br
                                |с политикой конфиденциальности сайта

            .modal__overlay.modal-close


        script(src="https://code.jquery.com/jquery-3.6.0.js",
                integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=",
                crossorigin="anonymous") 
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.js",                                     integrity="sha512-uURl+ZXMBrF4AwGaWmEetzrd+J5/8NRkWAvJx5sbPSSuOb0bZLqf+tOzniObO00BjHa/dD7gub9oCGMLPQHtQA==" crossorigin="anonymous")
        script(src="js/script1.js")
