.form-radio-wrap
  input#radio1.form-radio(type="radio" name="radio")
  label.form-label-radio(for="radio1") PHP

.form-radio-wrap
  input#radio2.form-radio(type="radio" name="radio")
  label.form-label-radio(for="radio2") Java Script

.form-radio-wrap
  input#radio3.form-radio(type="radio" name="radio")
  label.form-label-radio(for="radio3") Python

.form-radio-wrap
  input#radio4.form-radio(type="radio" name="radio", disabled)
  label.form-label-radio(for="radio4") Disabled Button
|
|