|&lt;div class="form-radio-wrap"&gt;
|  &lt;input class="form-radio" id="radio1" type="radio" name="radio"&gt;
|  &lt;label class="form-label-radio" for="radio1"&gt;PHP&lt;/label&gt;
|&lt;/div&gt;
|&lt;div class="form-radio-wrap"&gt;
|  &lt;input class="form-radio" id="radio2" type="radio" name="radio"&gt;
|  &lt;label class="form-label-radio" for="radio2"&gt;Java Script&lt;/label&gt;
|&lt;/div&gt;
|&lt;div class="form-radio-wrap"&gt;
|  &lt;input class="form-radio" id="radio3" type="radio" name="radio"&gt;
|  &lt;label class="form-label-radio" for="radio3"&gt;Python&lt;/label&gt;
|&lt;/div&gt;
|&lt;div class="form-radio-wrap"&gt;
|  &lt;input class="form-radio" id="radio4" type="radio" name="radio" disabled&gt;
|  &lt;label class="form-label-radio" for="radio4"&gt;Disabled Button&lt;/label&gt;
|&lt;/div&gt;