doctype html
html(lang="ru")


    //- Common variables
    include _vars.pug


    //- Mixins
    include ../_mixins/_m-default


    //- Page`s variables
    block page-vars


    head
        block head
            include ../_includes/_head.pug
        if (ieBung)
            block ie-bung-styles
                include ../_includes/_ie-bung-styles.pug

    
    body 
        //- 
            Заглушка для Internet Explorer
                - разметка в _includes/_ie-bung.pug
                - стили для IE > 9 в _includes/_ie-bung-styles.pug
                - стили для IE <= 9 в _includes/_ie-bung-styles.pug
                - изображения для ссылок собираются в srite.png
        if (ieBung) 
            block ie-bung
                include ../_includes/_ie-bung.pug

        .wrapper#wrapper

            |
            |

        
            block header
                include ../_includes/_header.pug
            
            |
            |
            main
                block main

            |
            |
            //
                footer
                ==================================================
            
            block footer
                include ../_includes/_footer.pug

            |
            |
            //-
                Modals
                ==================================================
            block modals
                |
                |
                
                //- modal-callback
                //- ==================================================
                include ../_includes/_modals/_modal-callback.pug

        |
        |
        //-
            Scripts
            ==================================================
        //- block scripts

            //- LOCAL SCRIPTS  
            //- script(src="libs/jQuery-3.6.0.js")
            //- script(src="libs/jquery.fancybox.min.js")
            //- script(src="libs/swiper.min.js")
            //- script(src="js/script.js")