//- Common variables
-
    let author = 'Artem Dots'
    let themeColor = '#0060aa'
    let fonts = [
        'Winston-Light',
        'Winston-Regular',
        'Winston-Medium',
        'Winston-SemiBold',
        'Winston-ExtraBold',
        'Winston-MediumItalic',
        'Winston-SemiBoldItalic',
        'Winston-BoldItalic',
        'Winston-ExtraBoldItalic',
        'Winston-BlackItalic',
        'Mont-Black'
    ];

    // Если требуется заглушка для Internet Explorer
    let ieBung = true
    
    //- ! URL определяется автоматом в миксине "меню" : pages-key+.html
    let pages = {
        index: {
            name:   'главная',
            title:  'Клининговая компания Top Level — Клининг в Самаре',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        roomDisinfection: {
            name:   'Дезинфекция помещений',
            title:  'Дезинфекция помещений - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        engService: {
            name:   'Инженерное обслуживание',
            title:  'Инженерное обслуживание - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        promClimbing: {
            name:   'Промышленный альпинизм',
            title:  'Промышленный альпинизм - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        officeCleaning: {
            name:   'Уборка офисных и административно-хозяйственных помещений',
            title:  'Уборка офисных и административно-хозяйственных помещений - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        companyCleaning: {
            name:   'Уборка пищевых предприятий и промышленных производств',
            title:  'Уборка пищевых предприятий и промышленных производств - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        storeCleaning: {
            name:   'Уборка складских помещений',
            title:  'Уборка складских помещений - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
        territoryCleaning: {
            name:   'Уборка и озеленение коммерческих территорий, чистка и вывоз снега',
            title:  'Уборка и озеленение коммерческих территорий, чистка и вывоз снега - Top Level',
            descr:  'Клининговые услуги в Самаре - клининг по цене от 25 руб/м2. Все тарифы на уборку на сайте. Звоните +7 (846) 206-03-04',
            author:  author,
        },
    };