doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/style.css")

    
  body 
    .skill 
      .outer 
        .inner
          #number 65%

      svg(width="160", height="160")
        defs
          linearGradient#GradientColor 
            stop(offset="0%", stop-color="#e91e63")
            stop(offset="100%", stop-color="#673ab7")
        circle#progress(cx="80", cy="80", r="70", stroke-linecap="round")
            

    script(src="js/script.dev.js") 