/* COLORS */

$primary-color: #af1b71;
$main-bg: #F6F8FB;
$main-white: #fff;
$btn-sec-bg: #ff0;

/* GREED */
$gutter: 1.2rem;

// radio-btn variables
// radio-btn colors
$radio-btn-border-color: rgba(196, 196, 196, 0.5);
$radio-btn-hover-border-color: rgb(179, 215, 255);
$radio-btn-active-border-color: rgb(179, 215, 255);
$radio-btn-focus-border-color: rgb(128, 189, 255);
$radio-btn-focus-shadow-color: rgba(0, 123, 255, 0.25);
$radio-btn-checked-border-color: rgb(11, 118, 239);

$radio-btn-bg: rgba(196, 196, 196, 0.5);
$radio-btn-active-bg: rgb(0, 119, 255);
$radio-btn-disabled-bg: rgb(11, 3, 34);
$radio-btn-checked-bg: rgb(11, 118, 239);
$radio-btn-disabled-bg: rgb(239, 233, 233);
// radio-btn sizes
$radio-outer-width: 1em;
$radio-inner-width: .5em;
$radio-outer-left-position: $radio-outer-width + .5em;
$radio-outer-top-position: .1em;
$radio-inner-left-position: $radio-outer-left-position - ($radio-outer-width - $radio-inner-width)/2;
$radio-inner-top-position: ($radio-outer-width - $radio-inner-width)/2 + $radio-outer-top-position;
