/* COLORS */
/* МЕДИАЗАПРОС ДЛЯ СУПЕР МЕГА КРУТОГО БРАУЗЕРА */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .main {
    background: no-repeat center url(../img/main/main-bg.jpg);
  }
  .order__item_left {
    background: url(../img/main/order-img.jpg) center no-repeat;
  }
  .order__form .fieldset select::-ms-expand {
    display: none;
  }
  .about {
    background: #f1f4f6 url(../img/about/about-bg.png) top 42rem right 5.5rem no-repeat;
  }
  .personal-trainer {
    background: #f1f4f6 url(../img/personal-trainer/personal-trainer-bg.png) center no-repeat;
  }
  .promotions .tru-for-free {
    background: url(../img/promotions/promotion1.jpg) center no-repeat;
    background-size: cover;
  }
  .promotions .call-us {
    background: url(../img/promotions/promotion2.jpg) center no-repeat;
    background-size: cover;
  }
  .preview-link1 {
    background: url(../img/footer/blogs_link_img/preview-link1.jpg) center no-repeat;
  }
  .preview-link2 {
    background: url(../img/footer/blogs_link_img/preview-link2.jpg) center no-repeat;
  }
  .preview-link3 {
    background: url(../img/footer/blogs_link_img/preview-link3.jpg) center no-repeat;
  }
  .inst-fotos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .inst-fotos img {
    max-width: 33%;
  }
  .inst-fotos img:nth-child(4),
  .inst-fotos img:nth-child(5),
  .inst-fotos img:nth-child(6) {
    margin-top: 2px;
    margin-bottom: 2px;
  }
  /* ======================================MODALS======================================= */
  .modal-close__item {
    right: 0rem;
    top: 1rem;
  }
}
