html{
	font-size: 10px;
	box-sizing: border-box;
}
*, *:before, *:after{
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}
body{
	min-height: 100vh;
	font-family: 'Verdana';
	background-color: rgba(0,0,0,.1);
}
h1{
	margin: 5rem auto;
	font-family: 'Arial';
	font-size: 3.5rem;
	color: #fff;
	text-align: center;
	text-transform: uppercase;
}
.container{
	/*position: absolute;*/
	margin: 5rem auto 0;
	display: flex;
	/*padding: 2rem;
	max-width: 100rem;*/
	border-radius: .5rem;
	/*background-color: rgba(255,255,255,1);*/
}
#collapse{
	margin: 0 auto;
	max-width: 50rem;
	font-size: 2rem;
	border: 1px solid #000;
	border-radius: .5rem;
	list-style: none;
	box-shadow: 0 1.5rem 2rem rgba(0,0,0,.15);
	overflow: hidden;
}
#collapse li:not(:last-child) {
	border-bottom: 1px solid #000;
}
.collapse-btn{
	padding: 0 .5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: #efefef;
	cursor: pointer;
}
.collapse-btn:after{
	margin-right: 1em;
	display: inline-block;
	width: .5em;
	height: .5em;
	content: '';
	border-right: solid 2px #000;
	border-bottom: solid 2px #000;
	transform: rotate(-45deg);
	transition: .3s ease;
}
.collapse-btn.open{
	background: #dedede;
}
.collapse-btn.open:after{
	transform: rotate(45deg);
}
.collapse-btn:hover{
	background: #dedede;
}
.collapse-content{
	padding: 0 .5em;
	max-height: 0;
	text-align: justify;
	background: #fff;
	box-shadow: inset 0 1px 0px 0px rgba(0,0,0,1);
	overflow: hidden;
	transition: .3s ease;
}
.collapse-content p {
	margin: .5em 0;
}