doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title TEST | OUTLINE
        link(rel="stylesheet", href="css/style.css")
    body 
        main 
            .container 
                .elem.outline 
                    .elem__caption  
                        p Элемент с outline

            .container 
                input.elem.outline(placeholder="Input с outline")
                        