@use '_partials/variables' as v;
@use '_partials/mixins' as m;


@import "comments.scss";
@import "fonts.scss";
@import "default.scss";
// @import "grid.scss";


/* V. Sprite
--------------------------------------- */ 

/* 1. Sprite:svg 
-------------------------*/
// Для добавления svg-спрайтов: необходимо только задать нужный класс а html.
// например     i.svg-icons.svg-icons-dims
// @import "../../../tmp/scss/sprite-svg.scss";


/* 2. Sprite:png  
-------------------------*/
// scss-свойства спрайтов не добавлены по умочанию, свойство каждого спрайта нужно добавлять отдельно.
// Для добавления png-спрайтов:
//      - добавить в html разметку
//                                  div.sprite-class либо 
//                                  i.sprite-class
//      - добавить в scss-файл свойство 
//                                   .icon-home {
//                                          @include sprite($icon-email);
//                                  }
@import "../../../tmp/scss/sprite-png.scss";

// Sprite:png styles
// .icon-email {
//   @include sprite($icon-email);
// }
.house-blue {
  @include sprite($house-blue);
}
.qoutes {
  @include sprite($qoutes);
}
.awa-arrow {
  @include sprite($awa-arrow);
}

.vk {
  @include sprite($vk);
}

.inst {
  @include sprite($inst);
}

.yt {
  @include sprite($yt);
}

.form-screp {
  @include sprite($form-screp);
}

.tel-blue {
  @include sprite($tel-blue);
}


// Здесь будут основные стили проекта
/* VI. Layout
--------------------------------------- */
.header,
.intro{
  color: v.$text-white;
}

/* Header 
------------------------- */
.header{
  position: absolute;
  top: 7.5rem;
  left: 0;
  right: 0;
  z-index: 10;
  width: 100%;
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-descr{
    padding: 2rem 4rem 1.5rem;
    background: v.$header-descr-bg;
    border-radius: 1rem;
    cursor: default;
    &__content{
      display: flex;
    }
    &__house{
      margin-top: .2rem;
      margin-right: 1rem;
    }
    &__text{
      max-width: 22rem;
      font-weight: 500;
    }
    &__highlight{
      font-weight: 800;
      color:v.$header-descr__highlight;
      text-decoration: underline;
    }
  }
  &__contacts{
    text-align: right;
  }
  &__phone{
    a{
      font-size: 3rem;
      font-weight: 700;
      color: v.$header-phone;
      transition: color 0s;
      &:hover{
        color: darken(v.$header-phone, 15%);
      }
    }
  }
  &__cb-btn{
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}

.logo{
   max-width: 22rem;
   cursor: default;
  &__caption{
    font-size: 1.32rem;
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    letter-spacing: .075em;
  }
}



/* Lazy 
-------------------------*/
// .lazy {
//    width: 100%;
//    height: 100%;
//    position: relative;
//       background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), -o-linear-gradient(#DDD 100%, transparent 0);
//       background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DDD), color-stop(0, transparent));
//       background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), linear-gradient(#DDD 100%, transparent 0);
//       background-repeat: no-repeat;
//       background-size: 26% 100%, cover;
//       background-position: 0 0, 0 0, 0px 85px, 0px 110px;
//       animation: animloader 1s linear infinite;
//    img{
//       visibility: hidden;
//    }
// }

// @-webkit-keyframes animloader {
//    0% { background-position:  0 0, 0 0, 0px 85px, 0px 110px}
//    100% { background-position:  150% 0, 0 0, 0px 85px, 0px 110px}
// }


// @keyframes animloader {
//    0% { background-position:  0 0, 0 0, 0px 85px, 0px 110px}
//    100% { background-position:  150% 0, 0 0, 0px 85px, 0px 110px}
// }


// Intro
// -------------------------
.intro{
  padding-top: 32rem;
  background: v.$intro-bg url("../img/intro-bg.png") left top no-repeat;
  background-size: cover;
  overflow: hidden;
  &__container{
    padding-bottom: 12rem;
    position: relative;
  }
  &__content{
    max-width: 73rem;
    position: relative;
    z-index: 5;
  }
  &__heading{
    margin-bottom: 3.5rem;
    &-highlight{
      font-weight: 700;
      color: v.$intro-heading-hlight;
    }
  }
  &__destr{
    margin-bottom: 8rem;
    font-size: 2rem;
  }
  &__img{
    position: absolute;
    bottom: -33rem;
    right: -36rem;
    z-index: 1;
    img{
      max-width: 125rem;
    }
    .img{
      &__title{
        position: absolute;
        top: 41%;
        left: 56%;
        font-size: 1.3rem;
        font-weight: 800;
        text-align: center;
      }
      &__subtitle{
        font-size: 1.1rem;
        font-weight: 300;
      }
    }
  }
}

.destr{
  position: relative;
  padding-left: 13rem;
  &__img{
    position: absolute;
    top: .5rem;
    left: -2rem;
    img{
      max-width: 17rem;
    }
  }
}

.why{
  margin-left: 9rem;
  padding-top: 3rem;
  padding-bottom: 15rem;
  max-width: 40rem;
  flex: 1;
  &__btn{
    position: relative;
    display: inline-block;
    text-decoration: underline;
    cursor: pointer;
    &::before,
    &::after{
      position: absolute;
      top: 50%;
      left: -2rem;
      display: block;
      width: 1.2rem;
      height: 0.2rem;
      background: #1040b8;
      content: '';
      transition: transform .3s;
    }
    &::after{
      transform: rotate(90deg);
    }
    &:hover{
        text-decoration: none;
    }
  }
  &__content{
    &-wrap{
      margin-top: .5rem;
      position: relative;
      height: 0;
    }
    position: absolute;
    top: 0;
    margin-left: 1.5rem;
    padding: 2rem 6rem 2rem 3rem;
    max-height: 15rem;
    line-height: 1.28;
    background: rgba(253, 253, 253, 0.22);
    border-radius: .5rem;
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
  }
  &__text{
      font-size: 1.4rem;
      line-height: 1.25;
  }

    &.open{
        .why__btn{
            &::after{
                transform: rotate(180deg);
            }
        }
        .why__content{
            animation: slideUpIn .3s ease-in forwards;
        }
    }
    &.close{
        .why__btn{
            &::after{
                transform: rotate(90deg);
            }
        }
        .why__content{
            animation: slideDownOut .3s ease-in forwards;
        }
    }
}

.digits{
  display: flex;
  justify-content: space-between;
  &__item{
    font-size: 1.4rem;
    line-height: 1.7;
  }
  &__head{
    font-size: 1.6rem;
  }
  &__text{
      margin-top: -1.5rem;
  }
  &__value{
    font-size: 5.5rem;
    font-weight: 900;
    letter-spacing: 0;
  }
  &__mln{
    font-size: 4rem;
  }
}

.clip-text{
  color: transparent;
//   background: linear-gradient(0deg, #103baa, #2052cf);
    background: linear-gradient(0deg, #002277, #5d81db);
    background-clip: text;
}


// Tender
// -------------------------
.tender{
  padding: 8.5rem 0 7.5rem;
  color: v.$text-white;
  background: #1242bb linear-gradient(-23deg, #002a94, #1648c5);
  &__content {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &__text{
    position: relative;
    z-index: 10;
    margin-right: 7rem;
    max-width: 46rem;
    font-size: 3rem;
    line-height: 1.25;
  }
  &__img{
    position: absolute;
    top: -4rem;
    left: -15rem;
    z-index: 1;
    img{
      max-width: 52rem;
    }
  }
}



.services,
.client,
.adv,
.awa__junction{
    background: v.$body-sec-bg;
}

// Services
// -------------------------
.services{
  position: relative;
  padding-top: 5rem;
  overflow: hidden;
  &-label{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6rem;
    padding: 2rem 7rem 2.5rem 15rem;
    background: #d6d6d6;
    max-width: 55rem;
    border-radius: .5rem;
    &__img{
      position: absolute;
      left: 4rem;
      top: -2rem;
      z-index: 1;
      img{
        max-width: 10rem;
      }
    }
    &__text{
      position: relative;
      z-index: 10;
      font-size: 2rem;
      line-height: 1.25;
      .d-inline-block{
        margin-left: 3rem;
      }
    }
  } 
  &__heading{
    margin-bottom: 1rem;
  }
  &__grid{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1.5rem;
    grid-template-areas: "services-card-01 services-card-01 services-card-02 services-card-03"
                         "services-card-04 services-card-05 services-card-06 services-card-07";
  }
  &-card{
    position: relative;
    padding: 6rem 4rem 5rem;
    height: 25.5rem;
    border-radius: .5rem;
    overflow: hidden;
    background: #fff;
    &-01{
      grid-area: services-card-01;
    }
    &-02{
      grid-area: services-card-02;
    }
    &-03{
      grid-area: services-card-03;
    }
    &-04{
      grid-area: services-card-04;
    }
    &-05{
      grid-area: services-card-05;
    }
    &-06{
      grid-area: services-card-06;
    }
    &-07{
      grid-area: services-card-07;
    }
    &__content{
      position: relative;
      z-index: 10;
      cursor: default;
    }
    &__count{
      margin-bottom: 2.5rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #1c5bff;
    }
    &__title{
      margin-bottom: 1.5rem;
      max-height: 4.4rem;
      font-size: 1.8rem;
      font-weight: 700;
      line-height: 1.2;
      overflow: hidden;
    }
    &__btn{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 12.5rem;
      height: 4rem;
      font-size: 1.2rem;
      color: v.$text-white;
      background: #1545c1;
      border-radius: .5rem;
      cursor: pointer;
      user-select: none;
      &:hover{
        background: lighten(#1545c1, 5%);
      }
      &:active{
        transform: translateY(1px);
      }
    }
    &__img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      &::after{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: block;
        content: '';
        background: linear-gradient(139deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
        opacity: 1;
        transition: opacity .3s;
      }
      img{
        max-width: none;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
      }
    }
    &:hover{
      .services-card__img::after{
        opacity: .25;
      }
    }
  }
  &__bg{
      position: absolute;
      bottom: 0;
      left: 50%;
      z-index: 0;
      transform: translateX(-50%);
      img{
          width: auto;
          max-width: none;
      }
  }
}

.services__container,
.manager{
    position: relative;
    z-index: 10;
}



// Manager
// -------------------------
.manager{
    display: flex;
    position: relative;
    padding-top: 15rem;
    padding-bottom: 15rem;
    &__content{
        margin-left: auto;
        max-width: 71rem;
    }
    &__heading {
        margin-bottom: 2rem;
        h2{
            font-weight: 500;
        }
    }
    &__subheading{
        margin-bottom: 6rem;
        font-size: 2rem;
        &-highlight{
            font-weight: 700;
            color: #1546c2;
            text-decoration: underline;
        }
    }
    &-media{
        position: relative;
        padding-left: 8rem;
        &-wrap{
            flex-wrap: nowrap;
        }
        &__img{
            position: absolute;
            z-index: 0;
            &_doc{
                top: -1rem;
                left: -6rem;
                img{
                    max-width: 21rem;
                }
            }
            &_phone{
                top: .5rem;
                left: 0rem;
                img{
                    max-width: 8.8rem;
                }
            }
        }
        &__text{
            position: relative;
            z-index: 1;
            max-width: 28rem;
            font-size: 1.6rem;
            line-height: 1.875;
        }
    }
    &__btn{
        &-wrapper{
            margin-top: 5rem;
        }
    }
    &__img{
        position: absolute;
        left: 2rem;
        bottom: -3rem;
        img{
            max-width: 40rem;
        }
    }
    &__name{
        font-size: 1.3rem;
        font-weight: 800;
        &-wrap{
            display: inline-block;
            position: absolute;
            left: 50%;
            bottom: 42%;
            padding: 1rem 2rem;
            font-size: 1rem;
            font-weight: 300;
            line-height: 1;
            text-align: center;
            background: rgba(255, 255, 255, 0.75);
            border-radius: 1rem;
        }
    }
}


// Expert
// -------------------------
.expert{
    padding-bottom: 15rem;
    padding-top: 15rem;
    color: v.$text-white;
    background: linear-gradient(180deg, #00081c, #000);
    overflow: hidden;
    &__container{
        display: flex;
    }
    &__content{
        max-width: 49rem;
    }
    &__heading{
        margin-bottom: 4rem;
        font-weight: 500;
        &-highlight{
            font-weight: 700;
            color: #1546c1;
        }
    }
    &__text{
        font-size: 2rem;
        line-height: 1.8;
    }
    &-video{
        display: flex;
        position: relative;
        margin-top: 4rem;
        width: 45.5rem;
        height: 14.5rem;
        border-radius: .5rem;
        background: linear-gradient(-48deg, #002a94, #1648c5);
        overflow: hidden;
        &__img,
        &__caption{
            width: 50%;
            flex: none;
        }
        &__caption {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            line-height: 1.6;
        }
        &__img{
            height: 100%;
            overflow: hidden;
            img{
                object-fit: cover;
                object-position: center center;
            }
        }
        &__btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            img{
                width: 6.4rem;
                height: 6.4rem;
                transition: transform .3s;
            }
            &:hover{
                img{
                    transform: scale(1.05);
                }
            }
            &:active{
                img{
                    transform: scale(1);
                    transition: transform 0s;
                }
            }
        }
    }



    &__slider{
        margin-top: 2rem;
        &-container{
            flex: none;
            align-self: flex-start;
            position: relative;
            margin-left: 16rem;
            width: 130rem;
        }
        &-shine{
            width: 100%;
            max-width: 66rem;
            position: absolute;
            left: -12%;
            top: -20rem;
            z-index: 0;
            img{
                width: 100%;
            }
        }
        .swiper-button{
          &-prev,
          &-next{
            top: auto;
            bottom: 0rem;
          }
          &-next{
            left: 200px;
          }
        }
        &-control{
            position: absolute;
            left: 34rem;
            bottom: 2rem;
            z-index: 10;
            width: 14rem;
            height: var(--swiper-navigation-size);
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 1.8rem;
        }
    }

    &__button,
    &__pagination{
        position: static;
        color: #335ecb;
    }
    &__button{
        &_prev,
        &_next{
            margin-top: 0;
            &::after{
                font-size: 2rem;
            }
        }
        &-disabled{
            color: rgba(255, 255, 255, 1);
        }
    }
    &__pagination{
        width: auto;
        cursor: default;
    }

    &-slide{

        position: relative;
        border-radius: .5rem;
        overflow: hidden;
        box-shadow: 16px 16px 18px rgba(0, 0, 0, .55);
        transform: scale(.5) translateX(-140%);
        transition: transform 0.4s;
        cursor: grab;
        &.swiper-slide-active{
            transform: scale(1)  translateX(0);
        }
        &.swiper-slide-next{
            transform: scale(.72) translateX(-8%);
            &+.swiper-slide{
                transform: scale(.65) translateX(-49%);
            }
        }
        &:active{
          cursor: grabbing;
        }
        &__img{
            position: relative;
            &::before{
                display: block;
                width: 100%;
                height: 100%;
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 5;
                background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
            }
            img{
                position: relative;
                z-index: 0;
                filter: grayscale(.7);
                background: none;
            }
            .img-gradient{
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 1;
                background: rgba(13, 58, 173, 0.3);
                // background: linear-gradient(0deg, rgba(0, 0, 0, .88), rgba(0, 0, 0, 0));
            }
        }
        &__caption{
            position: absolute;
            z-index: 10;
            width: 100%;
            bottom: 9rem;
            padding-left: 6rem;
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }
}


// Client
// -------------------------
.client{
    padding-top: 15rem;
    padding-bottom: 7rem;
    &__heading{
        margin-bottom: 3.5rem;
    }
    &__mask{
        flex: 1;
        position: relative;
        z-index: 5;
        // background: v.$body-sec-bg;
        
        opacity: 0.85;
        &_left{
            background: linear-gradient(-90deg, transparent, v.$body-sec-bg 10rem);
        }
        &_right{
            background: linear-gradient(90deg, transparent, v.$body-sec-bg 10rem);
        }
    }
    &__slider  {
        &-container{
            position: relative;
            display: flex;
            // width: 100%;
        }
        flex: none;
        width: 100%;
        margin: 1rem auto;
		padding: 0 v.$gutter;
        max-width: 117rem;
        overflow: visible; 
    }
    &-slide{
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: grab;
        user-select: none;
        &:active{
            cursor: grabbing;
        }
    }
    &__button{
        z-index: 15;
        &::before{
            position: absolute;
            z-index: -1;
            display: block;
            width: 6rem;
            height: 6rem;
            border-radius: 50%;
            background: #e6e6e8;
            content: '';
            transition: transform .3s;
        }
        &::after{
            font-size: 2.5rem;
            font-weight: 700;
        }
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1);
            transition: transform 0s;
        }
        &_prev{
            left: calc(50vw - 60rem);
        }
        &_next{
            right: calc(50vw - 60rem);
        }
    }


    .swiper{
        &-button{
            &-prev,
            &-next{
                // z-index: 15;
                &::before{
                    // position: absolute;
                    // z-index: -1;
                    // display: block;
                    // width: 6rem;
                    // height: 6rem;
                    // border-radius: 50%;
                    // background: #e6e6e8;
                    // content: '';
                    // transition: transform .3s;
                }
                &::after{
                    // font-size: 2.5rem;
                    // font-weight: 700;
                }
                // &:hover{
                //     transform: scale(1.05);
                // }
                // &:active{
                //     transform: scale(1);
                //     transition: transform 0s;
                // }
            }
            &-prev{
                // left: calc(50vw - 60rem);
            }
            &-next{
                // right: calc(50vw - 60rem);
            }
        }
    }
}

.cleaning-wrapper{
  color: v.$text-white;
  background: #00040e;
}

// Problem
// -------------------------
.problem{
    padding-top: 18rem;
    overflow: hidden;
    &__container{
        position: relative;
        display: flex;
        padding-bottom: 14rem;
    }
    &__heading{
        position: relative;
        z-index: 10;
        max-width: 47rem;
        align-self: center;
        &-highlight{
            font-weight: 700;
            color: #1345bf;
        }
    }
  &-list{
      position: relative;
      z-index: 10;
      padding: 4rem 2rem 4rem 6rem;
      width: 100%;
      max-width: 44rem;
      font-size: 1.6rem;
      line-height: 1.25;
      background: linear-gradient(-180deg, #002a94, #1648c5);
      border-radius: .5rem;
      overflow: hidden;
      &__item{
          &:not(:last-child){
              margin-bottom: 2rem;
          }
      }
      &__bg{
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          z-index: 1;
          font-size: 40rem;
          font-weight: 900;
          font-style: italic;
          line-height: 1;
          user-select: none;
          color: rgba(255, 255, 255, 0.1);
          transform: translate(19rem, -10rem) rotate(-15deg);
      }
    ul{
        list-style-type: disc;
    }
  }
  &__img{
      position: absolute;
      bottom: 0;
      right: -21rem;
      z-index: 1;
      img{
          max-width: 120rem;
      }
  }
}


.form{
    &-block{
        position: relative;
        margin-left: auto;
        margin-right: auto;
        padding: 5rem 24rem 8rem 17rem;
        max-width: 152rem;
        color: v.$text-black;
        background: v.$form-block-bg;
        border-radius: 1.5rem;
        overflow: hidden;
        &-wrapper{
		    padding: 0 v.$gutter;
            position: absolute;
            z-index: 2;
            width: 100%;
            bottom: -(v.$awa-junc-padding-top);
        }
        &__content{
            position: relative;
            z-index: 10;
        }
        &__heading{
            margin-bottom: 4rem;
            font-size: 2.4rem;
            text-align: center;
        }
        &__subheading{
            margin-bottom: 2rem;
            font-size: 2rem;
            text-align: center;
        }
        &__footer{
            margin-top: 2rem;
            // margin-left: 16rem;
            font-size: 1.2rem;
            text-align: center;
        }
        &__link{
            color: v.$text-black;
            font-weight: 700;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }


        &__form{
            display: flex;
            align-items: center;
        }
        &__group{
            &:not(:last-child){
                margin-right: 1.5rem;
            }
        }
        &__control{
            max-width: 25.8rem;
            height: 6.5rem;
        }
        &__submit{
            margin-left: 4rem;
        }
        &__img {
            position: absolute;
            top: 2rem;
            left: 2rem;
            z-index: 1;
            img{
                max-width: 29rem;
            }
        }
    }
}


// Cleaning
// -------------------------
.clean{
    position: relative;
    // overflow: hidden;
    &__container{
        position: relative;
        z-index: 10;
        display: flex;
        padding-top: 22rem;
        padding-bottom: 17rem;
    }
    &__img-block,
    &__content{
        width: 50%;
        flex: 1;
    }
    &__content{
        padding-left: 13%;
        position: relative;
        z-index: 10;
    }
    &__img{
        position: absolute;
        left: -37rem;
        bottom: 0;
        z-index: 1;
        img{
            max-width: 125rem;
        }
    }
    &__heading{
        margin-bottom: 4rem;
        font-weight: 500;
    }
    &-media{
        position: relative;
        margin-bottom: 6rem;
        padding-left: 10rem;
        // overflow: hidden;
        &__img{
            position: absolute;
            top: -1rem;
            left: 0rem;
            img{
                max-width: 12rem;
            }
        }
        &__text{
            font-size: 2rem;
            line-height: 1.8;
        }
    }
    &__bg{
        width: 192rem;
        position: absolute;
        left: 0;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        z-index: 1;
        img{
            max-width: 192rem;
        }
    }
}

.qoute{
    padding: 3rem 7rem 3rem 7.5rem;
    max-width: 37rem;
    font-size: 1.6rem;
    line-height: 1.4;
    background: linear-gradient(0deg, #002a94, #1648c5);
    border-radius: 1rem;
    &__text{
        position: relative;
        .qoutes{
            position: absolute;
            top: 0rem;
            left: -4rem;
        }
    }
}


// Care
// -------------------------
.care{
    padding-top: 10rem;
    padding-bottom: 8rem;
    color: v.$text-white;
    background: linear-gradient(0deg, #002a94, #1648c5);
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__heading{
        margin-left: 4rem;
    }
    &-media{
        position: relative;
        font-size: 1.6rem;
        &_doc{
            padding-left: 16rem;
            max-width: 46rem;
        }
        &_mus{
            padding-left: 11rem;
            max-width: 30rem;
        }
        &__img{
            position: absolute;
            z-index: 1;
            &_doc{
                top: -3rem;
                left: -3rem;
                img{
                    max-width: 24rem;
                }
            }
            &_mus{
                top: -3rem;
                left: -2rem;
                img{
                    max-width: 15rem;
                }
            }
        }
        &__text{
            position: relative;
            z-index: 10;
        }
    }
}



// Advantages
// -------------------------
.adv{
    position: relative;
    padding-top: 8rem;
    padding-bottom: 8rem;
    overflow: hidden;
    .container{
        position: relative;
        z-index: 10;
    }
    &__heading{
        margin-bottom: 8rem;
    }
    &-grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 6rem;
        row-gap: 2rem;
        justify-items: center;
    }
    &-slide{
        display: flex;
    }
    &__button{
        display: none;
        top: 50%;
        z-index: 15;
        &::before{
            position: absolute;
            z-index: -1;
            display: block;
            width: v.$rev-btn-width;
            height: v.$rev-btn-width;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.43);
            content: '';
            transition: transform .3s;
        }
        &::after{
            font-size: 2rem;
            font-weight: 700;
        }
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1);
            transition: transform 0s;
        }
        &_prev{
            left: calc(50% - (v.$adv-card-width-mob/2) - (v.$rev-btn-width));
        }
        &_next{
            right: calc(50% - (v.$adv-card-width-mob/2) - (v.$rev-btn-width));
        }
    }
    &-card{
        padding: 2.5rem 3.5rem 2.5rem 3rem;
        width: 100%;
        max-width: 31rem;
        background: #dce6fa;
        border-radius: .5rem;
        &__num{
            // margin-bottom: 1rem;
        }
        &__digit{
            display: inline-block;
            font-size: 3rem;
            font-weight: 900;
            font-style: italic;
            line-height: .9;
            background: linear-gradient(0deg, #002277, #5d81db);
        }
        &-clip-text{
            color: transparent;
            background-clip: text;
            background-size: contain;
        }
        &__text{
            font-size: 1.4rem;
        }
    }
    &__bg{
        position: absolute;
        // width: 100%;
        height: 100%;
        // top: 0;
        right: 0;
        bottom: 0;
        // left: 0;
        z-index: 0;
        img{
            height: 100%;
            width: auto;
            max-width: none;
        }
    }
}



// Reveiws
// -------------------------
.rev{
    position: relative;
    padding-top: 12rem;
    padding-bottom: 20rem;
    color: v.$text-white;
    background: linear-gradient(0deg, #00081c, #000000);
    &__heading{
        margin-bottom: 12rem;
    }
    &__wide{
        position: relative;
    }
    &__slider{
        width: 179rem;
        &-container{
            margin-bottom: 5rem;
            // max-width: none;
        }
        &-shine{
            position: absolute;
            right: 0rem;
            top: 6rem;
            z-index: 0;
            // display: block;
            width: 1px;
            height: 1px;
            background: #1546c1;
            // border-radius: 50%;
            // content: "";
            box-shadow: 0 0 15rem 12rem #1546c1;
        }
    }
    &__button{
        display: none;
        top: 37%;
        z-index: 15;
        &::before{
            position: absolute;
            z-index: -1;
            display: block;
            width: v.$rev-btn-width;
            height: v.$rev-btn-width;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.43);
            content: '';
            transition: transform .3s;
        }
        &::after{
            font-size: 2rem;
            font-weight: 700;
        }
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1);
            transition: transform 0s;
        }
        &_prev{
            left: calc(50% - (v.$rev-slide-img-width/2) - (v.$rev-btn-width));
        }
        &_next{
            right: calc(50% - (v.$rev-slide-img-width/2) - (v.$rev-btn-width));
        }
    }
    &-slide{
        cursor: grab;
        &:active{
            cursor: grabbing;
        }
        &__img{
            position: relative;
            margin-bottom: 2rem;
            width: v.$rev-slide-img-width;
            height: 55.7575%;
        }
        &__btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 5;
            width: 6rem;
            height: 6rem;
            transition: transform .3s;
            img{
                object-fit: contain;
                object-position: center center;
            }
            &:hover{
                transform: translate(-50%, -50%) scale(1.05);
            }
            &:active{
                transform: translate(-50%, -50%) scale(1);
                transition: transform 0s;
            }
        }
        &__caption{
            padding-left: 1.5rem;
        }
        &__author{
            font-size: 1.4rem;
            font-weight: 800;
        }
        &__post{
            font-size: 1.3rem;
            font-weight: 300;
            color: rgba(255, 255, 255, .33);
        }
    }
    &__footer{
        &-container{
            display: flex;
        }
        &-text{
            margin-left: auto;
            max-width: 34rem;
            font-size: 1.8rem;
            line-height: 1.5;
        }
    }
    &-form-block__heading{
        margin-bottom: 2rem;
    }
    &__footer-link {
        margin-left: auto;
        margin-right: 5rem;
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 1.25;
        a{
            color: #0b39ac;
        }
        .awa-arrow{
            margin-left: 5rem;
            transition: transform .3s;
        }
    }
}


// Awards
// -------------------------
.awa{
    position: relative;
    padding-top: v.$awa-junc-padding-bottom + v.$awa-junc-height + 3rem;
    &__junction{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 0;
        box-sizing: content-box;
        padding-top: v.$awa-junc-padding-top;
        padding-bottom: v.$awa-junc-padding-bottom;
        height: v.$awa-junc-height;
    }
    &__container{
        position: relative;
        z-index: 10;
    }
    &__stamp{
        position: absolute;
        top: -7rem;
        left: -7.5rem;
        z-index: 10;
        img{
            max-width: 15.5rem;
        }
    }
    &__content{
        display: flex;
        margin-bottom: 5rem;
    }
    &__button{
        display: none;
        top: 30%;
        z-index: 15;
        &::before{
            position: absolute;
            z-index: -1;
            display: block;
            width: v.$rev-btn-width;
            height: v.$rev-btn-width;
            border-radius: 50%;
            background: rgba(255, 255, 255, 0.75);
            content: '';
            transition: transform .3s;
        }
        &::after{
            font-size: 2rem;
            font-weight: 700;
        }
        &:hover{
            transform: scale(1.05);
        }
        &:active{
            transform: scale(1);
            transition: transform 0s;
        }
        &_prev{
            left: calc(50% - (v.$rev-slide-img-width/2) - (v.$rev-btn-width));
        }
        &_next{
            right: calc(50% - (v.$rev-slide-img-width/2) - (v.$rev-btn-width));
        }
    }
    // Настройки отключенного слайдера
    // удалить в мобильной версии при включении слайдера
    &__slider{
        overflow: visible;
    }
    &-slide{
        width: 100%;
        max-width: 33rem;
        text-align: center;
        &:not(:last-child){
            margin-right: 6rem;
        }
    }
    // ------------------------------
    &__img{
        // display: flex;
        // justify-content: center;
        // align-items: flex-start;
        margin-bottom: 5rem;
        width: 100%;
        height: 100%;
        max-height: 46.5rem;
        // overflow: hidden;
        img{
            // margin-left: auto;
            // margin-right: auto;
            object-fit: contain;
            width: 100%;
            height: 100%;
            box-shadow: 2.6rem 2.6rem 5rem rgba(0, 0, 0, .2);
            transition: all .3s;
            &:hover{
                transform: translateY(-5px);
                box-shadow: 3rem 3rem 6rem rgba(0, 0, 0, .2);
            }
        }
    }
    &__top{
        font-size: 1.8rem;
        font-weight: 700;
        color: #2850b5;
    }
    &__title{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
        height: 6.5rem;
        font-size: 2.4rem;
        font-weight: 800;
        line-height: 1.25;
        overflow: hidden;
    }
    &__about{
        font-size: 1.8rem;
    }
    &__footer{
        display: flex;
        &-link {
            margin-left: auto;
            margin-right: 5rem;
            font-size: 2.2rem;
            font-weight: 700;
            line-height: 1.25;
            a{
                color: #0b39ac;
            }
            .awa-arrow{
                margin-left: 5rem;
                transition: transform .3s;
            }
            &:hover{
                .awa-arrow{
                   transform: translateX(5px); 
                }
            }
        }
    }
}




// Gallery
// -------------------------
.gal{
    margin-top: 8rem;
    margin-bottom: 8rem;
    &-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 19rem 19rem 19rem;
        row-gap: 1rem;
        column-gap: 1rem;
        grid-template-areas:    "img-1 img-2 img-3 img-4"
                                "img-1 img-5 img-6 img-4"
                                "img-7 img-8 img-6 img-9";
    }
    &__img{
        overflow: hidden;
        &-1{
            grid-area: img-1;
        }
        &-2{
            grid-area: img-2;
        }
        &-3{
            grid-area: img-3;
        }
        &-4{
            grid-area: img-4;
        }
        &-5{
            grid-area: img-5;
        }
        &-6{
            grid-area: img-6;
        }
        &-7{
            grid-area: img-7;
        }
        &-8{
            grid-area: img-8;
        }
        &-9{
            grid-area: img-9;
        }
        img{
            max-width: none;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: opacity .3s;
            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.footer{
    padding-top: 12rem;
    padding-bottom: 12rem;
    font-size: 1.6rem;
    color: v.$text-white;
    background: #000;
    &__grid{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        // grid-template-rows: auto;
        grid-template-areas:    "item-1 item-4 item-7 item-9"
                                "item-2 item-5 item-8 item-9"
                                "item-3 item-6 item-8 item-9"
                                "none none none item-9";
    }
    &__item{
        &-wrap{
            // display: flex;
            // justify-content: center;
        }
        &_4,
        &_5,
        &_6{
            justify-self: center;
            width: 100%;
            max-width: 16rem;
        }
        &_1{
            grid-area: item-1;
        }
        &_2{
            grid-area: item-2;
        }
        &_3{
            grid-area: item-3;
        }
        &_4{
            grid-area: item-4;
        }
        &_5{
            grid-area: item-5;
        }
        &_6{
            grid-area: item-6;
        }
        &_7{
            grid-area: item-7;
        }
        &_8{
            grid-area: item-8;
        }
        &_9{
            grid-area: item-9;
            margin-left: 2.5rem;
        }
    }
    // &-col{
    //     &__item{
    //         margin-bottom: 3rem;
    //     }
    // }
    &__logo{
        margin-top: -0.4rem;
        a{
            color: v.$text-white;
        }
    }
    &__mail{
        a{
            color: v.$text-white;
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    &__contacts{
        max-width: 18rem;
        text-align: center;
    }
    &__phone{
        text-align: center;
        a{
            font-size: 2rem;
            font-weight: 700;
            color: v.$header-phone;
            transition: color 0s;
            &:hover{
              color: darken(v.$header-phone, 15%);
            }
        }
    }
    &__cb-btn{
        // margin-bottom: 8rem;
        font-size: 1.4rem;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
        &:hover{
        text-decoration: none;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        i{
            margin-left: 0.9rem;
            margin-right: 0.9rem;
            transition: transform .3s;
            &:hover{
                transform: translateY(-2px);
            }
            &:active{
                transform: translateY(0);
                transition: transform 0s;
            }
        }
    }
    &-menu{
        &__item{
            margin-bottom: 3rem;
        }
        a{
            color: rgba(255, 255, 255, .4);
            &:hover{
                text-decoration: underline;
            }
        }
    }
}


/* Modals
-------------------------*/
.modal {
   padding: 1.5rem;
   display: flex;
   align-items: center;
   width: 100vw;
   height: 100%;
   position: fixed;
   left: 0;
   top: 0;
   right: 0;
   bottom: 0;
   z-index: 999;
   opacity: 0;
   visibility: hidden;
   overflow: auto;
   &__content{
      margin: auto;
      padding: 8rem 5rem;
      display: flex;
      flex-direction: column;
      width: 52rem;
      position: relative;
      z-index: 1001;
      border-radius: v.$modal-border-radius;
      background-color: v.$modal-content-bg;
    //   font-size: 1.6rem;
    //   line-height: 1.4;
      text-align: center;
      opacity: 0;
    //   overflow: hidden;
   }
   &__header{
      margin-bottom: 4rem;
      position: relative;
    //   h3{
    //      margin-bottom: 2rem;
    //   }
      p{
         margin: 0 auto;
        //  max-width: 30rem;
         font-size: 2.2rem;
      }
   }
   &__body{
      flex-grow: 1;
      text-align: justify;
      overflow: visible;
   }
   &__footer{
    //   margin-top: 3rem;
      font-size: 1.2rem;
      p{
        //  margin: 0 auto;
        //  max-width: 30rem;
         text-align: center;
      }
      a{
          text-decoration: underline;
          &:hover{
              text-decoration: none;
          }
      }
   }
   &__close{
      padding: 0;
      width: 2rem;
      height: 2rem;
      position: absolute;
      top: -8rem;
      right: -10rem;
      border: none;
      background: none;
   }
   &-close{
      &__item{
         display: block;
         width: 2.8rem;
         height: 5px;
         position: absolute;
         left: -.4rem;
         top: 50%;
        //  border-radius: 2px;
         background-color: v.$modal-close-item-bg;
        //  box-shadow: 0px 5px 10px rgba(126, 176, 240, 0.6);
         transition: background-color .3s;
         &:first-child{
            transform: rotate(45deg);
         }
         &:last-child{
            transform: rotate(-45deg);
         }
      }
      &:hover{
         .modal{
               &-close{
                  &__item{
                     background-color: v.$modal-close-item-bg-hover;
                  }
               }
         }
      }
   }
   &__overlay{
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1000;
      background-color: v.$modal-overlay-bg;
      opacity: 0;
      visibility: hidden;
   }

   &.opened{
      animation: fadeIn .5s ease-out forwards;
      .modal{
         &__content{
            animation: slideDownIn .3s ease-out forwards;
         }
         &__overlay{
            animation: fadeIn 0.5s ease forwards;
         }
      }
   }
   &.closed{
      animation: fadeOut .5s ease-in forwards;
      .modal{
         &__content{
            animation: slideUpOut .3s ease-in forwards;
         }
         &__overlay{
            animation: fadeOut .5s ease-in forwards;
         }
      }
   }


   .form{
       display: flex;
       flex-direction: column;
       align-items: center;
       &__group{
           max-width: 26rem;
           &_control{
               margin-bottom: 1.5rem;
           }
           &_file{
               margin-top: 0.5rem;
               margin-bottom: 1.5rem;
           }
       }
       &__control{
           height: 6.5rem;
           font-size: 1.4rem;
       }
       &__file{
           width: 0px;
           height: 0px;
           &::after{
            //    display: inline-flex;
            //    justify-content: center;
            //    align-items: center;
            //    content: '';
            //    position: absolute;
            //    width: 12.5rem;
            //    height: 2.5rem;
            //    border: solid 1px #000;
            //    border-radius: .5rem;
           }
           &-caption{
               position: relative;
                margin-bottom: .5rem;
                i{
                    position: absolute;
                    left: -2.5rem;
                    top: 50%;
                    transform: translateY(-50%);
                    
                    margin-right: 1rem;
                }
           }
           &-type{
            //    margin-top: 0.5rem;
           }
           &_selected{
               display: inline-block;
               margin-top: 0.8rem;
               margin-bottom: 0.5rem;
               max-width: 26rem;
               text-align: center;
               overflow: hidden;
           }
       }
       &__label_file{
            display: inline-flex;
            justify-content: center;
            align-items: center;
            // position: absolute;
            width: 12.5rem;
            height: 2.5rem;
            background: #fff;
            border: solid 1px #000;
            border-radius: .5rem;
            cursor: pointer;
            user-select: none;
            transition: .3s;
            &:hover{
                background: darken(#fff, 10%);
                // transform: scale(1.02);
            }
            &:active{
                background: darken(#fff, 15%);
                transform: translateY(1px);
                transition: 0s;
            }
       }
       &__submit{
           &-wrap{
               margin-top: 1.5rem;
               margin-bottom: 3.5rem;
           }
       }
   }
}

.thanks{
   h3{
      font-weight: 500;
      span{
         font-weight: 700;
		   font-size: 2.6rem;
      }
   }
    padding: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42rem;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: v.$modal-border-radius;
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    background: v.$modal-content-bg;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
    transition: opacity .5s;
	span{
		display: block;
		margin-bottom: 2rem;
	}
    &__close{
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 2.4rem;
        height: 2.4rem;
        transition: transform .2s;
        &::before,
        &::after{
            display: block;
            position: absolute;
            top: 50%;
            content: '';
            width: 100%;
            height: 0.3rem;
            border-radius: 10px;
            background: rgb(75, 75, 75);
            transition: background-color .2s;
        }
        &::before{
            transform: rotate(45deg);
        }
        &::after{
            transform: rotate(-45deg);
        }
        &:hover{
            transform: scale(1.05);
            .thanks__close::before,
            .thanks__close::after{
                background: rgb(25, 25, 25);
            }
        }
    }

	&.active{
		z-index: 99999;
		visibility: visible;
		opacity: 1;
		animation: fadeIn 1.5s ease forwards, fadeOut 1.5s ease forwards 5s;
	}
}

.loader-container{
   position: relative;
//    z-index: 50;
}

.submit-loader{
   display: block;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 55;
   background: rgba(0, 0, 0, .3) url('../img/loader.gif') center no-repeat;
   background-size: contain;
   border-radius: 10px;
}

/* 
ANIMATIONS
------------------------------ */
@keyframes fadeIn {
   from {
      visibility: hidden;
      opacity: 0;
   }
   to {
      visibility: visible;
      opacity: 1;
   }
}

@keyframes fadeOut {
   from {
      visibility: visible;
      opacity: 1;
   }
   to {
      visibility: hidden;
      opacity: 0;
   }
}

@keyframes slideDownIn {
   from {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-10%);
   }
   to {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
   }
}

@keyframes slideDownOut {
   from {
        opacity: 1;
        visibility: visible;
        transform: translateY(0%);
   }
   to {
        opacity: 0;
        visibility: hidden;
        transform: translateY(10%);
   }
}

@keyframes slideUpIn {
   from {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(10%);
               transform: translateY(10%);
   }
   to {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
               transform: translateY(0%);
   }
}

@keyframes slideUpOut {
   from {
      opacity: 1;
      visibility: visible;
      -webkit-transform: translateY(0%);
               transform: translateY(0%);
   }
   to {
      opacity: 0;
      visibility: hidden;
      -webkit-transform: translateY(-10%);
               transform: translateY(-10%);
   }
}


@import "media-queries.scss";
@import "gte-ie10-style.scss";