@use '_partials/_variables' as v;
@use '_partials/_mixins' as m;

/* VII. Media-queries
--------------------------------------- */

@media (max-width: 1599.98px){
	.form{
		&-block{
			padding: 5rem 5rem 8rem 5rem;
			&__content{
				margin-left: auto;
				margin-right: auto;
				max-width: 114rem;
			}
			&__img{
				left: 0;
			}
		}
	}
}


// XL
@media (max-width: 1399.98px){
	// html{
	// 	font-size: 9px;
	// }
	.container{
		max-width: 114rem;
	}
	.d{
		&-none{
			&_xl{
				display: none;
			}
		}
		&-block{
			&_xl{
				display: block;
			}
		}
		&-inline{
			&_xl{
				display: inline;
			}
		}
	}
	
	.client{
		// &__mask{
		// 	flex: none;
		// }
		&__slider{
			max-width: 96rem;
		// 	&-container{
		// 		margin-left: auto;
		// 		margin-right: auto;
		// 		padding-left: v.$gutter;
		// 		padding-right: v.$gutter;
		// 		max-width: 114rem;
		// 	}
		}
		&__button{
			&_prev{
				left: 8rem;
			}
			&_next{
				right: 8rem;
			}
		}
	}

	.form{
		&-block{
			&__img{
				left: -10rem;
			}
		}
	}

	.awa{
		&__content{
			padding-left: v.$gutter;
			padding-right: v.$gutter;
		}
		&-slide{
			// Убрать при инициализации
			flex-shrink: 1;
			// ------------------------
			&:not(:last-child){
				margin-right: 3rem;
			}
		}
		&__stamp{
			left: 0;
		}
	}
}


// LG
@media (max-width: 1199.98px){
	html{
		font-size: 8px;
	}
	.container{
		&,
		&_xl{
			max-width: 960px;
		}
	}
	.d{
		&-none{
			&_lg{
				display: none;
			}
		}
		&-block{
			&_lg{
				display: block;
			}
		}
		&-inline{
			&_lg{
				display: inline;
			}
		}
	}
	.form{
		&-block{
			&__img{
				left: -2rem;
				top: 4rem;
				img{
					max-width: 22rem;
				}
			}
		}
	}
	.expert{
		&__slider{
			&-container{
				margin-left: 5rem;
			}
		}
	}
	.modal{
		.form{
			&__group{
				max-width: 38rem;
			}
			&__control{
				height: 8rem;
				font-size: 2rem;
			}
			&__file{
				&-caption{
					i{
						left: -3.5rem;
					}
				}
			}
			&__submit{
				&-wrap{
					width: 100%;
					max-width: 38rem
				}
				margin-left: auto;
				margin-right: auto;
				width: 100%;
				max-width: 38rem;
				height: 8rem;
				font-size: 2rem;
			}
		}
	}
}

// MD
@media (max-width: 991.98px){
	// ПРОБИТИЕ РАЗМЕРОВ ШРИФТОВ ПОД МОБИЛУ

	// html{
	// 	font-size: 8px;
	// }
	// .btn{
	// 	&_primary{
	// 		padding-left: 2em;
	// 		padding-right: 2em;
	// 	}
	// 	&_secondary{
	// 		padding: 0 1.9em;
	// 		font-size: 15px;
	// 	}
	// }
	h1, h2, h3{
		font-size: 3rem;
	}

	.btn{
		&_primary,
		&_secondary{
			width: 24rem;
			height: 7.5rem;
			font-size: 1.5rem;
		}
		// &_secondary{
			
		// }
	}
	.container{
		&,
		&_xl,
		&_lg{
			max-width: 740px;
		}
	}

	.d{
		&-none{
			&_md{
				display: none;
			}
		}
		&-block{
			&_md{
				display: block;
			}
		}
		&-inline{
			&_md{
				display: inline;
			}
		}
	}
	.logo{
		max-width: 20.5rem;
	}
	.intro{
		&__content{
			max-width: 60rem;
		}
		&__destr{
			font-size: 1.5rem;
		}
		&__img{
			img{
				max-width: 118rem;
			}
		}
	}
	.tender{
		padding-top: 5rem;
		padding-bottom: 12rem;
		&__content{
			flex-direction: column;
			align-items: center;
			z-index: 10;
			.btn{
				position: relative;
				z-index: 10;
			}
		}
		&__text{
			margin-right: 0;
			margin-bottom: 4rem;
			text-align: center;
		}
		&__img{
			top: 4rem;
		}
	}
	.services{
		padding-top: 3.5rem;
		&-label{
			margin-bottom: 4rem;
			padding-left: 12rem;
			padding-right: 2rem;
			max-width: 50rem;
			&__img{
				left: 1rem;
			}
		}
		&__grid{
			margin-top: 2rem;
		}
		&-card{
			height: 23.5rem;
			&__count{
				font-size: 1.2rem;
			}
			&__title{
				font-size: 1.6rem;
			}
		}
	}
	.manager{
		padding-bottom: 13rem;
		&__content{
			margin-left: 0;
			position: relative;
			z-index: 10;
		}
		&-media{
			&:not(:last-child){
				margin-bottom: 4rem;
			}
			&-wrap{
				margin-left: 5%;
				flex-direction: column;
				align-items: flex-start;
			}
			&__img{
				left: auto;
				right: 0;
				&_phone{
					left: -1rem;
				}
				&_doc{
					top: -3rem;
					left: -4rem;
					img{
						max-width: 18rem;
					}
				}
			}
		}
		&__img{
			left: auto;
			right: 0;
		}
	}
	.expert{
		padding-top: 8rem;
		padding-bottom: 10rem;
		position: relative;
		overflow: visible;
		&__container{
			grid-template-columns: unset;
			display: flex;
			flex-direction: column;
		}
		&__content{
			margin-bottom: 2rem;
			max-width: none;
		}
		&__text{
			font-size: 1.6rem;
		}
		&__slider{
			margin-top: 0;
			padding: 13% 0 7%;
			&-container{
				margin-left: 0;
				width: 100%;
			}
			&-shine{
				display: none;
			}
			&-control{
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				font-size: 2rem;
			}
		}

		&-slide{
			&.swiper-slide-active{
				transform: scale(1.5);
				// transform: none;
				z-index: 10;
			}
			&.swiper-slide-prev{
				// transform: scale(.72) translateX(8%);
				transform: scale(1.2) translateX(-14px);
				z-index: 5;
			}
			&.swiper-slide-next{
				// transform: scale(.72) translateX(-8%);
				transform: scale(1.2) translateX(14px);
				z-index: 5;
				// transform: none;
				&+.swiper-slide{
					// transform: scale(.65) translateX(-49%);
					transform: none;
				}
			}
			// position: relative;
			// border-radius: .5rem;
			// overflow: hidden;
			// box-shadow: 16px 16px 18px rgba(0, 0, 0, .55);
			// transform: scale(.5) translateX(-140%);
			transform: none;
			transition: transform 0.4s;
			// cursor: grab;
			// &:active{
			//   cursor: grabbing;
			// }
			&__img{
				// position: relative;
				// &::before{
				// 	display: block;
				// 	width: 100%;
				// 	height: 100%;
				// 	content: '';
				// 	position: absolute;
				// 	top: 0;
				// 	right: 0;
				// 	bottom: 0;
				// 	left: 0;
				// 	z-index: 5;
				// 	background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
				// }
				img{
					// position: relative;
					// z-index: 0;
					// filter: grayscale(.7);
					// background: none;
				}
				.img-gradient{
					// display: block;
					// width: 100%;
					// height: 100%;
					// position: absolute;
					// top: 0;
					// right: 0;
					// bottom: 0;
					// left: 0;
					// z-index: 1;
					// background: rgba(13, 58, 173, 0.3);
					// background: linear-gradient(0deg, rgba(0, 0, 0, .88), rgba(0, 0, 0, 0));
				}
			}
			&__caption{
			// 	position: absolute;
			// 	z-index: 10;
			// 	width: 100%;
				bottom: 3rem;
			// 	padding-left: 6rem;
				font-size: 1.2rem;
			// 	line-height: 1.5;
			}
		}
		&-video{
			width: 50rem;
			position: absolute;
			bottom: 0;
			left: 50%;
			z-index: 15;
			transform: translate(-50%, 50%);
			font-size: 1.6rem;
		}
	}

	.client{
		position: relative;
		z-index: 10;
		padding-bottom: 5rem;
		&__slider{
			max-width: 70rem;
		}
	}
	.problem{
		&__container{
			padding-bottom: 9rem;
		}
		&__form-block{
			.form-block{
				padding-top: 12rem;
			}
		}
		&-list{
			font-size: 1.6rem;
		}
	}
	.form{
		&-block{
			padding-bottom: 5rem;
			overflow: visible;
			// &__heading{
			// 	font-size: 3rem;
			// }
			
			&__form{
				flex-wrap: wrap;
			}
			&__group{
				width: auto;
				flex: 1;
				&:not(:last-child){
					margin-right: 0;
					display: flex;
					justify-content: center;
				}
			}
			&__submit{
				margin-left: 0;
				margin-top: 4.5rem;
				margin-bottom: 4.5rem;
				flex-basis: 100%;
				display: flex;
				justify-content: center;
			}
			&__footer{
				margin-top: 0;
			}
			&__img{
				top: 0;
				left: 50%;
				transform: translate(-50%, -35%);
				z-index: 5;
			}
		}
	}
	.clean{
		&__heading{
			margin-bottom: 8rem;
		}
		&-media{
			margin-bottom: 8rem;
			&__img{
				top: -2rem;
			}
			&__text{
				font-size: 1.6rem;
			}
		}
	}
	.care{
		padding-top: 7rem;
		padding-bottom: 8rem;
		&__container{
			flex-wrap: wrap;
		}
		&__heading{
			margin-left: 0;
			margin-bottom: 7rem;
			flex-basis: 100%;
			text-align: center;
		}
		&-media{
			font-size: 2rem;
			// &_doc,
			// &_mus{
				
			// }
			&_doc{
				max-width: 60%;
			}
			&_mus{
				margin-left: 2rem;
				max-width: 40%;
			}
		}
	}
	.adv{
		&-grid{
			column-gap: 3rem;
		}
	}
	.rev{
		padding-bottom: 28rem;
		// &__form-block{
		// 	bottom: -32rem;
		// }
	}
	.awa{
		&__top{
			margin-bottom: 3rem;
		}
		&__top,
		&__about{
			font-size: 2rem;
		}
	}
	.footer{
		&__col{
			&_2{
				display: flex;
				justify-content: center;
			}
		}
		&__address{
			&-wrapper{
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}
		&__social{
			justify-content: center;
			transform: scale(.8);
		}
	}
}


// SM
@media (max-width: 767.98px){
	html{
		font-size: 7px;
	}
	.container{
		&,
		&_xl,
		&_lg,
		&_md{
			max-width: 540px;
		}
	}

	.d{
		&-none{
			&_sm{
				display: none;
			}
		}
		&-block{
			&_sm{
				display: block;
			}
		}
		&-inline{
			&_sm{
				display: inline;
			}
		}
		&-i-block{
			&_sm{
				display: inline-block;
			}
		}
	}

	.intro{
		&__heading{
			max-width: 50rem;
		}
	}

	.services{
		&-label{
			&__text{
				img{
					max-width: 16rem;
				}
			}
		}
		&__grid{
			margin-left: auto;
			margin-right: auto;
			max-width: 460px;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr 1fr 1fr;
			grid-template-areas:	"services-card-01 services-card-01"
									"services-card-02 services-card-03"
									"services-card-04 services-card-05"
									"services-card-06 services-card-07";
		}
	}
	.expert{
		&__slider{
			padding-top: 16rem;
			&-control{
				width: 16rem;
			}
		}
		&-slide{
			&.swiper-slide-prev{
				transform: scale(1.2) translateX(-22px);
			}
			&.swiper-slide-next{
				transform: scale(1.2) translateX(22px);
			}
		}
	}
	.client{
		&__slider{
			max-width: 55rem;
		}
	}
	.problem,
	.rev{
		&__form-block{
			padding-left: 0;
			padding-right: 0;
		}
	}
	.problem{
		padding-top: 10rem;
		&__form-block{
			padding-top: 0rem;
		}
		&__container{
			padding-bottom: 8rem;
			display: block;
		}
		&__heading{
			margin-bottom: 6rem;
		}
	}
	.form{
		&-block{
			padding-left: v.$gutter;
			padding-right: v.$gutter;
			border-radius: 0;
			&__subheding{
				font-size: 1.6rem;
			}
		}
	}
	.manager{
		&__content{
			// margin-left: 0;
			// position: relative;
			// z-index: 10;
		}
		&-media{
			&:not(:last-child){
				// margin-bottom: 4rem;
			}
			&-wrap{
				// margin-left: 5%;
				// flex-direction: column;
				// align-items: flex-start;
			}
			&__text{
				font-size: 1.4rem;
			}
			&__img{
				// left: auto;
				// right: 0;
				&_phone{
					// left: -1rem;
				}
				&_doc{
					// top: -3rem;
					// left: -4rem;
					img{
						// max-width: 18rem;
					}
				}
			}
		}
		&__img{
		}
	}
	.clean{
		overflow: hidden;
		&__container{
			padding-top: 15rem;
			padding-bottom: 5rem;
		}
		&__heading{
			margin-bottom: 3.5rem;
		}
		&-media{
			display: flex;
			flex-direction: column-reverse;
			padding-left: 0;
			&__img{
				position: static;
				left: unset;
				top: unset;
			}
		}
		&__img{
			img{
				max-width: 110rem;
			}
		}
		&__shine{
			position: absolute;
			top: -25rem;
			left: 0;
			z-index: 1;
			img{
				max-width: 50rem;
			}
		}
	}
	.qoute{
		padding: 2rem 3rem 2rem 7rem;
		&__text{
			.qoutes{
				left: -5rem;
				transform: scale(.7);
			}
		}
	}
	.care{
		&__container{
			flex-wrap: nowrap;
			flex-direction: column;
			align-items: stretch;
		}
		&-media{
			padding-left: 15rem;
			&_doc{
				max-width: 55rem;
				img{
					max-width: 20rem;
				}
			}
			&_mus{
				margin-top: 8rem;
				margin-left: 0;
				max-width: 50rem;
			}
			&__img{
				&_doc{
					top: -1rem;
				}
				&_mus{
					top: -4rem;
				}
			}
		}
	}
	.rev{
		padding-bottom: 0;
		&__form-block{
			position: static;
		}
		// &__slider{
		// 	width: auto;
		// }
		// &-slide{
		// 	width: auto;
		// 	opacity: 0.3;
		// 	&.swiper-slide-active{
		// 		opacity: 1;
		// 		transition: opacity .4s;
		// 	}
		// }
		// &__button{
		// 	display: flex;

		// }
	}
	.awa{
		padding-top: 8rem;
		&__junction{
			display: none;
		}
		&__content{
			display: block;
		}
		&__descr{
			opacity: 0;
		}
		&__slider{
			padding-top: 8rem;
			padding-bottom: 8rem;
		}
		&-slide{
			transition: opacity .4s, transform .4s;
			&.swiper-slide-active{
				transform: scale(1.2) translateY(3rem);
				opacity: 1;
				transition: opacity .4s, transform .4s;
				.awa__descr{
					opacity: 1;
					transition: opacity .2s .2s;
				}
			}
			&:not(:last-child){
				margin-left: 0;
				margin-right: 0;
			}
		}
		&__button{
			display: flex;
		}
		&__img{
			width: 26.4rem;
			img{
				&:not(.swiper-slide-active img){
					filter: brightness(85%);
				}
			}
		}
		&__stamp{
			top: -3rem;
			left: calc(50% - 22rem);
		}
		&__about{
			max-height: 14rem;
			overflow: hidden;
		}
	}
	.gal{
		&-grid{
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 19rem 19rem 19rem 19rem;
			grid-template-areas:	"img-1 img-2 img-3"
									"img-1 img-5 img-6"
									"img-7 img-4 img-6"
									"img-8 img-4 img-9";
		}
	}
	.footer{
		padding-top: 5rem;
		padding-bottom: 12rem;
		&__grid{
			grid-template-columns: 1fr;
			grid-template-rows: auto;
			grid-template-areas:	"item-7" "item-1" "item-4" "item-5" "item-6" "item-8" "item-9" "item-2" "item-3";
		}
		&__item,
		&-menu__item{
			text-align: center;
		}
		&__item{
			margin-left: 0;
			&_1,
			&_6,
			&_7,
			&_8,
			&_9{
				margin-bottom: 5rem;
			}
			&_2,
			&_4,
			&_5{
				margin-bottom: 3rem;
			}
		}
		&__logo{
			justify-self: center;
		}
		&__phone{
			a{
				font-size: 3rem;
			}
		}
		&__cb-btn{
			font-size: 1.6rem;
		}
	}
}


// XS
@media (max-width: 575.98px){
	html{
		font-size: 6px;
	}
	.btn{
		&_primary,
		&_secondary{
			width: 24rem;
			height: 7rem;
			font-size: 1.8rem;
			.text_uppercase{
				font-size: 1.8rem;
			}
		}
		&_primary{
			box-shadow: 0px 15px 27px -14px #1648c5;
			&::after{
				display: none;
				// box-shadow: 0px 0px 40px 15px #1648c5;
			}
			&:hover,
			&:active{
				box-shadow: 0px 10px 27px -14px #1648c5;
				&::after{
					display: none;
					// box-shadow: 0px 0px 10px 15px #1648c5;
				}
			}
		}
	}
	.container{
		&,
		&_xl,
		&_lg,
		&_md,
		&_sm{
			max-width: 440px;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	.d{
		&-none{
			&_xs{
				display: none;
			}
		}
		&-block{
			&_xs{
				display: block;
			}
		}
		&-i-block{
			&_xs{
				display: inline-block;
			}
		}
		&-inline{
			&_xs{
				display: inline;
			}
		}
	}
	.header{
		&__content{
			position: relative;
			flex-direction: column;
		}
		&__contacts{
			position: absolute;
			right: 4rem;
			top: 0rem;
		}
		&-descr{
			margin-top: 2rem;
			background: rgba(255, 255, 255, 0.05);
		}
	}
	.intro{
		&__why{
			&-wrap{
				flex-direction: column;
			}
			margin-top: 3rem;
			margin-left: 2.5rem;
		}
		.why{
			&__content{
				margin-left: 0;
				max-width: 35rem;
			}
		}
		background: linear-gradient(180deg, #00081c, #000);
		&__mob-shine{
			width: 100%;
			position: absolute;
			top: 0;
			left: 50%;
			transform: translateX(-50%);
			img{
				width: 100%;
			}
		}
	}
	.manager{
		padding-top: 7rem;
	}
	.expert{
		&-slide{
			max-width: 22.5rem;
		}
		&-video{
			&__caption{
				font-size: 1.6rem;
			}
		}
	}
	.form{
		&__control{
			font-size: 2rem;
		}
	}
	.form-block{
		padding-top: 8rem;
		padding-bottom: 8rem;
		&__subheading{
			margin-bottom: 4rem;
		}
		&__form{
			flex-direction: column;
		}
		&__group{
			margin-bottom: 2rem;
			width: 100%;
			max-width: 38rem;
		}
		&__control{
			max-width: none;
			height: 8rem;
		}
		&__footer{
			margin-left: auto;
			margin-right: auto;
			max-width: 50rem;
			font-size: 1.6rem;
		}

		.btn{
			&_primary,
			&_secondary{
				width: 38rem;
				height: 11.5rem;
				font-size: 2rem;
				.text_uppercase{
					font-size: 2.2rem;
				}
			}
		}
	}
	.clean{
		&__content{
			padding-left: 3rem;
		}
	}
	.adv{
		&__heading{
			margin-bottom: 5rem;
		}
		&-grid{
			display: flex;
			    grid-template-columns: unset;
				column-gap: unset;
				row-gap: unset;
				justify-items: unset;
		}
		&-slide{
			// display: block;
			width: auto;
			height: auto;
		}
		&__button{
			display: flex;
		}
		&-card{
			width: v.$adv-card-width-mob;
			max-width: none;
			// margin-left: auto;
			// margin-right: auto;
		}
		&__bg{
			display: none;
		}
	}
	.rev{
		padding-top: 8rem;
		&__heading{
			margin-bottom: 5rem;
		}
		&__footer{
			&-container{
				margin-bottom: 8rem;
				justify-content: space-between;
			}
			&-text{
				margin-left: 0;
			}
			&-link{
				font-size: 1.6rem;
				position: relative;
				margin-right: 12rem;
				.awa-arrow{
					transform: scale(.5);
					position: absolute;
					top: 0;
					right: -10rem;
				}
				&:hover{
					.awa-arrow{
					   transform: scale(.5) translateX(10px); 
					}
				}
			}
		}
		&__slider{
			// width: auto;
			&-inner{
				justify-content: unset;
			}
		}
		&__slider-shine{
			display: none;
		}
		&-slide{
			margin-left: unset;
			margin-right: unset;
			width: auto;
			opacity: 0.3;
			&.swiper-slide-active{
				opacity: 1;
				transition: opacity .4s;
			}
			&__img{
				width: 46rem;
			}
			&__caption{
				padding-left: 0;
				width: 100%;
				text-align: center;
			}
		}
		&__button{
			display: flex;
			top: 37%;
			&_prev{
				left: 1rem;
			}
			&_next{
				right: 1rem;
			}
		}
	}

	.awa{
		&__about{
			max-height: 20rem;
		}
		&__button{
			display: flex;
			top: 37%;
			&_prev{
				left: 2.5rem;
			}
			&_next{
				right: 2.5rem;
			}
		}
	}
	.gal{
		&-grid{
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 25rem 25rem 25rem 25rem 25rem 25rem;
			grid-template-areas:	"img-1 img-2"
									"img-1 img-3"
									"img-5 img-4"
									"img-7 img-4"
									"img-6 img-8"
									"img-6 img-9";
		}
	}
	.modal{
		.form{
			&__group{
				max-width: 38rem;
			}
			&__label{
				&_file{
					height: 3rem;
				}
			}
			&__file{
				&-caption{
					i{
						left: -4.5rem;
					}
				}
			}
		}
	}
}

@media (max-width: 479.98px){
	.intro{
		&__container{
			padding-bottom: 6rem;
		}
		&__destr{
			margin-bottom: 3.5rem;
		}
		&__why{
			padding-bottom: 3rem;
		}
		&__digits{
			flex-direction: column;
		}
		&__img{
			right: -29rem;
			img{
				max-width: 100rem;
			}
			.img__title{
				min-width: 20rem;
				top: auto;
				bottom: 36rem;
				left: auto;
				right: 34rem;
			}
		}
	}
	.why{
		&__content{
			background: rgba(253, 253, 253, 0.5);
		}
	}
	.destr__img{
		left: 0;
		top: -0.5rem;
		img {
			max-width: 14rem;
		}
	}
	.services{
		background: #fff;
		&__bg{
			left: 0;
			right: 0;
			width: 100%;
			transform: none;
			img{
				width: 100%;
			}
		}
		&-label{
			&__text{
				img{
					max-width: 14rem;
				}
			}
		}
	}
	.manager{
		&-media{
			&-wrap{
				max-width: 31rem;
			}
		}
		&__img{
			right: -4rem;
			img{
				max-width: 32rem;
			}
		}
		&__name{
			&-wrap{
				left: auto;
				right: 25%;
				bottom: 20%;
			}
		}
	}
	.expert{
		&__container{
			padding-left: 0;
			padding-right: 0;
		}
		&__content{
			padding-left: v.$gutter;
			padding-right: v.$gutter;
		}
		&__heading,
		&__text{
			text-align: center;
		}
	}
	.client{
		background: #fff;
		&__slider{
			max-width: 40rem;
			overflow: hidden;
		}
		&__button{
			&_prev{
				left: 2rem;
			}
			&_next{
				right: 2rem;
			}
		}
	}
	.problem{
		position: relative;
		&__container{
			position: static;
		}
		&__heading,
		&-list{
			margin-left: auto;
			margin-right: auto;
		}
		&__heading{
			max-width: 32rem;
			text-align: center;
		}
		&__img{
			right: 0;
			bottom: auto;
			top: 0;
			z-index: 2;
		}
		&__shine{
			position: absolute;
			top: -15rem;
			left: 0;
			z-index: 1;
			img{
				// max-width: ;
			}
		}
	}
	.clean{
		&__content{
			padding-left: 0;
			width: 35rem;
			flex: none;
		}
		&__heading,
		&-media{
			padding-left: 12rem;
		}
		&__img-block{
			// flex: none;
			// width: 45%;
		}
		&__img{
			left: -50rem;
		}
	}
	.care{
		&-media{
			padding-left: 11rem;
			&__img{
				&_doc{
					top: 0;
					left: -4rem;
				}
			}
			&_doc{
				img{
					max-width: 18rem;
				}
			}
		}
	}
	.adv{
		&__heading{
			margin-left: auto;
			margin-right: auto;
			max-width: 38rem;
		}
		&-card{
			margin-left: auto;
			margin-right: auto;
		}
		&__button{
			&::before{
				background: rgba(0, 0, 0, 0.05);
			}
			&_prev{
				left: 1rem;
			}
			&_next{
				right: 1rem;
			}
		}
	}
	.rev{
		&-form-block__heading{
			&,
			&+.form-block__subheading{
				margin-left: auto;
				margin-right: auto;
				max-width: 34rem;
			}
		}
		&-slide{
			&__author{
				font-size: 2rem;
			}
			&__post{
				font-size: 1.8rem;
			}
		}



		&__footer{
			&-container{
				align-items: center;
			}
			&-text{
				width: 50%;
				font-size: 1.6rem;
			}
			&-link{
				margin-right: 8rem;
				.awa-arrow{
					right: -8rem;
				}
			}
		}
	}
	.awa{
		padding-top: 5rem;
		&__top,
		&__about{
			font-size: 1.6rem;
		}
		&__top{
			margin-bottom: 0rem;
		}
		&__title{
			margin-bottom: 0rem;
			font-size: 2rem;
		}

	}
	.gal{
		margin-top: 4rem;
	}
	.modal{
		&__close{
			top: -6rem;
			right: -2.5rem;
			&:hover{
				.modal-close__item{
					background: #000;
				}
			}
		}
		&-close{
			&__item{
				background: rgb(53, 53, 53);
			}
		}
	}
}


// XXS
@media (max-width: 414.98px){
	.d{
		&-none{
			&_xxs{
				display: none;
			}
		}
		&-block{
			&_xxs{
				display: block;
			}
		}
		&-inline{
			&_xxs{
				display: inline;
			}
		}
	}
}

@media (max-width: 359.99px){

}

@media (max-width: 320px){

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
}