doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shiny button 
        link(rel="stylesheet", href="style.css")
    body 
        .container 
            .btn-wrapper
                
                |
                |
                <!-- COMPONENT`S CODE -->
                .btn.btn_primary.btn_shiny .btn_shiny
                |
                |
                <!-- END OF COMPONENT`S CODE -->