extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.engService;

//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  
  //
      Intro-desinfection
    ================================================== 
  +intro-2('<span class="d-block text_ex-bold"> Ищите подрядчика <span class="text_ex-bold"> на техническое </span></span><span class="d-block text_ex-bold"> обслуживание инженерного </span><span class="text_ex-bold"> оборудования? </span>', 'intro-ing-serv-man')


//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!