extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.engService;

//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  
  //
      Intro-2
    ================================================== 
  +intro-2('<span class="d-block"> Ищите подрядчика <span class="text_ex-bold text_medium_xs"> на техническое </span></span><span class="d-block d-inline_md text_ex-bold text_medium_xs"> обслуживание инженерного </span><span class="text_ex-bold text_medium_xs"> оборудования? </span>', 'intro-ing-serv-man', 'Дмитрий Востров', 'Эксперт Top Level')(class="eng-service-intro-2")


  //
    Special
          ==================================================
  .special
    .row.special-body
      .special__content-wrap 
        .special__content
          .special-title 
            span Специализируемся 
            span.special-highlight  на техническом
            span.d-block.special-highlight  обслуживании инженерного
            span.d-block  оборудования 

          .special-label-wrap
            .special-label 
              span Посмотреть список выполняемых работ 
              .special__stamp
                picture
                  source(srcset='img/awa-stamp.webp', type='image/webp')
                  img(src='img/awa-stamp.png', alt)
              .work-list-btn
              .work-list-wrap
                .work-list-title Список выполняемых работ:
                .work-list-inner
                  .work-list.eng-service-work-list
                    button.work-list-close
                      span X
                    .work-list-subtitle Обслуживание и эксплуатация инженерных систем:
                    ul 
                      li мониторинг технического состояния инженерных сетей;
                      li плановые профилактические работы;
                      li измерение параметров и регулировка инженерных систем; 
                      li измерение параметров электробезопасности и составление протоколов;
                      li подготовка объекта к сезонной эксплуатации;
                      li опрессовка системы теплоснабжения;
                      li промывка  системы теплоснабжения; плановые ремонтные работы;
                      li составление технической документации;
                      li снятие показаний приборов учета и передача их энергоснабжающим организациям;
                      li оперативное устранение неисправностей.

                    .work-list-subtitle Техническое обслуживание инженерного оборудования:
                    ul 
                      li теплоснабжения (отопления и горячего водоснабжения);
                      li вентиляции, кондиционирования и холодоснабжения;
                      li дымоходов;
                      li водопровода и канализации; 
                      li противопожарного водопровода;
                      li мусоропровода;
                      li дымоудаления, пожаротушения, пожарной сигнализации;
                      li внутридомового и наружного электроснабжения, электро-, радио-, теле- и прочего оборудования;
                      li тепловых пунктов и других инженерных систем.

 



      .special__img-wrap
        .special__img 
          picture
            source(srcset='img/spec-eng.jpg', type='image/jpg')
            img(src='img/spec-eng.jpg', alt)

    .special-footer
      span.d-block Сотрудники компании Top Level 
        span.text_bold гарантируют 
      span.d-block.text_bold информационную безопасность, корректность и 
      span.d-block
          span.text_bold воспитанность, 
          | выполняя свою работу


  //
      Client190
            ==================================================
  //- include ../_includes/sections/_s-сlient190.pug
  +client190('cl-190-label', '<div class="client190-digit clip-text">190+</div>', 'Опытных клинеров готовы к работе', '<span class="d-block">14 лет безупречной работы </span> и чистой репутации', '100 000 м2 административных и офисных помещений убрано нашей компанией', 'от 35 до 65 руб./м2 - средняя стоимость уборки наших объектов, в зависимости от объема, графика и сложности работ')(class="eng-service-client190")



  //
      Spec-gal
            ==================================================
  +specGal('spec-gal-eng-1', 'spec-gal-eng-2', 'spec-gal-eng-3', 'spec-gal-eng-4')



  //
      Subscribe
            ==================================================
  include ../_includes/sections/_s-subscribe.pug


  //
    Actions
          ================================================== 
  include ../_includes/sections/_s-actions.pug


  //
      Cheaper
            ================================================== 
  include ../_includes/sections/_s-cheaper.pug


  //
      Client
            ================================================== 
  +client()(class="client_lite")



  //
      Intro
            ================================================== 
  include ../_includes/sections/_s-intro-lite.pug

  //
      Manager
            ================================================== 
  section.manager  
    include ../_includes/sections/_b-manager.pug 


  //
      Expert
            ================================================== 
  include ../_includes/sections/_s-expert.pug
  

  //
      Reveiws
            ================================================== 
  include ../_includes/sections/_s-reveiws-lite.pug 

  

  //
      Econom
            ================================================== 
  include ../_includes/sections/_s-econom.pug 
  


  //
      Other-serv
            ==================================================
  include ../_includes/sections/_s-other-serv.pug 



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!