extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.index;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


    //-         ==================================================
        //- section.section
        //-     .container
        //-         h1(style="text-align: center; font-size: 35px;") Let`s do it, bro!
            
        //-     .container 
        //-         p Пример спользоания svg-иконки
        //-         i.svg-user.svg-user-dims
            
        //-     .container 
        //-         p Пример спользоания png-иконки
        //-         i.house-blue


block main
  
  //
      Intro
    ================================================== 
  include ../_includes/sections/_s-intro.pug
  

  //
      Tender
    ================================================== 
  include ../_includes/sections/_s-tender.pug
  

  //
      Services
            ================================================== 
  include ../_includes/sections/_s-services.pug


  //
      Expert
            ================================================== 
  include ../_includes/sections/_s-expert.pug


  //
      Client
            ================================================== 
        //-   include ../_includes/sections/_s-сlient.pug
  +client


  //
      Cleaning-wrapper
            ================================================== 
  include ../_includes/sections/_cleaning-wrapper.pug


  //
      Care
            ================================================== 
  include ../_includes/sections/_s-care.pug



  //
      Advantages
            ==================================================
  include ../_includes/sections/_s-advantages.pug 


  //
      Reveiws
            ================================================== 
  include ../_includes/sections/_s-reveiws.pug 


  //
      Awards
            ================================================== 
  include ../_includes/sections/_s-awards.pug 


  //
      Gallery
            ================================================== 
  include ../_includes/sections/_s-gallery.pug 


//- +++++++++++++++++++++++++++++++++++++++++++++



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!