extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.promClimbing;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  
  //
      Climb-intro
    ================================================== 
  //- include ../_includes/sections/_s-climb-intro-2.pug
  +climb-intro-2('<span class="d-block">Нужен промышленный</span><span class="d-block text_bold">альпинизм или высотный</span><span class="text_bold">клининг? </span>', 'intro-climb-man', '', '', '<span>от </span><span class="digits__value clip-text"> 40 </span><span>руб./м<span class="sup">2</span></span>', 'стоимость мойки окон')


  //
    Special
          ==================================================
  .special
    .row.special-body
      .special__content-wrap 
        .special__content
          .special-title 
            span Специализируемся на 
            span.special-highlight  промышленном 
            span.d-block.special-highlight  альпинизме и высотном клининге
  
          .special-label-wrap
            .special-label 
              span Посмотреть список выполняемых работ 
              .special__stamp
                picture
                  source(srcset='img/awa-stamp.webp', type='image/webp')
                  img(src='img/awa-stamp.png', alt)
              .work-list-btn
              .work-list-wrap
                .work-list-title Список выполняемых работ:
                .work-list-inner
                  .work-list
                    button.work-list-close
                      span X
                    ul 
                      li мойка/очистка стеклянные поверхностей (витрин, витражей, фасадов зданий);
                      li замена стеклопакетов;
                      li остекление фасадов;
                      li очистка кровли, карнизов от сосулек, снега и наледи;
                      li мытье и очистка потолков промышленных объектов, балок, перекрытий и различных покрытий на высоте свыше 2,5 метров;
                      li очистка и ремонт межпанельных швов;
                      li окраска, штукатурка и гидрофобизация фасадов;
                      li герметизация окон и балконов;
                      li кровельные работы (наплавляемая кровля);
                      li работа с металлоконструкциями (покраска, монтаж/демонтаж, антикорозионная защита);
                      li сварочные работы на высоте;
                      li монтаж наружной рекламы (монтаж баннеров и рекламных конструкций);
                      li спил деревьев, кронирование деревьев;
                      li чистка вентиляции и оборудования;
                      li монтаж внешних систем вентиляции;
                      li монтаж водосточных систем;
                      li влажная обработка и очистка кабельных каналов;
                      li осуществляем обеспыливание стен и потолков.
                      li любые другие монтажные работы на высоте.


      .special__img-wrap
        .special__img 
          picture
            source(srcset='img/spec-climb.jpg', type='image/jpg')
            img(src='img/spec-climb.jpg', alt)

    .special-footer
      .attention-label.climb__attention-label важно!
        
      span.d-block Наши сотрудники 
        span.text_bold профессионально обучены и 
      span.d-block
        span.text_bold застрахованы от всех ЧС на объекте, 
        span мы гарантируем 
      span качество и снимаем с вас все возможные риски!



  //
      Spec-gal
            ==================================================
  +specGal('spec-gal-climb-1', 'spec-gal-climb-2', 'spec-gal-climb-3', 'spec-gal-climb-4')




  //
      Geography
            ==================================================
  section.geography
    

    .container.geography__container 
      .geography__bg 
        picture
          source(srcset='img/geo-map.webp', type='image/webp')
          img(src='img/geo-map.png', alt='')

      .geography-content
        .geography-top 

          .geography-card 
            .geography-card__img
              picture
                source(srcset=`img/geo-img-1.webp`, type='image/webp')
                img(src=`img/geo-img-1.png`, alt='')
            .geography-card-text
              span.d-block Работаем 
                span.text_bold на любой 
              span.d-block
                span.text_bold высоте 
                span и там, где другие 
              | не могут
      
          .geography-card 
            .geography-card__img
              picture
                source(srcset=`img/geo-img-2.webp`, type='image/webp')
                img(src=`img/geo-img-2.png`, alt='')
            .geography-card-text
              span.d-block Каждая 
                span.text_bold работа
              span.d-block
                span.text_bold выполняется экспертом 
                span в
              | конкретной области


        .geography-body 
          .section__heading.geography__heading 
            h2 География работ
          p 
            | Выполняем работы во всех городах 
            span.text_bold ПФО: 
            | Кировская, Нижегородская, Оренбургская, Пензенская, Самарская, Саратовская, Ульяновская области. А также Пермский край, Башкортостан, Марий Эл, Мордовия, Татарстан, Республика Чувашия, также 
            span.text_bold в ЦФО и на Урале.



  //
      Blue-panel 
            ==================================================
  .blue-panel 
    .blue-panel__content
      p Данные работы мы выполняем как отдельно, так и в комплексе с основными услугами нашей компании
  


  //
      Other-serv
            ==================================================
  include ../_includes/sections/_s-other-serv.pug 



  //
      Feature-panel 
            ==================================================
  .feature-panel 
    .feature-panel-glow.feature-panel-glow__left
    .feature-panel-glow.feature-panel-glow__right
    .container.feature-panel__container

      .feature-panel__item 
        span.d-block 
          .feature-panel-digit 14
          span лет
        span.d-block безупречной работы
        span.d-block и чистой репутации! 

      .feature-panel__item 
        span.d-block 
          .feature-panel-digit 100 000
          span м
            small.sup 2
        span.d-block административных и офисных 
        span.d-block помещений убрано нашей 
        sapn компанией

      .feature-panel__item 
        span.d-block 
          .feature-panel-digit 190+
        span.d-block опытных клинеров готовы 
        span.d-block к работе 




  //
      Subscribe
            ==================================================
  include ../_includes/sections/_s-subscribe.pug


  //
    Actions
          ================================================== 
  include ../_includes/sections/_s-actions.pug


  //
      Cheaper
            ================================================== 
  include ../_includes/sections/_s-cheaper.pug


  //
      Client
            ================================================== 
  +client()(class="client_lite")



  //
      Intro
            ================================================== 
  include ../_includes/sections/_s-intro-lite.pug

  //
      Manager
            ================================================== 
  section.manager  
    include ../_includes/sections/_b-manager.pug 


  //
      Expert
            ================================================== 
  include ../_includes/sections/_s-expert.pug
  

  //
      Reveiws
            ================================================== 
  include ../_includes/sections/_s-reveiws-lite.pug 

  

  //
      Econom
            ================================================== 
  include ../_includes/sections/_s-econom.pug 


      
                


    






//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!