extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.roomDisinfection;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  
  //
      Intro-desinfection
    ================================================== 
  +intro-2('<span class="text_ex-bold"> Проводим дезинфекцию помещений от бактерий и вирусов, </span><span>в том числе </span><span class="d-block d-inline_xs">от SARS-CoV-2 (COVID-19)</span>', 'intro-des-man')
          


  //
      Features
            ================================================== 
  .features
    .container 
      .row.features-block 

        .feature
          .feature-img-wrap
            .feature-img.feature-img-1 
              img(src="img/feature-1.png", alt="")
          .feature-caption
            span Имеем 
            span.text_bold медицинскую
            span.d-block.text_bold лицензию
      
        .feature-2
          .feature-img-wrap
            .feature-img.feature-img-2 
              img(src="img/feature-2.png", alt="")
            .feature-2__ident 
              img(src="img/feature-2-1.png", alt="")
          .feature-caption
            span В штате Top Level
            span.text_bold.d-block работает дезинсектор
      
        .feature
          .feature-img-wrap
            .feature-img.feature-img-3
              img(src="img/feature-3.png", alt="")
          .feature-caption
            span Работаем 
            span.text_bold по стандартам 
            span.d-block.text_bold Роспотребнадзора


  //
    Special
          ==================================================
  .special
    .row.special-body
      .special__content-wrap 
        .special__content
          .special-title 
            span Специализируемся на выполнении 
            span.d-block.special-highlight  комплексной уборки и дезинфекции 
            span.d-block.special-highlight  помещений 

          .special-label-wrap
            .special-label 
              span Посмотреть список выполняемых работ 
              .special__stamp
                picture
                  source(srcset='img/awa-stamp.webp', type='image/webp')
                  img(src='img/awa-stamp.png', alt)
              .work-list-btn
              .work-list-wrap
                .work-list-title Список выполняемых работ:
                .work-list-inner
                  .work-list
                    button.work-list-close
                      span X
                    ul 
                      li дезинфекция после Covid и других инфекций;
                      li дезинфекция всех точек контакта: кнопок домофона, почтовых ящиков, кнопок лифта;
                      li сухая и влажная уборку пола с дезинфицирующими средствами; 
                      li уборка лестничных маршей и площадок;
                      li чистка и уход за текстильными ковровыми покрытиями;
                      li очистка и натирание перил, ограждений, барьеров;
                      li комплексная уборка кабин лифтов, входных групп;
                      li санитарно-гигиеническая уборка в санузлах с применением спецсредств;
                      li уборка всех подсобных помещений, дополнительных комнат;
                      li удаление пыли с применение специальных средств.

      .special__img-wrap
        .special__img 
          picture
            source(srcset='img/spec-des.jpg', type='image/jpg')
            img(src='img/spec-des.jpg', alt)

    .special-footer
      span.d-block Сотрудники компании Top Level 
        span.text_bold гарантируют 
      span.d-block.text_bold информационную безопасность, корректность и 
      span.d-block
          span.text_bold воспитанность, 
          | выполняя свою работу


  //
    Client190
          ==================================================
  //- include ../_includes/sections/_s-сlient190.pug
  +client190('cl-190-label', '<div class="client190-digit clip-text">190+</div>', 'Опытных клинеров готовы к работе', '<span class="d-block">14 лет безупречной работы </span> и чистой репутации', '100 000 м2 административных и офисных помещений убрано нашей компанией', 'от 35 до 65 руб./м2 - средняя стоимость уборки наших объектов, в зависимости от объема, графика и сложности работ')




  //
      Spec-gal
            ==================================================
  +specGal('spec-gal-1', 'spec-gal-2', 'spec-gal-3', 'spec-gal-4')





  //
      Subscribe
            ==================================================
  include ../_includes/sections/_s-subscribe.pug



  //
      Actions
            ================================================== 
  include ../_includes/sections/_s-actions.pug



  //
      Cheaper
            ================================================== 
  include ../_includes/sections/_s-cheaper.pug
  


  //
      Client
            ================================================== 
  +client()(class="client_lite")


  //
      Intro
            ================================================== 
  include ../_includes/sections/_s-intro-lite.pug

  //
      Manager
            ================================================== 
  section.manager  
    include ../_includes/sections/_b-manager.pug 


  //
      Expert
            ================================================== 
  include ../_includes/sections/_s-expert.pug
  

  //
      Reveiws
            ================================================== 
  include ../_includes/sections/_s-reveiws-lite.pug 
  

  //
      Econom
            ================================================== 
  include ../_includes/sections/_s-econom.pug 
  


  //
      Other-serv
            ==================================================
  include ../_includes/sections/_s-other-serv.pug 
  








  
//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!