extends ../_templates/_base.pug

block page-vars
    -
        let page = pages.roomDisinfection;


//- block head
//-     h2 Wow, Block Head is undefined!


//- block header
//-     h2 Wow, Block Header is undefined!


block main 
  
  //
      Intro-desinfection
    ================================================== 
  section.section.intro-des
    .glow.intro-des__glow-left
    .glow.intro-des__glow-right
    

    .container.intro-des__container
      .intro-des__img
        picture
          source(srcset='img/intro-des-man.webp', type='image/webp')
          source(srcset='img/mob/intro-des-man-mob.png', media="(max-width: 480px)",type='image/png')
          source(srcset='img/mob/intro-des-man-mob.webp', media="(max-width: 480px)",type='image/webp')
          img(src='img/intro-des-man.png', alt='Человек-дезинфектор')
        //- .img__title
        //-   span Наталья Богданова
        //-   span.img__subtitle.d-block генеральный директор


      .intro-des__content
        .intro-des__heading
          h1 
            span.text_ex-bold  Проводим дезинфекцию помещений от бактерий и вирусов, 
            span в том числе 
            span.d-block.d-inline_xs от SARS-CoV-2 (COVID-19)
        .intro-des-call Выбирайте нас !

        .calc-call 
          .cash-label.calc-call__cash-label
            .cash-label__inner 
              .cash-label__title 
                span.perc 1%
                | сashback
              .cash-label__text на уборку личной  недвижимости
          .calc-call-label.
            Рассчитайте предварительную стоимость услуг в течении 15 минут и получите 1% кэшбека на уборку личной недвижимости!

        .btn.btn_primary.modal-trigger(data-target='calcModal')
            span.text_uppercase Рассчитать стоимость
          


  //
      Client
            ================================================== 
  include ../_includes/sections/_s-сlient.pug


  //
      Intro
            ================================================== 
  include ../_includes/sections/_s-intro.pug


  //
      Manager
            ================================================== 
  section.manager  
    include ../_includes/sections/_b-manager.pug 


  //
      Expert
            ================================================== 
  include ../_includes/sections/_s-expert.pug
  

  //
      Reveiws
            ================================================== 
  include ../_includes/sections/_s-reveiws.pug 



//- block footer
//-     h2 Wow, Block Footer is undefined!


//- block modals
//-     h2 Wow, Block Modals is undefined!


//- block scripts
//-     h2 Wow, Block Scripts is undefined!