doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Component Stars
        link(rel="stylesheet", href="style.css")
    body 
        |
        |
        h1 Component Stars
        |
        |
        .container
            |
            |
            <!-- COMPONENT`S CODE -->
            |
            |
            .stars-wrapper
                .stars
                    .star
                        .triangle.triangle_top
                        .triangle.triangle_top-left
                        .triangle.triangle_bottom-left
                        .triangle.triangle_top-right
                        .triangle.triangle_bottom-right
                    .star
                        .triangle.triangle_top
                        .triangle.triangle_top-left
                        .triangle.triangle_bottom-left
                        .triangle.triangle_top-right
                        .triangle.triangle_bottom-right
                    .star
                        .triangle.triangle_top
                        .triangle.triangle_top-left
                        .triangle.triangle_bottom-left
                        .triangle.triangle_top-right
                        .triangle.triangle_bottom-right
                    .star
                        .triangle.triangle_top
                        .triangle.triangle_top-left
                        .triangle.triangle_bottom-left
                        .triangle.triangle_top-right
                        .triangle.triangle_bottom-right
                    .star
                        .triangle.triangle_top
                        .triangle.triangle_top-left
                        .triangle.triangle_bottom-left
                        .triangle.triangle_top-right
                        .triangle.triangle_bottom-right
            |
            |
            <!-- END OF COMPONENT`S CODE -->
        script(src="script.dev.js")