extends ../../cmp-templates/ready-to-copy/base/_tmpl.pug

block vars
  - var title = 'Select'

block comp-title
  title Custom Select

append comp-styles
  link(rel="stylesheet", href="css/cmp-name.css")


block header
  h1=title

block comp-content
    |
    |
    // COMPONENT`S CODE
    include _includes/_cmp.pug
    |
    |
    // END OF COMPONENT`S CODE
    |
    |




block code-html 
  code(class="language-html" id="item-to-copy1")
    include _includes/_code-html.pug



block code-pug 
  code(class="language-pug" id="item-to-copy2")
    include _includes/_code-pug.pug



block code-css 
  code(class="language-css" id="item-to-copy3")
    include _includes/_code-css.pug



block code-sass 
  code(class="language-sass" id="item-to-copy4")
    include _includes/_code-sass.pug



block code-js 
  code(class="language-js" id="item-to-copy5")
    include _includes/_code-js.pug



  |
  |
append comp-scripts
  script(src="js/cmp-name.dev.js")