head
    |
    |
    <!--Basic Page Needs 
    |
    |==============================================-->
    meta(charset="UTF-8")
    title Форма регистрации
    meta(name="description", content="Форма регистрации")
    meta(name="author", content="Artem Dotsenko")
    meta(name="robots", content="index, nofollow")


    |
    |
    |<!--Fonts preload
    |==================================================-->
    |<!-- Raleway-Regular
    |------------------------------------------------- -->
    link(rel="preload" as="font" href="fonts/Raleway-Regular.woff2" type="font/woff2" crossorigin="anonymous")
    |
    |<!-- Raleway-Italic
    |------------------------------------------------- -->
    link(rel="preload" as="font" href="fonts/Raleway-Italic.woff2" type="font/woff2" crossorigin="anonymous")
    |
    |<!--Fonts preload end-->


    |
    |
    |<!--Mobile Specific Metas 
    |==================================================-->
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


    |
    |
    |<!--CSS
    |==================================================-->
    link(rel="stylesheet" href="css/fonts.css")
    link(rel="stylesheet" href="css/default.css")
    link(rel="stylesheet" href="css/layout.css")
    link(rel="stylesheet" href="css/media-queries.css")


    |
    |
    |<!-- Favicons
    |================================================== -->

    link(rel="icon" href="img/icons/favicon.svg" sizes="any" type="image/svg+xml")
    link(rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon-180x180.png" type="image/png")
    link(rel="manifest", href="manifest.json")