|&lt;div class="form-checkbox-wrap"&gt;
|  &lt;input class="form-checkbox" id="checkbox1" type="checkbox" name="checkbox1"&gt;
|  &lt;label class="form-label-checkbox" for="checkbox1"&gt;checkbox 1&lt;/label&gt;
|&lt;/div&gt;
|&lt;div class="form-checkbox-wrap"&gt;
|  &lt;input class="form-checkbox" id="checkbox2" type="checkbox" name="checkbox2"&gt;
|  &lt;label class="form-label-checkbox" for="checkbox2"&gt;checkbox 2&lt;/label&gt;
|&lt;/div&gt;