@use '_partials/variables' as v;
@use '_partials/mixins' as m;

// Здесь будут основные стили проекта

/*  =====================================================================
TOC:
I. Reset
II. Default Styles
   1. Basic
   2. Typography
   3. Links
   4. Images
   5. Buttons
   6. Forms
III. Grid
IV. Others
   1. Clearing
   2. Misc

=====================================================================  */

/* Common styles
-------------------------*/

body {
   font-size: 1.6rem;
   line-height: 1.36;
   color: #000000;
   background: v.$main-bg;
}
a{
   color: v.$main-text;
}
h1,
h2 {
  font-size: 4.5rem;
  line-height: 1.177;
}
ul,
ol {
  list-style-type: disc;
}
.row {
   width: 100%;
   max-width: 1264px;
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
 }
.sidebar {
   -webkit-box-flex: 0;
   -ms-flex: none;
   flex: none;
   margin-right: 2rem;
   width: 20rem;
}
.content {
   margin-top: 4rem;
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   &__inner{
      margin: 0 auto;
      max-width: 50rem;
   }
}
.login-title {
   margin-top: 2rem;
   text-align: center;
}

/* Sign-up form
-------------------------*/

.form {
   font-size: 1.2rem;
   &__group{
      position: relative;
      margin-bottom: 2rem;
      padding-top: 0.5rem;
      width: 100%;
      overflow: hidden;
      &_pass,
      &_pass-confirm{
         overflow: visible;
         .show-pass{
            position: absolute;
            z-index: 1;
            top: 0.5rem;
            right: 10px;
            bottom: 0;
            width: 2rem;
            height: 100%;
            background: url(../img/eye-close-icon.svg) center no-repeat;
            background-size: contain;
            cursor: pointer;
            &.shown{
               background: url(../img/eye-icon.svg) center no-repeat;
            }
         }
      }
      &_pass-confirm{
         &:before{
            position: absolute;
            bottom: -15px;
            margin-left: 13px;
            display: inline-block;
            font-size: 1.2rem;
            color: #FF4F4F;
            opacity: 0;
            visibility: hidden;
            -webkit-transition: 0.3s;
            -o-transition: 0.3s;
            transition: 0.3s;
            content: 'пароли не совпадают';
         }
         &.error{
            &:before{
               opacity: 1;
               visibility: visible;
            }
            .form__control{
               border: solid 1px #FF4F4F;
               background: #F6F8FB;
            }
            .form__label_control{
               margin-top: 1rem;
               margin-left: 0.8rem;
               padding: 0 0.5rem;
               height: auto;
               color: #FF4F4F;
               background: #F6F8FB;
               -webkit-transform-origin: 0 50%;
               -ms-transform-origin: 0 50%;
               transform-origin: 0 50%;
               -webkit-transform: translateY(calc(-100% + .5rem)) scale(0.8);
               -ms-transform: translateY(calc(-100% + .5rem)) scale(0.8);
               transform: translateY(calc(-100% + .5rem)) scale(0.8);
            }
         }
      }
      &_check{
         margin-bottom: 0;
      }
      &.focused{
         .form__control{
            border-color: rgba(66, 66, 255, 0.5);
            background: #F6F8FB;
            -webkit-box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5), inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
            box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5), inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
         }
         .form__label_control{
            margin-top: 1rem;
            margin-left: 0.8rem;
            padding: 0 0.5rem;
            height: auto;
            color: rgba(66, 66, 255, 0.5);
            background: #F6F8FB;
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transform: translateY(calc(-100% + .5rem)) scale(0.8);
            -ms-transform: translateY(calc(-100% + .5rem)) scale(0.8);
            transform: translateY(calc(-100% + .5rem)) scale(0.8);
         }
      }
      &.valid{
         .form__label_control{
            margin-top: 1rem;
            margin-left: 0.8rem;
            padding: 0 0.5rem;
            height: auto;
            color: rgba(66, 66, 255, 0.5);
            background: #F6F8FB;
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            -webkit-transform: translateY(calc(-100% + .5rem)) scale(0.8);
            -ms-transform: translateY(calc(-100% + .5rem)) scale(0.8);
            transform: translateY(calc(-100% + .5rem)) scale(0.8);
         }
         .form__control{
            border-color: rgba(66, 66, 255, 0.5);
            background: #F6F8FB;
            -webkit-box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5), inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
            box-shadow: 0 0 2px 0px rgba(66, 66, 255, 0.5), inset 0 0 2px 0px rgba(66, 66, 255, 0.5);
         }
         &:after{
            display: block;
            content: '';
            position: absolute;
            z-index: 5;
            top: 0.5rem;
            right: 10px;
            bottom: 0;
            width: 2rem;
            height: 100%;
            background: url(../img/check-icon.svg) center no-repeat;
            background-size: contain;
         }
      }
      &.form__group_pass.valid:after,
      &.form__group_pass-confirm.valid:after,
      &.form__group_search.valid:after{
         display: none;
      }
   }
   &__control{
      padding: 1rem 1.2rem;
      width: 100%;
      height: 4rem;
      background-color: #EFF1F4;
      border: solid 1px transparent;
      border-radius: 1.5rem;
      outline: none;
   }
   &__label{
      &_control{
         position: absolute;
         left: 0;
         top: 0;
         padding: 1rem 1.2rem;
         display: -webkit-box;
         display: -ms-flexbox;
         display: flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         font-weight: 400;
         height: 100%;
         color: rgba(0, 0, 0, 0.6);
         white-space: nowrap;
         -webkit-transition: transform 0.2s;
         -o-transition: transform 0.2s;
         -webkit-transition: -webkit-transform 0.2s;
         transition: -webkit-transform 0.2s;
         transition: transform 0.2s;
         transition: transform 0.2s, -webkit-transform 0.2s;
         cursor: text;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
      }
      &_check{
         display: -webkit-inline-box;
         display: -ms-inline-flexbox;
         display: inline-flex;
         -webkit-box-align: center;
         -ms-flex-align: center;
         align-items: center;
         -webkit-user-select: none;
         -moz-user-select: none;
         -ms-user-select: none;
         user-select: none;
         cursor: pointer;
         &:before{
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            margin-right: 1em;
            content: '';
            height: 1.2em;
            width: 1.2em;
            border: solid 1px rgba(196, 196, 196, 0.5);
            background-color: rgba(196, 196, 196, 0.5);
            background-repeat: no-repeat;
            background-size: 115%;
            background-position: center;
            -webkit-transition: 0.25s;
            -o-transition: 0.25s;
            transition: 0.25s;
         }
      }
   }
   &__check{
      position: absolute;
      display: none;
      &:checked + label::before{
         border-color: rgba(196, 196, 196, 0.5);
         background-color: rgba(196, 196, 196, 0.5);
         background-image: url("../img/check-icon.svg");
      }
   }
}

.fieldset {
   &_row{
      margin-bottom: 2rem;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      a{
         white-space: nowrap;
      }
   }
}


/* стили при наведении курсора на checkbox */
/* .form-check__input:not(:disabled):not(:checked)+.form-check__label:hover::before{
	border-color: #b3d7ff;
} */
/* стили для активного состояния чекбокса (при нажатии на него) */
/* .form-check__input:not(:disabled):active+label::before{
	background-color: #b3d7ff;
	border-color: #b3d7ff;
} */
/* стили для чекбокса, находящегося в фокусе */
/* .form-check__input:focus+label::before{
	-webkit-box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
	box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
} */
/* стили для чекбокса, находящегося в фокусе НО НЕ CHECKED */
/* .form-check__input:focus:not(:checked)+label::before{
	border-color: #80bdff;
}
 */

 /* стили для чекбокса, находящегося в состоянии disabled */
/* .form-check__input:disabled+label::before {
  background-color: #e9ecef;
} */
/* RADIO - BUTTON - STYLES */
/* .form-radio__input:not(:disabled):not(:checked)+.form-radio__label:hover::before{
	border-color: #b3d7ff;
} */
/* стили для активной радиокнопки (при нажатии на неё) */
/* .form-radio__input:not(:disabled):active+.form-radio__label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
} */
/* стили для радиокнопки, находящейся в фокусе */
/* .form-radio__input:focus+.form-radio__label::before {
  -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
  box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25);
} */
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
/* .form-radio__input:focus:not(:checked)+.form-radio__label::before {
  border-color: #80bdff;
} */
/* стили для радиокнопки, находящейся в состоянии checked */
/* .form-radio__input:checked+.form-radio__label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
} */
/* стили для радиокнопки, находящейся в состоянии disabled */
/* .form-radio__input:disabled+.form-radio__label::before {
  background-color: #e9ecef;
} */


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){
   .form__group_pass.error .form__label_control,
   .form__group_pass-confirm.error .form__label_control {
     -webkit-transform: translateY(-1rem) scale(0.8);
     -ms-transform: translateY(-1rem) scale(0.8);
     transform: translateY(-1rem) scale(0.8);
   }
   .form__group.focused .form__label_control {
     -webkit-transform: translateY(-1rem) scale(0.8);
     -ms-transform: translateY(-1rem) scale(0.8);
     transform: translateY(-1rem) scale(0.8);
   }
   .form__group.valid .form__label_control {
     -webkit-transform: translateY(-1rem) scale(0.8);
     -ms-transform: translateY(-1rem) scale(0.8);
     transform: translateY(-1rem) scale(0.8);
   }
}