/* 
  container-name 	|	 max-width	|	screen-width	|	column-name 	|	media-query 
  ------------------------------------------------------------------------------------------------------
  .container		|		1320	|		>= 1400		|		.col		|	none || min-width: 1400px
  ------------------------------------------------------------------------------------------------------
  .container_xl	|		1140	|		>= 1200		|		.col_xl		|	max-width: 1399.98px
  ------------------------------------------------------------------------------------------------------
  .container_lg	|		960		|		>= 992		|		.col_lg		|	max-width: 1199.98px
  ------------------------------------------------------------------------------------------------------
  .container_md	|		720		|		>= 768		|		.col_md		|	max-width: 991.98px
  ------------------------------------------------------------------------------------------------------
  .container_sm	|		540		|		>= 576		|		.col_sm		|	max-width: 767.98px
  ------------------------------------------------------------------------------------------------------
  none			|		440		|		100%		|		.col_xs		|	max-width: 575.98px
  ------------------------------------------------------------------------------------------------------
  none			|		none	|		100%		|		.col_xxs	|	max-width: 414.98px
  ------------------------------------------------------------------------------------------------------
*/

/*
 контейнеры определены в файле default.scss,
адаптив к ним - в файле media-queries.scss
*/

// закомментиовать после таблицы величину паддингов для контейнеров и колонок!!!

@use "_partials/variables" as v;
@use "_partials/mixins" as m;

// Grid vars
$col: col;
$offset: offset;

.row {
  margin: 0 (- v.$gutter);
  display: flex;
  flex-wrap: wrap;
}

@for $col-num from 1 through 12 {
  @if $col-num == 12 {
    .#{$col} {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
    }
  } @else {
    .#{$col}-#{$col-num} {
      -ms-flex-preferred-size: calc(100% * $col-num / 12);
      flex-basis: calc(100% * $col-num / 12);
    }
  }
}

.#{$col} {
  &,
  &-1,
  &-2,
  &-3,
  &-4,
  &-5,
  &-6,
  &-7,
  &-8,
  &-9,
  &-10,
  &-11,
  &-12 {
    flex: none;
  }
}

/* Offsets 
 -------------------- */
@for $col-num from 0 through 12 {
  @if $col-num == 0 {
    .#{$offset}-none {
      margin-left: calc(100% * $col-num / 12);
    }
  } @else {
    .#{$offset}-#{$col-num} {
      margin-left: calc(100% * $col-num / 12);
    }
  }
}

.px-12 {
  padding: 0 1.2rem;
}

/* XL 
 ==================== */
@media (max-width: 1399.98px) {
  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_xl {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_xl-#{$col-num} {
        -ms-flex-preferred-size: calc(100% * $col-num / 12);
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  .#{$col}_xl {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_xl-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_xl-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}

/* lG 
 ==================== */
@media (max-width: 1199.98px) {
  .#{col}_lg {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_lg {
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_lg-#{$col-num} {
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_lg-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_lg-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}

/* MD 
 ==================== */
@media (max-width: 991.98px) {
  .#{$col}_md {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_md {
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_md-#{$col-num} {
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_md-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_md-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}

/* SM
 ==================== */
@media (max-width: 767.98px) {
  .#{$col}_sm {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_sm {
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_sm-#{$col-num} {
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_sm-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_sm-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}

/* XS
 ==================== */
@media (max-width: 575.98px) {
  .#{$col}_xs {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_xs {
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_xs-#{$col-num} {
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_xs-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_xs-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}

/* XXS 
 ==================== */
@media (max-width: 414.98px) {
  .#{$col}_xxs {
    flex: 1;
    &-1, &-2, &-3, &-4, &-5, &-6, &-7, &-8, &-9, &-10, &-11, &-12 {
      flex: none;
    }
  }

  @for $col-num from 1 through 12 {
    @if $col-num == 12 {
      .#{$col}_xxs {
        flex-basis: 100%;
      }
    } @else {
      .#{$col}_xxs-#{$col-num} {
        flex-basis: calc(100% * $col-num / 12);
      }
    }
  }

  /* Offsets 
 -------------------- */

  @for $col-num from 0 through 12 {
    @if $col-num == 0 {
      .#{$offset}_xxs-none {
        margin-left: calc(100% * $col-num / 12);
      }
    } @else {
      .#{$offset}_xxs-#{$col-num} {
        margin-left: calc(100% * $col-num / 12);
      }
    }
  }
}
