@use '_partials/variables' as v;

.radio-btn{
    padding-left: v.$radio-outer-left-position;
    &__input{
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    &__label{
        position: relative;
        display: -webkit-inline-box;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        &:before{
            content:'';
            position: absolute;
            left: -(v.$radio-outer-left-position);
            display: inline-block;
            width: v.$radio-outer-width;
            height: v.$radio-outer-width;
            border: 1px solid #adb5bd;
            border-radius: 50%;
            -webkit-transition: .2s;
            -o-transition: .2s;
            transition: .2s;
        }
        &:after{
            content:'';
            position: absolute;
            left: -(v.$radio-inner-left-position);
            display: inline-block;
            width: v.$radio-inner-width;
            height: v.$radio-inner-width;
            border-radius: 50%;
            background-color: rgb(255, 255, 255);
            -webkit-transition: -webkit-transform cubic-bezier(1,1.56,.55,1.52) .2s;
            transition: -webkit-transform cubic-bezier(1,1.56,.55,1.52) .2s;
            -o-transition: transform cubic-bezier(1,1.56,.55,1.52) .2s;
            transition: transform cubic-bezier(1,1.56,.55,1.52) .2s;
            transition: transform cubic-bezier(1,1.56,.55,1.52) .2s, -webkit-transform cubic-bezier(1,1.56,.55,1.52) .2s;
            -webkit-transform: scale(0);
                -ms-transform: scale(0);
                    transform: scale(0);
        }
    }
}

/* стили при наведении курсора на radio-btn */
.radio-btn__input:not(:disabled):not(:checked)+.radio-btn__label:hover::before{
	border-color: v.$radio-btn-hover-border-color;
}
/* стили для активной радиокнопки (при нажатии на неё) */
.radio-btn__input:not(:disabled):active+.radio-btn__label::before {
  background-color: v.$radio-btn-active-bg;
  border-color: v.$radio-btn-active-border-color;
}
/* стили для радиокнопки, находящейся в фокусе */
.radio-btn__input:focus+.radio-btn__label::before {
  -webkit-box-shadow: 0 0 0 0.1rem v.$radio-btn-focus-shadow-color;
          box-shadow: 0 0 0 0.1rem v.$radio-btn-focus-shadow-color;
}
/* стили для радиокнопки, находящейся в фокусе и не находящейся в состоянии checked */
.radio-btn__input:focus:not(:checked)+.radio-btn__label::before {
  border-color: v.$radio-btn-focus-border-color;
}
/* стили для радиокнопки, находящейся в состоянии checked */
.radio-btn__input:checked+.radio-btn__label::before {
  border-color: v.$radio-btn-checked-border-color;
  background-color: v.$radio-btn-checked-bg;
  // background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8' %3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}
.radio-btn__input:checked+.radio-btn__label::after{
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
/* стили для радиокнопки, находящейся в состоянии disabled */
.radio-btn__input:disabled+.radio-btn__label::before {
  background-color: v.$radio-btn-disabled-bg;
}