|&lt;div class="checkbox"&gt;
|  &lt;input class="checkbox__input" id="userCheck" type="checkbox" name="userCheck"&gt;
|  &lt;label class="checkbox__label" for="userCheck"&gt;Я даю согласие на обработку  моих персональных данных&lt;/label&gt;
|&lt;/div&gt;