@use '_partials/variables' as v;
@use '_partials/mixins' as m;


@import "comments.scss";
@import "fonts.scss";
@import "default.scss";
// @import "grid.scss";


/* V. Sprite
--------------------------------------- */ 

/* 1. Sprite:svg 
-------------------------*/
// Для добавления svg-спрайтов: необходимо только задать нужный класс а html.
// например     i.svg-icons.svg-icons-dims
@import "../../../tmp/scss/sprite-svg.scss";


/* 2. Sprite:png  
-------------------------*/
// scss-свойства спрайтов не добавлены по умочанию, свойство каждого спрайта нужно добавлять отдельно.
// Для добавления png-спрайтов:
//      - добавить в html разметку
//                                  div.sprite-class либо 
//                                  i.sprite-class
//      - добавить в scss-файл свойство 
//                                   .icon-home {
//                                          @include sprite($icon-email);
//                                  }
@import "../../../tmp/scss/sprite-png.scss";

// Sprite:png styles
// .icon-email {
//   @include sprite($icon-email);
// }
.sad-icon {
  @include sprite($sad-icon);
}
.chrome {
  @include sprite($chrome);
}
.yandex {
  @include sprite($yandex);
}
.firefox {
  @include sprite($firefox);
}
.opera {
  @include sprite($opera);
}
.edge {
  @include sprite($edge);
}


// Здесь будут основные стили проекта



/* VI. Layout
--------------------------------------- */


/* Header 
-------------------------*/


.jump {
  animation: dotJump cubic-bezier(0.57, -0.17, 0.46, 1.22) 0.5s forwards;
}
.header {
  flex: none;
  padding: 2rem 0;
  box-shadow: 0 0px 15px -5px #506690;
  font-size: 1.8rem;
  &__container{
    display: flex;
    align-items: baseline;
  }
  &__item{
    display: flex;
    align-items: flex-end;
    &_first{
      width: 20rem;
      flex: none;
    }
    &_second{
      flex-grow: 1;
      nav{
        width: 100%;
      }
    }
  }
}

.logo {
  font-size: 4rem;
  color: v.$primary-color;
  user-select: none;
  &__inner{
    display: flex;
    align-items: baseline;
  }
  &__name{
    letter-spacing: 0;
    // font-weight: 300;
  }
}

.dots {
  display: flex;
  align-items: flex-end;
  margin-left: 3px;
  font-size: inherit;
  &__item{
    display: block;
    position: relative;
    margin-right: 3px;
    width: .3em;
    height: .3em;
    font-size: .75em;
    font-weight: 300;
    border-radius: 50%;
    background: v.$primary-color;
    transition: .3s;
    cursor: pointer;
    span{
      display: none;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      line-height: .8em;
    }
    &.stopJump{
      margin-left: 0.125em;
      margin-right: 0.125em;
      cursor: default;
      &:first-child{
        margin-left: 0;
      }
      span{
        display: inline-block;
      }
    }
  }
}

.top-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  &__item{
    margin: 0 2rem;
    a{
      display: inline-block;
      position: relative;
      color: #506690;
      transition: .3s;
      // &::after{
      //   display: block;
      //   width: 0;
      //   height: 1px;
      //   position: absolute;
      //   bottom: 0;
      //   left: 0;
      //   content: '';
      //   background: #506690;
      //   transition: .3s;
      // }
      &:hover{
        color: v.$primary-color;
        // &::after{
        //   width: 100%;
        //   background: v.$primary-color;
        // }
      }
    }
    &.current{
      a{
        color: v.$primary-color;
      }
    }
  }
  &-toglle-wrap {
    display: none;
  }
}

.menu-line{
  display: block;
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 0;
  content: '';
  background: v.$primary-color;
  &.grow-right{
    left: 0;
    right: auto;
    animation: grow-right .3s ease-in forwards;
  }
  &.shrink-right{
    right: 0;
    left: auto;
    animation: shrink-right .3s ease-in forwards;
  }
}


@keyframes grow-right {
  from{
    width: 0%;
  }
  to{
    width: 100%;
  }
}


@keyframes shrink-right {
  from{
    width: 100%;
  }
  to{
    width: 0%;
  }
}


@keyframes dotJump {
  0% {
    height: .3em;
    transform: translateY(0);
  }
  10% {
    height: .25em;
  }
  50% {
    transform: translateY(-3rem);
    height: .3em;
  }
  90% {
    height: .25em;
  }
  100% {
    transform: translateY(0);
    height: .3em;
  }
}



/* Lazy 
-------------------------*/
// .lazy {
//    width: 100%;
//    height: 100%;
//    position: relative;
//       background-image: -o-linear-gradient(left, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), -o-linear-gradient(#DDD 100%, transparent 0);
//       background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop(50%, rgba(255, 255, 255, 0.5)), to(transparent)), -webkit-gradient(linear, left top, left bottom, color-stop(100%, #DDD), color-stop(0, transparent));
//       background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5) 50%, transparent 100%), linear-gradient(#DDD 100%, transparent 0);
//       background-repeat: no-repeat;
//       background-size: 26% 100%, cover;
//       background-position: 0 0, 0 0, 0px 85px, 0px 110px;
//       animation: animloader 1s linear infinite;
//    img{
//       visibility: hidden;
//    }
// }

// @-webkit-keyframes animloader {
//    0% { background-position:  0 0, 0 0, 0px 85px, 0px 110px}
//    100% { background-position:  150% 0, 0 0, 0px 85px, 0px 110px}
// }


// @keyframes animloader {
//    0% { background-position:  0 0, 0 0, 0px 85px, 0px 110px}
//    100% { background-position:  150% 0, 0 0, 0px 85px, 0px 110px}
// }


/* Modals
-------------------------*/
// Попробовать убрать скрытое отображение модального окна !!!
// .modal {
//    padding: 1.5rem;
//    display: flex;
//    align-items: center;
//    width: 100vw;
//    height: 100%;
//    position: fixed;
//    left: 0;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    z-index: 999;
//    overflow: hidden;
//    opacity: 0;
//    visibility: hidden;
//    &__content{
//       margin: auto;
//       padding: 6rem 4.5rem;
//       display: flex;
//       flex-direction: column;
//       width: 42rem;
//       position: relative;
//       z-index: 1001;
//       border-radius: v.$modal-border-radius;
//       background-color: v.$modal-content-bg;
//       font-size: 1.6rem;
//       line-height: 1.4;
//       text-align: center;
//       opacity: 0;
//       overflow: hidden;
//    }
//    &__header{
//       margin-bottom: 4rem;
//       position: relative;
//       h3{
//          margin-bottom: 2rem;
//       }
//       p{
//          margin: 0 auto;
//          max-width: 30rem;
//       }
//    }
//    &__body{
//       flex-grow: 1;
//       text-align: justify;
//       overflow: visible;
//    }
//    &__footer{
//       margin-top: 3rem;
//       font-size: 1.4rem;
//       p{
//          margin: 0 auto;
//          max-width: 30rem;
//       }
//    }
//    &__close{
//       padding: 0;
//       width: 1.4rem;
//       height: 1.4rem;
//       position: absolute;
//       top: -4.5rem;
//       right: -2rem;
//       border: none;
//       background: none;
//    }
//    &-close{
//       &__item{
//          display: block;
//          width: 1.98rem;
//          height: 3px;
//          position: absolute;
//          left: 0;
//          top: 50%;
//          border-radius: 2px;
//          background-color: v.$modal-close-item-bg;
//          box-shadow: 0px 5px 10px rgba(126, 176, 240, 0.6);
//          transition: background-color .3s;
//          &:first-child{
//             transform: rotate(45deg);
//          }
//          &:last-child{
//             transform: rotate(-45deg);
//          }
//       }
//       &:hover{
//          .modal{
//                &-close{
//                   &__item{
//                      background-color: v.$modal-close-item-bg-hover;
//                   }
//                }
//          }
//       }
//    }
//    &__overlay{
//       display: block;
//       width: 100%;
//       height: 100%;
//       position: fixed;
//       top: 0;
//       left: 0;
//       z-index: 1000;
//       background-color: v.$modal-overlay-bg;
//       opacity: 0;
//       visibility: hidden;
//    }

//    &.opened{
//       animation: fadeIn .5s ease-out forwards;
//       .modal{
//          &__content{
//             animation: slideUpIn .3s ease-out forwards;
//          }
//          &__overlay{
//             animation: fadeIn 0.5s ease forwards;
//          }
//       }
//    }
//    &.closed{
//       animation: fadeOut .5s ease-in forwards;
//       .modal{
//          &__content{
//             animation: slideUpOut .3s ease-in forwards;
//          }
//          &__overlay{
//             animation: fadeOut .5s ease-in forwards;
//          }
//       }
//    }
// }

// .thanks{
//    h3{
//       font-weight: 500;
//       span{
//          font-weight: 700;
// 		   font-size: 2.6rem;
//       }
//    }
// 	padding: 3rem;
// 	display: flex;
// 	justify-content: center;
// 	align-items: center;
//    width: 42rem;
//    position: fixed;
//    left: 50%;
//    top: 50%;
//    transform: translate(-50%, -50%);
// 	text-align: center;
//    border-radius: v.$modal-border-radius;
//    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
// 	background: v.$modal-content-bg;
// 	opacity: 0;
// 	z-index: -1;
// 	visibility: hidden;
// 	transition: opacity .5s;
// 	span{
// 		display: block;
// 		margin-bottom: 2rem;
// 	}
// 	&.active{
// 		z-index: 99999;
// 		visibility: visible;
// 		opacity: 1;
// 		animation: fadeIn 1.5s ease forwards, fadeOut 1.5s ease forwards 5s;
// 	}
// }

// .loader-container{
//    position: relative;
//    z-index: 50;
// }

// .submit-loader{
//    display: block;
//    width: 100%;
//    height: 100%;
//    position: absolute;
//    top: 0;
//    right: 0;
//    bottom: 0;
//    left: 0;
//    z-index: 55;
//    background: rgba(0, 0, 0, .3) url('../img/loader.gif') center no-repeat;
//    background-size: contain;
//    border-radius: 10px;
// }

/* 
ANIMATIONS
------------------------------ */
// @-webkit-keyframes fadeIn {
//    from {
//       visibility: hidden;
//       opacity: 0;
//    }
//    to {
//       visibility: visible;
//       opacity: 1;
//    }
// }
// @keyframes fadeIn {
//    from {
//       visibility: hidden;
//       opacity: 0;
//    }
//    to {
//       visibility: visible;
//       opacity: 1;
//    }
// }

// @-webkit-keyframes fadeOut {
//    from {
//       visibility: visible;
//       opacity: 1;
//    }
//    to {
//       visibility: hidden;
//       opacity: 0;
//    }
// }

// @keyframes fadeOut {
//    from {
//       visibility: visible;
//       opacity: 1;
//    }
//    to {
//       visibility: hidden;
//       opacity: 0;
//    }
// }

// @-webkit-keyframes slideUpIn {
//    from {
//       opacity: 0;
//       visibility: hidden;
//       -webkit-transform: translateY(10%);
//                transform: translateY(10%);
//    }
//    to {
//       opacity: 1;
//       visibility: visible;
//       -webkit-transform: translateY(0%);
//                transform: translateY(0%);
//    }
// }

// @keyframes slideUpIn {
//    from {
//       opacity: 0;
//       visibility: hidden;
//       -webkit-transform: translateY(10%);
//                transform: translateY(10%);
//    }
//    to {
//       opacity: 1;
//       visibility: visible;
//       -webkit-transform: translateY(0%);
//                transform: translateY(0%);
//    }
// }

// @-webkit-keyframes slideUpOut {
//    from {
//       opacity: 1;
//       visibility: visible;
//       -webkit-transform: translateY(0%);
//                transform: translateY(0%);
//    }
//    to {
//       opacity: 0;
//       visibility: hidden;
//       -webkit-transform: translateY(-10%);
//                transform: translateY(-10%);
//    }
// }

// @keyframes slideUpOut {
//    from {
//       opacity: 1;
//       visibility: visible;
//       -webkit-transform: translateY(0%);
//                transform: translateY(0%);
//    }
//    to {
//       opacity: 0;
//       visibility: hidden;
//       -webkit-transform: translateY(-10%);
//                transform: translateY(-10%);
//    }
// }

@import "media-queries.scss";
@import "gte-ie10-style.scss";