@charset "UTF-8";
.checkbox__input {
  position: absolute;
  display: none;
}
.checkbox__input:checked + .checkbox__label::before {
  border-color: rgba(196, 196, 196, 0.5);
  background-color: rgba(196, 196, 196, 0.5);
  background-image: url("../img/check-icon.svg");
}
.checkbox__label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.checkbox__label:before {
  display: inline-flex;
  flex: none;
  margin-right: 1em;
  content: "";
  height: 1.2em;
  width: 1.2em;
  border: solid 1px rgba(196, 196, 196, 0.5);
  background-color: rgba(196, 196, 196, 0.5);
  background-repeat: no-repeat;
  background-size: 115%;
  background-position: center;
  transition: all 0.25s;
}

/* стили при наведении курсора на checkbox */
.checkbox__input:not(:disabled):not(:checked) + .checkbox__label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного состояния чекбокса (при нажатии на него) */
.checkbox__input:not(:disabled):active + .checkbox__label::before {
  background-color: #0077ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в состоянии disabled */
.checkbox__input:disabled + .checkbox__label::before {
  background-color: #0b0322;
}

/* стили для чекбокса, находящегося в фокусе */
/* не отображается, т.к. .checkbox display: none */
/* .checkbox__input:focus+.checkbox__label::before */
 * -webkit-box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25)
 * box-shadow: 0 0 0 0.1rem rgba(0, 123, 255, 0.25)
 * border-color: #ff0000 */
/* стили для чекбокса, находящегося в фокусе НО НЕ CHECKED */
/* не отображается, т.к. .checkbox display: none */
/* .checkbox__input:focus:not(:checked)+.checkbox__label::before */
 * border-color: #000000 */