doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Component`s Name
        link(rel="stylesheet", href="css/style.css")
    body 
        |
        |
        h1 Component`s Name
        |
        |
        .container
            |
            |
            <!-- COMPONENT`S CODE -->
            |
            |
            .select
                span.select__option_selected
                    | Выбрать город
                span.arrow-bg
                    span.arrow

                .select__option-box
                    ul
                        li.select__option Астрахань
                        li.select__option Белгород
                        li.select__option Воронеж
                        li.select__option Грозный
                        li.select__option Екатеринбург
                        li.select__option Казань
                        li.select__option Москва
                        li.select__option Новосибирск
                        li.select__option Пермь
                        li.select__option Ростов-на-Дону
                        li.select__option Санкт-Петербург
                        li.select__option Тюмень
                        li.select__option Чита
            |
            |
            .select
                span.select__option_selected
                    | Выбрать город
                span.arrow-bg
                    span.arrow

                .select__option-box
                    ul
                        li.select__option Астрахань
                        li.select__option Белгород
                        li.select__option Воронеж
                        li.select__option Грозный
                        li.select__option Екатеринбург
                        li.select__option Казань
                        li.select__option Москва
                        li.select__option Новосибирск
                        li.select__option Пермь
                        li.select__option Ростов-на-Дону
                        li.select__option Санкт-Петербург
                        li.select__option Тюмень
                        li.select__option Чита
            |
            |
            .select
                span.select__option_selected
                    | Выбрать город
                span.arrow-bg
                    span.arrow

                .select__option-box
                    ul
                        li.select__option Астрахань
                        li.select__option Белгород
                        li.select__option Воронеж
                        li.select__option Грозный
                        li.select__option Екатеринбург
                        li.select__option Казань
                        li.select__option Москва
                        li.select__option Новосибирск
                        li.select__option Пермь
                        li.select__option Ростов-на-Дону
                        li.select__option Санкт-Петербург
                        li.select__option Тюмень
                        li.select__option Чита





            <!-- END OF COMPONENT`S CODE -->
            |
            |
            br
            br
            br
            br
            br

            <!-- END OF COMPONENT`S CODE -->
        script(src="js/script.dev.js")