.container.header__container
    | 

    .header__item.header__item_first
        .logo
            .logo__inner
                span.logo__name Dots
                span.dots
                    span.dots__item 
                        span e
                    span.dots__item 
                        span n
                    span.dots__item 
                        span k
                    span.dots__item 
                        span o
    |
    |
    .header__item.header__item_second.top-nav
        +topMenuUnderlined
    |
    | 
    .header__item
|
|
// BURGER-BTN
.top-menu-toggle-wrap
    .top-menu-toggle
        .top-menu-toggle__item 
        .top-menu-toggle__item 
        .top-menu-toggle__item 