header
    h1(style="font-weight: 400;") 400 Hello, проверка подключения шрифтов!
    h1(style="font-style: italic; font-weight: 400;") 400 Hello, проверка подключения шрифтов!

    h1(style="font-weight: 700;") 700 Hello, проверка подключения шрифтов!
    h1(style="font-style: italic; font-weight: 700;") 700 Hello, проверка подключения шрифтов!

    h1(style="font-weight: 900;") 900 Hello, проверка подключения шрифтов!
    h1(style="font-style: italic; font-weight: 900;") 900 Hello, проверка подключения шрифтов!
|<!-- Header End -->