head
    |
    |
    <!--Basic Page Needs 
    |
    |==============================================-->
    meta(charset="UTF-8")
    title= page ? page.pageTitle : 'отсутствует переменная page'
    meta(name="description", content="")
    meta(name="author", content="")
    meta(name="robots", content="index, nofollow")


    |
    |
    |<!--Fonts preload
    |==================================================-->
    |<!-- Raleway-Regular
    |------------------------------------------------- -->
    link(rel="preload" as="font" href="fonts/Raleway-Regular.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Regular.woff" type="font/woff" crossorigin="anonymous") 
    link(rel="preload" as="font" href="fonts/Raleway-Regular.ttf" type="font/ttf" crossorigin="anonymous")
    |
    |
    |<!-- Raleway-Italic
    |------------------------------------------------- -->
    link(rel="preload" as="font" href="fonts/Raleway-Italic.woff2" type="font/woff2" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Italic.woff" type="font/woff" crossorigin="anonymous")
    link(rel="preload" as="font" href="fonts/Raleway-Italic.ttf" type="font/ttf" crossorigin="anonymous")
    //- И так далее с каждым начертанием шрифта
    |
    |<!--Fonts preload end-->


    |
    |
    |<!--Mobile Specific Metas 
    |==================================================-->
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")


    |
    |
    |<!--CSS
    |==================================================-->
    link(rel="stylesheet" href="css/fonts.css")
    link(rel="stylesheet" href="css/default.css")
    link(rel="stylesheet" href="css/grid.css")
    link(rel="stylesheet" href="css/media-queries.css")

    //- Разбить CSS-код на подфайлы
    //- link(rel="stylesheet" href="css/default.css")
    //- link(rel="stylesheet" href="css/layout.css")
    //- link(rel="stylesheet" href="css/media-queries.css")


    |
    |
    |<!-- Favicons
    |================================================== -->
    //- Старый способ - подержка в IE10 
    //- link(rel="shortcut icon" href="/favicon.ico" type="image/x-icon")

    //- SVG иконка для вкладок, размер "любой"
    link(rel="icon" href="img/icons/favicon.svg" sizes="any" type="image/svg+xml")
    //- Или .png иконка размерами 16x16 и 32x32-для ретины
    //- Touch иконка работает на iPad4,
        //- не работает svg, формат .png для Apple 180x180
    link(rel="apple-touch-icon" sizes="180x180" href="img/icons/apple-touch-icon-180x180.png" type="image/png")
    //- Manifest пока в основном для touch иконок для Android - минимум 192x192
    link(rel="manifest", href="manifest.webmanifest")