html{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
}
*,
*:before,
*:after{
	margin: 0;
	-webkit-box-sizing: inherit;
	box-sizing: inherit;
}

.tabs-wrap{
	margin: 50px auto;
	width: 600px;
	border-radius: 10px;
	border: 1px solid #888;
	-webkit-box-shadow: 0 0 30px rgba(0,0,0,.2);
	box-shadow: 0 0 25px 3px rgba(0,0,0,.2);
	overflow: hidden;
}
.tabs{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.tabs__item{
	padding: 10px;
	width: calc(100% / 3);
	text-align: center;
	border-left: 1px solid #888;
	border-bottom: 1px solid #888;
	/*border: 1px solid #888;*/
	background: #f0f0f0;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.tabs__item:hover{
	-webkit-filter: blur(3px);
	filter: blur(1px);
}
.tabs__item:first-child{
	border-left-color: transparent;
	
}
.tabs__item.active{
	background: #fff;
	border-bottom-color: transparent;
}
.tabs-content{
	position: relative;
	height: 300px;
	line-height: 1.5;
	/*border-right: 1px solid #888;*/
	/*border-bottom: 1px solid #888;*/
	/*border-left: 1px solid #888;*/
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	/*overflow: auto;*/
}
.tabs-content__item{
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: opacity .3s;
	-o-transition: opacity .3s;
	transition: opacity .3s;
}
.tabs-content__item h3{
	margin: 10px auto;
}
.tabs-content__item.active{
	z-index: 5;
	opacity: 1;
}