@charset "UTF-8";
/*  =====================================================================
TOC:
I. Font settings		fonts.scss

II. Styles reset		default.scss
III. Default styles
   1. Basic
   2. Typography
   3. Links
   4. Images
   5. Buttons
   6. Forms
III. Grid
IV. Others
   1. Clearing
   2. Misc
V. Sprite
VI. Layout
VII. Media-queries
VIII. IE >= 10 - media-queries

=====================================================================  */
/* =====================================================================  
	----------------------------------------------------------------------------------------------------------------------------------
	            | min: 1400px |	XL			   | LG				| MD		   | SM				 | XS			   | XXS			 | 
	            | min: 1400px | max: 1399.98px | max: 1199.98px | max: 991.98p | max: 767.98px   | max: 575.98px   | max: 414.98px   | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block		| block       | block          | block         	| block        | block           | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_xl  | ----        | block          | block         	| block        | block           | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_lg  | ----        | ----           | block          | block        | block           | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_md  | ----        | ----           | ----           | block        | block           | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_sm  | ----        | ----           | ----           | ----         | block           | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_xs  | ----        | ----           | ----           | ----         | ----            | block           | block           | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-block_xxs | ----        | ----           | ----           | ----         | ----            | ----            | block           | 
   ===================================================================================================================================

   ===================================================================================================================================
	            | min: 1400px |	XL			   | LG				| MD		   | SM				 | XS			   | XXS			 | 
	            | min: 1400px | max: 1399.98px | max: 1199.98px | max: 991.98p | max: 767.98px   | max: 575.98px   | max: 414.98px   | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none		| none        | none           | none           | none         | none            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_xl   | ----        | none           | none           | none         | none            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_lg   | ----        | ----           | none           | none         | none            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_md   | ----        | ----           | ----           | none         | none            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_sm   | ----        | ----           | ----           | ----         | none            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_xs   | ----        | ----           | ----           | ----         | ----            | none            | none            | 
	----------------------------------------------------------------------------------------------------------------------------------
	d-none_xxs  | ----        | ----           | ----           | ----         | ----            | ----            | none            | 
   ===================================================================================================================================
//    Exaple:	.d-none.d-block_md.d-none_sm.d-block_xxs
=====================================================================  */
/*  I. Font settings
--------------------------------------- */
@font-face {
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff"), url("../fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff"), url("../fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/Raleway-SemiBold.woff2") format("woff2"), url("../fonts/Raleway-SemiBold.woff") format("woff"), url("../fonts/Raleway-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Raleway";
  src: local("Raleway Bold"), local("Raleway-Bold"), url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
/* II. Styles reset
--------------------------------------- */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
}

[hidden] {
  display: none;
}

button,
input {
  border: none;
  outline: none;
  border-radius: 0;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

i {
  display: inline-block;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

blockquote,
q {
  quotes: blockquote, q #8220 blockquote, q #8220;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ul, ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* III. Default styles
--------------------------------------- */
/* 1. Basic
------------------- */
html {
  font-family: "Raleway", "Helvetica", sans-serif;
  -webkit-font-feature-settings: "pnum" on, "lnum" on;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 400;
  line-height: 1.2;
  font-size: 10px;
  color: #2a2b31;
}

h1, h2, h3, h4, h5, h6,
p {
  cursor: default;
}

.container, .container_xl, .container_lg, .container_md, .container_sm {
  margin: 0 auto;
  padding: 0 1.5rem;
}

.container {
  max-width: 123rem;
}
.container_xl {
  max-width: 114rem;
}
.container_lg {
  max-width: 96rem;
}
.container_md {
  max-width: 72rem;
}
.container_sm {
  max-width: 54rem;
}

.d-none {
  display: none;
}
.d-block {
  display: block;
}
.d-inline {
  display: inline;
}

.scroll-hidden {
  /*для скрытия полосы прокрутки*/
  padding-right: 17px;
  overflow: hidden;
}

.wrapper {
  margin: 0 auto;
  max-width: 1920px;
  overflow: hidden;
  position: relative;
}

/* 2. Typography
-------------------------*/
address {
  font-style: normal;
}

.text_primary-blue {
  color: #1C84E3;
}
.text_medium {
  font-weight: 600;
}
.text_semibold {
  font-weight: 600;
}
.text_bold {
  font-weight: 700;
}

/* 3. Links
-------------------------*/
a, a:visited {
  text-decoration: none;
  outline: none;
  color: #52596F;
  -webkit-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
a.text-link, a:visited.text-link {
  color: #52596F;
  text-decoration: underline;
}

a.text-link:hover, a.text-link:focus {
  text-decoration: none;
}
a.text-link:active {
  text-decoration: none;
}

/* 4. Images
-------------------------*/
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 5. Buttons
-------------------------*/
button,
input[type=submit],
input[type=reset],
input[type=button],
.btn {
  font-family: "Raleway", "Helvetica", sans-serif;
  text-decoration: none;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 8px;
  background: none;
  overflow: hidden;
}
.btn__text {
  margin-left: 1.2rem;
}
.btn_full-width, .btn_lg, .btn_md, .btn_sm {
  width: 100%;
}
.btn_lg {
  max-width: 20rem;
}
.btn_md {
  max-width: 15rem;
}
.btn_sm {
  max-width: 10rem;
}

button[type=submit] {
  display: inline-block;
}

/* 6. Forms 
-------------------------*/
input:not(input[type=checkbox]),
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input:-ms-input-placeholder {
  color: rgba(115, 255, 0, 0.938);
}

input::-webkit-input-placeholder {
  color: rgba(255, 0, 0, 0.95);
}

input::-moz-placeholder {
  color: rgba(8, 94, 255, 0.918);
}

input::-ms-clear {
  display: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

select::-ms-expand {
  display: none;
}

/* III. Grid
--------------------------------------- */
/* IV. Others
--------------------------------------- */
/* V. Sprite
--------------------------------------- */
/* 1. Sprite:svg 
-------------------------*/
.svg-user {
  background: url("sprite.svg") no-repeat;
}

.svg-user {
  background-position: 0 0;
}

.svg-user-dims {
  width: 16px;
  height: 17px;
}

/* 2. Sprite:png  
-------------------------*/
.house-blue {
  background-image: url(sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}

.sad-icon {
  background-image: url(sprite.png);
  background-position: 0px -212px;
  width: 48px;
  height: 48px;
}

.chrome {
  background-image: url(sprite.png);
  background-position: 0px -20px;
  width: 48px;
  height: 48px;
}

.yandex {
  background-image: url(sprite.png);
  background-position: 0px -260px;
  width: 48px;
  height: 48px;
}

.firefox {
  background-image: url(sprite.png);
  background-position: 0px -116px;
  width: 47px;
  height: 48px;
}

.opera {
  background-image: url(sprite.png);
  background-position: 0px -164px;
  width: 47px;
  height: 48px;
}

.edge {
  background-image: url(sprite.png);
  background-position: 0px -68px;
  width: 48px;
  height: 48px;
}

/* VI. Layout
--------------------------------------- */
/* Header 
-------------------------*/
/* Lazy 
-------------------------*/
/* Modals
-------------------------*/
/* 
ANIMATIONS
------------------------------ */
.menu__item.red {
  font-weight: 800;
}
.menu__item.red a {
  color: red;
}

/* VII. Media-queries
--------------------------------------- */
@media (max-width: 1399.98px) {
  .container {
    max-width: 114rem;
  }

  .d-none_xl {
    display: none;
  }
  .d-block_xl {
    display: block;
  }
  .d-inline_xl {
    display: inline;
  }
}
@media (max-width: 1199.98px) {
  .container, .container_xl {
    max-width: 96rem;
  }

  .d-none_lg {
    display: none;
  }
  .d-block_lg {
    display: block;
  }
  .d-inline_lg {
    display: inline;
  }
}
@media (max-width: 991.98px) {
  .container, .container_xl, .container_lg {
    max-width: 740px;
  }

  .d-none_md {
    display: none;
  }
  .d-block_md {
    display: block;
  }
  .d-inline_md {
    display: inline;
  }
}
@media (max-width: 767.98px) {
  .container, .container_xl, .container_lg, .container_md {
    max-width: 540px;
  }

  .d-none_sm {
    display: none;
  }
  .d-block_sm {
    display: block;
  }
  .d-inline_sm {
    display: inline;
  }
}
@media (max-width: 575.98px) {
  .container, .container_xl, .container_lg, .container_md, .container_sm {
    max-width: 440px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .d-none_xs {
    display: none;
  }
  .d-block_xs {
    display: block;
  }
  .d-inline_xs {
    display: inline;
  }
}
@media (max-width: 414.98px) {
  .d-none_xxs {
    display: none;
  }
  .d-block_xxs {
    display: block;
  }
  .d-inline_xxs {
    display: inline;
  }
}
/* VIII. IE >= 10 - media-queries
--------------------------------------- */
/*# sourceMappingURL=style.css.map */
