{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>{% block title %}{% endblock %}</title>
        <!-- FONTS PRELOAD -->
    <!-- Roboto -->
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Regular.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Regular.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Bold.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Bold.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <!-- BebasNeue -->
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueRegular.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueRegular.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueBold.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueBold.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <!-- FONTS PRELOAD -->
    <link href="{% static "favicon/favicon.ico" %}" rel="shortcut icon" type="image/x-icon" />
    <link href="{% static "css/fonts.css" %}" rel="stylesheet"/>
    <link href="{% static "css/base.css" %}" rel="stylesheet" />
    <link href="{% static "slick/slick.css" %}" rel="stylesheet" />
</head>

{% block content %}{% endblock %}
<div id="scroll-to-top-btn"><img src="{% static 'icons/scroll.svg' %}" alt="scroll"/></div>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/thumb.js" %}"></script>
<script src="{% static "js/menu.js" %}"></script>
<script src="{% static "slick/slick.min.js" %}"></script>
<script src="{% static "js/slider.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>
</html>