{% extends 'articles/pages_base.html' %}
{% load static watermark %}
{% block title %}Галерея наших объектов{% endblock %}

{% block content %}
    <main class="main">
        <section style="margin-top: 50px" class="section objects">
            <div class="container objects__header">
                <div class="row">
                    <div class="col-12 content">
                    {{ slugs }}
                        {% if request.GET.ready %}
                            <h1>Выполненные объекты</h1>
                        {% elif request.GET.at_work %}
                            <h1>Объекты в работе</h1>
                        {% else %}
                            <h1>Все объекты</h1>
                        {% endif %}
                        <div class="objects__desc">
                            <p>Подразделением "Группы компаний Альфа" выполнено более 150 объектов (фасады разного типа
                                общей площадью 217 800 м2 ) как в Санкт-Петербурге так и в других регионах РФ. Из них 77
                                объектов выполнено "под ключ" от разработки концепции и проекта фасада, производства и
                                комплектации, монтажа и согласования (комплекс мероприятий с последующим получением
                                паспорта фасада) до передачи фасада в эксплуатацию.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container objects__content">
                <div class="objects__grid">
                    {% for b in buildings %}
                        <div class="objects__item">
                            <a href="/buildings/{{ b.slug }}/">
                                <div class="objects__img covered-thumb">
                                    <img src="{{ b.image.url|watermark:"default,opacity=50,position=c" }}" alt="">
                                </div>
                                <div class="objects__caption">
                                    <p>{{ b.name }}</p>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>

                <div class="right-menu-wrap">
                    <aside class="right-menu">

                        <div class="objects__select">
                            <select name="objects-cat" id="objects-cat" onchange="location=this.value;">
                                <option value="/buildings/">Все объекты</option>
                                <option value="?ready=Y">Выполненные объекты</option>
                                <option value="?at_work=Y">Объекты в работе</option>
                            </select>
                        </div>
                        <script>
                            const select = document.querySelector('#objects-cat').getElementsByTagName('option');
                            for (let i = 0; i < select.length; i++) {
                                if (select[i].value === window.location['search']) select[i].selected = true;
                            }
                        </script>

                        <div class="objects__list-wrap">
                            <div class="objects__list">
                                <p>Навесные вентилируемые фасады</p>
                                <ul>
                                    {% for s in sections|slice:"0:16" %}
                                        <li><a href="/buildings/category/{{ s.slug }}/">{{ s }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="objects__list">
                                <p>Элементы фасада</p>
                                <ul>
                                    {% for s in sections|slice:"16:19" %}
                                        <li><a href="/buildings/category/{{ s.slug }}/">{{ s }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <div class="objects__list">
                                <p>Архитектура и интерьер</p>
                                <ul>
                                    {% for s in sections|slice:"19:21" %}
                                        <li><a href="/buildings/category/{{ s.slug }}/">{{ s }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </aside>
                </div>

            </div>
        </section>
        <div class="show-special"></div>


        <section class="section section--benefits section--benefits_buildings">
            <div class="container">
                <div class="row section--benefits__row">
                    <ul class="benefits-list">
                        <li class="benefits-list__item">150 сданных под ключ объекта</li>
                        <li class="benefits-list__item">230000 м2 облицовано фасадов</li>
                        <li class="benefits-list__item">15 лет успешной работы на рынке</li>
                    </ul>
                    <ul class="benefits-list">
                        <li class="benefits-list__item">собственный проектный отдел</li>
                        <li class="benefits-list__item">опыт в реализации сложных объектов</li>
                        <li class="benefits-list__item">собственные бригады</li>
                    </ul>
                    <ul class="benefits-list">
                        <li class="benefits-list__item">собственный парк техники</li>
                        <li class="benefits-list__item">Собственное производство</li>
                    </ul>
                </div>
            </div>
        </section>
    </main>
    <!-- Б Л О К    М Е Н Ю -->
    <div class="top-nav-wrap">
        <div class="container top-nav__container">
            <div class="top-nav__header">
                <a href="#">
                    <div class="top-nav__logo">
                        <img src="{% static 'img/top-nav-logo.svg' %}" alt="Логотип">
                    </div>
                </a>
                <div class="top-menu-close">
                    <div class="top-menu-close__item"></div>
                    <div class="top-menu-close__item"></div>
                </div>
            </div>

            <nav class="top-nav">
                <div class="top-nav__item">
                    <p>О нас</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/about.html">О группе компаний Альфа</a></li>
                        <li class="top-nav__point"><a href="/preimushestva.html">Преимущества</a></li>
                        <li class="top-nav__point"><a href="/standarty-kachestva.html">Стандарты качества</a></li>
                        <li class="top-nav__point"><a href="/zakazchiki.html">Заказчики</a></li>
                        <li class="top-nav__point"><a href="/sotrudnichestvo.html">Сотрудничество</a></li>
                        <li class="top-nav__point"><a href="/karera-v-kompanii.html">Карьера в компании</a></li>
                    </ul>
                </div>

                <div class="top-nav__item">
                    <p>Объекты</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/buildings/">Все объекты</a></li>
                        <li class="top-nav__point"><a href="/buildings/?ready=Y">Выполненные объекты</a></li>
                        <li class="top-nav__point"><a href="/buildings/?at_work=Y">Объекты в работе</a></li>
                    </ul>
                </div>

                <div class="top-nav__item break-after faq">
                    <p>FAQ</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/poleznaya-informaciya.html">Полезная информация</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_work decs break-after">
                    <p>Деятельность</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/proektirovanie-fasadov.html">Проектирование фасадов</a>
                        </li>
                        <li class="top-nav__point"><a href="/vhodnye-gruppy.html">Входные группы</a></li>
                        <li class="top-nav__point"><a href="/navesnye-ventiliruemye-fasady.html">Навесные вентилируемые
                            фасады</a></li>
                        <li class="top-nav__point"><a href="/shtukaturnye-fasady.html">Штукатурные фасады</a></li>
                        <li class="top-nav__point"><a href="/stekloalyuminievye-konstrukcii.html">Стеклоалюминиевые
                            конструкции</a></li>
                        <li class="top-nav__point"><a href="/kozyrki.html">Козырьки</a></li>
                        <li class="top-nav__point"><a href="/kolonny.html">Колонны</a></li>
                        <li class="top-nav__point"><a href="/uteplenie-parkingov.html">Утепление паркингов</a></li>
                        <li class="top-nav__point"><a href="/liftovye-portaly.html">Лифтовые порталы</a></li>
                        <li class="top-nav__point"><a href="/promyshlennyj-alpinizm.html">Промышленный альпинизм</a>
                        </li>
                        <li class="top-nav__point"><a href="/ekspluataciya-fasadov.html">Эксплуатация фасадов</a></li>
                        <li class="top-nav__point"><a href="/ispytaniya.html">Испытания</a></li>
                        <li class="top-nav__point"><a href="/bystrovozvodimye-konstrukcii.html">Быстровозводимые
                            конструкции</a></li>
                        <li class="top-nav__point"><a href="/dopolnitelnye-raboty.html">Дополнительные работы</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_delivery">
                    <p>Поставка материалов</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/komplektaciya-obektov.html">Комплектация объектов</a></li>
                        <li class="top-nav__point"><a href="/karta-postavok.html">Карта поставок</a></li>
                        <li class="top-nav__point"><a href="/sertifikaty.html">Сертификаты</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_production">
                    <p>Производство</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/izgotovlenie-podsistemy-dlya-nvf.html">Изготовление подсистемы для НВФ</a></li>
                        <li class="top-nav__point"><a href="/proizvodstvo-fasadnyh-kasset.html">Производство фасадных кассет</a></li>
                        <li class="top-nav__point"><a href="/izgotovlenie-podsistemy-dlya-nvf.html">Изготовление фасонных элементов</a></li>
                        <li class="top-nav__point"><a href="/okraska-metalla-v-ral.html">Окраска металла в RAL</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_work tablet break-before">
                    <p>Деятельность</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/proektirovanie-fasadov.html">Проектирование фасадов</a>
                        </li>
                        <li class="top-nav__point"><a href="/vhodnye-gruppy.html">Входные группы</a></li>
                        <li class="top-nav__point"><a href="/navesnye-ventiliruemye-fasady.html">Навесные вентилируемые
                            фасады</a></li>
                        <li class="top-nav__point"><a href="/shtukaturnye-fasady.html">Штукатурные фасады</a></li>
                        <li class="top-nav__point"><a href="/stekloalyuminievye-konstrukcii.html">Стеклоалюминиевые
                            конструкции</a></li>
                        <li class="top-nav__point"><a href="/kozyrki.html">Козырьки</a></li>
                        <li class="top-nav__point"><a href="/kolonny.html">Колонны</a></li>
                        <li class="top-nav__point"><a href="/uteplenie-parkingov.html">Утепление паркингов</a></li>
                        <li class="top-nav__point"><a href="/liftovye-portaly.html">Лифтовые порталы</a></li>
                        <li class="top-nav__point"><a href="/promyshlennyj-alpinizm.html">Промышленный альпинизм</a>
                        </li>
                        <li class="top-nav__point"><a href="/ekspluataciya-fasadov.html">Эксплуатация фасадов</a></li>
                        <li class="top-nav__point"><a href="/ispytaniya.html">Испытания</a></li>
                        <li class="top-nav__point"><a href="/bystrovozvodimye-konstrukcii.html">Быстровозводимые
                            конструкции</a></li>
                        <li class="top-nav__point"><a href="/dopolnitelnye-raboty.html">Дополнительные работы</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_prices">
                    <p>Цены</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/prajs-list-2021-fasady-pod-klyuch.html">Прайс-лист</a></li>
                    </ul>
                </div>

                <div class="top-nav__item top-nav__item_feedback">
                    <p>Обратная связь</p>
                    <ul class="top-nav__list">
                        <li class="top-nav__point"><a href="/otpravit-zapros.html">Отправить запрос</a></li>
                        <li class="top-nav__point"><a href="/kontaktnaya-informaciya.html">Контактная информация</a></li>
                    </ul>
                </div>

            </nav>
        </div>
    </div>
    <div class="top-nav-overl"></div>
    <!--E N D     Б Л О К    М Е Н Ю -->
{% endblock %}