{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1"/>
    <title>{% block title %}{% endblock %}</title>
    <!-- FONTS PRELOAD -->
    <!-- Roboto -->
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Regular.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Regular.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Bold.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/RobotoCondensed-Bold.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <!-- BebasNeue -->
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueRegular.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueRegular.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueBold.woff" %}" type="font/woff" crossorigin="anonymous">
    <link rel="preload" as="font" href="{% static "fonts/BebasNeueBold.woff2" %}" type="font/woff2" crossorigin="anonymous">
    <!-- FONTS PRELOAD -->
    <link href="{% static "favicon/favicon.ico" %}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static "css/fonts.css" %}" rel="stylesheet"/>
    <link href="{% static "css/pages_base.css" %}" rel="stylesheet"/>
    <link href="{% static "css/my.css" %}" rel="stylesheet"/>
</head>
<body>
<header class="header header--inner">
    <div class="container">
        <div class="row">
            <div class="cols-12 col-md-auto header__logo header__logo_buildings">
                <a href="/">
                    <img src="{% static 'img/logo.svg' %}" alt="Альфа фасадное строительство" width="151" >
                </a>
            </div>

            <div class="cols-12 col-md-auto header__norm">
                <p>
                    СРО-180-20012010 / №2166 / <br>
                    ISO 9001:2015 ISO 14001:2015 <br>
                    OHSAS 18001:2007
                </p>
            </div>
            <div class="cols-12 col-md-auto header__info ml-auto">
                <a href="tel:+78122449889">8 812 244 98 89</a>
            </div>

            <div class="cols-12 col-md-auto header__menu">
                <div class="menu-burger menu-burger_buildings"><span class="burger-btn"></span><span class="burger-text">Меню</span></div>
            </div>
        </div>
    </div>
</header>

{% block content %}{% endblock %}
<footer class="footer footer_buildings">
    <div class="container-fluid">
        <div class="row row-bottom">
            <div class="footer__item cols-12 col-md-6 text-center">2021 ГК <span class="red-text">А</span>льфа Все права защищены
            </div>
            <div class="footer__item cols-12 col-md-6 text-center"><a href="tel:+78122449889">8 812 244 98 89</a> <span
                    class="red-text">•</span> <a href="mailto:info@fasad78.ru">info@fasad78.ru</a></div>
        </div>
    </div>
</footer>

<div id="scroll-to-top-btn"><img src="{% static 'icons/scroll.svg' %}" alt="scroll"/></div>
</body>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "js/menu.js" %}"></script>
<script src="{% static "js/thumb.js" %}"></script>
<script src="{% static "js/bundle.js" %}"></script>
</html>