// COMMON SETTINGS

//Status of using grid styles
$grid-style: true

// Grid Variables
$gutter: 1.2rem

// COLORS
$primary-color: #fed400
$secondary-color: #e2e1dd
$white-color: #ffffff
$black-color: #000000

$separ-color: #D9D9D9


// TRANSITIONS
$prim-transition: .35s
$link-transition: .1s

// TEXT
$text-primary-color: $secondary-color
$text-light: #fff
$text-accent-primary: $primary-color
$heading-black: $black-color
$breadcrumb-color: #555555

// LINKS
$link-color: $secondary-color

// RADIUS
$main-radius: 5px

// TYPOGRAPHY
// Переменная для миксина подключения шрифтов - указать свойства для каждого начертания шрифта
$fonts: ('Circe', 'Regular', 400, normal, swap), ('Circe', 'Bold', 700, normal, swap), ('Unbounded', 'Regular', 400, normal, swap)
// Переменная для основных стилей 
$ff-primary: "Circe", sans-serif
$ff-secondary: "Unbounded", sans-serif

// BUTTONS
$btn-padding-y: 1rem
$btn-padding-x: 2.6rem
$btn-radius: .3rem
$btn-color: $white-color

$btn-prim-bg: $primary-color
$btn-second-bg: $secondary-color

// MODAL
// ------------------------------

// FORMS
// ------------------------------
$form-input-bg: #F8F8F8
$input-focus-border-color: #BDBDBD
$invalid-text-color: #EB6F73
$invalid-border-color: #FFA1A1
$input-placeholder-color: #f00

:root
  /* Colors */
  --primary-color: #{$primary-color}
  --secondary-color: #{$secondary-color}
  --white-color: #{$white-color}
  --black-color: #{$black-color}


  /* Grid */
  --gutter: #{$gutter}


  /* Typography */
  --ff-primary: #{$ff-primary}
  --ff-secondary: #{$ff-secondary}


  /* Radius */
  --main-radius: #{$main-radius}


  /* Transitions */
  --prim-transition: #{$prim-transition}
  --link-transition: #{$link-transition}


  /* Buttons */
  --btn-padding-x: #{$btn-padding-x}
  --btn-padding-y: #{$btn-padding-y}
  --btn-radius: #{$btn-radius}
  --btn-color: #{$btn-color}
  /* Buttons-bg */
  --btn-prim-bg: #{$btn-prim-bg}
  --btn-second-bg: #{$btn-second-bg}


  /* Forms */
  --form-input-bg: #{$form-input-bg}
  --input-focus-border-color: #{$input-focus-border-color}
  --invalid-text-color: #{$invalid-text-color}
  --invalid-border-color: #{$invalid-border-color}
  --input-placeholder-color: #{$input-placeholder-color}
   