@use '_partials/_variables' as v;
@use '_partials/_mixins' as m;

/* VII. Media-queries
--------------------------------------- */
// XL
@media (max-width: 1399.98px){
	html{
		font-size: 9px;
	}
	.container{
		max-width: 114rem;
	}
	.d{
		&-block{
			&_xl{
				display: block;
			}
		}
		&-none{
			&_xl{
				display: none;
			}
		}
	}
	.intro{
		&__content{
			max-width: 81rem;
		}
		&__subheading{
			display: block;
		}
		&__man{
			right: -3rem;
		}

	}
	.form{
		&-section{
			&__form{
				justify-content: space-around;
			}
		}
		&__group{
			max-width: 305px;
		}
		&__submit{
			width: 280px;
		}
	}

	.prize{
		&__sims{
			bottom: 25rem;
		}
	}
}



// LG
@media (max-width: 1199.98px){
	html{
		// font-size: 8px;
	}
	h1{
		font-size: 3.2rem;
	}
	.container{
		&,
		&_xl{
			max-width: 96rem;
		}
	}
	.d{
		&-block{
			&_lg{
				display: block;
			}
		}
		&-none{
			&_lg{
				display: none;
			}
		}
	}
	.header{
		&__logo{
			margin-right: 0;
		}
		&__work{
			display: none;
		}
	}
	.top-menu{
		&-wrapper{
			max-width: 42rem;
		}
	}
	.intro{
		&__content{
			max-width: 65rem;
		}
		&-power{
			&__img{
				&_arrow{
					display: none;
				}
			}
		}
	}

	.prize{
		&__sims{
			right: -20rem;
		}
	}

	.questions{
		&__img2{
			top: -5rem;
		}
	}
}

// MD
@media (max-width: 991.98px){
	html{
		font-size: 8px;
	}
	h1{
		line-height: 1.4;
	}
	h2{
		font-size: 3.25rem;
	}
	h3{
		font-size: 3rem;
	}
	.btn{
		&_primary{
			padding-left: 2em;
			padding-right: 2em;
		}
		&_secondary{
			padding: 0 1.9em;
			font-size: 15px;
		}
	}
	.container{
		&,
		&_xl,
		&_lg{
			max-width: 740px;
		}
	}

	// ПЕРЕДЕЛАТЬ НАХРЕН
	.d{
		&-desktop{
			display: none;
		}
		&-mobile{
			display: block;
		}
	}
	// ДО СИХ ПОР

	.d{
		&-block{
			&_md{
				display: block;
			}
		}
		&-inline{
			&_md{
				display: inline;
			}
		}
		&-none{
			&_md{
				display: none;
			}
		}
		// &-none{
		// 	&_md{
		// 		display: none;
		// 	}
		// }
	}

	.header{
		&__container{
			position: relative;
			// padding-right: 0;
			justify-content: flex-end;
			// max-width: none;

			// padding-top: 0;
			// padding-bottom: 0;
		}
		&__work{
			display: block;
			margin-left: 1.5rem;
			max-width: 12rem;
			font-size: 16px;
		}
		&-nav{
			position: absolute;
			z-index: 990;
			// padding: 5rem 0 5rem 3rem;
			width: 100%;
			background: #fff;
			overflow: hidden;
			// height: 0;
			border-top: solid 1px #E8EAF4;

			border-radius: 0px 0px 0px 1.6rem;
			box-shadow: 0px 25px 40px rgba(146, 171, 234, 0.3);
			opacity: 0;
			visibility: hidden;
			transform: translateX(50px);
			transition: all .3s;
			&.open{
				transform: translateX(0px);
				// height: auto;
				opacity: 1;
				visibility: visible;
			}
		}
		&-contacts{
			margin-left: 0;
			padding-left: 3rem;
			// padding-top: 2.5rem;
			// padding-bottom: 2.5rem;
			// box-shadow: 0px 25px 40px rgba(146, 171, 234, 0.3);
		}
		&-phone{
			a{
				font-size: 20px;
			}
		}
		&-mail{
			a{
				font-size: 18px;
			}
		}
	}

	.logo{
		&-wrapper{
			margin-right: auto;
		}
	}

	.top-menu{
		margin: 6rem 0 5rem 3rem;
		display: block;
		max-width: 34rem;
		&-wrapper{
			display: block;
			position: absolute;
			bottom: 0;
			left: 58rem;
			width: 100%;
			max-width: 52rem;
			min-width: auto;
			height: 0;
		}
		&__item{
			font-size: 18px;
			&:not(.top-menu__item_last){
				margin-bottom: 5.3rem;
			}
		}
		&-toggler{
			margin-left: 2.5rem;
			position: relative;
			display: block;
			width: 40px;
			height: 40px;
			border: solid 1px v.$top-menu-toggler-border;
			font-size: 10px;
			border-radius: .6em;
			&__item{
				position: absolute;
				left: .9em;
				width: 2em;
				height: 0.2em;
				border-radius: 1px;
				background: v.$top-menu-toggler-border;
				transition: transform .3s;
				&:first-child{
					top: calc(50% - .1em);
				}
				&:nth-child(2){
					top: calc(50% - .7em);
				}
				&:last-child{
					top: calc(50% + .5em);
				}

			}
			&.open{
				.top-menu-toggler__item{
					&:first-child{
						opacity: 0;
					}
					// &:nth-child(2),
					// &:last-child{
					// 	transform-origin: 0;
					// }
					&:nth-child(2){
						transform: translateY(.6em) rotate(45deg);
					}
					&:last-child{
						transform: translateY(-.6em) rotate(-45deg);
					}
				}
			}
		}
		&-overl{
			display: block;
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 980;
			background: rgba(0, 38, 255, 0);
			opacity: 0;
			visibility: hidden;
			transition: all .3s;
			&.open{
				opacity: 1;
				visibility: visible;
			}
		}
	}

	.intro{
		&__container{
			padding-top: 8.1rem;
			padding-bottom: 11rem;
		}
		&__content{
			max-width: 440px;
			// z-index: 5;
		}
		// &__subheading{
		// 	display: block;
		// }
		&-power{
			position: relative;
			margin-top: 5rem;
			max-width: 52rem;
			&__inner{
				padding-left: 2rem;
			}
			&__img{
				&_street{
					display: none;
				}
			}
		}
		&-offer{
			margin-top: 6rem;
		}
		&__man{
			right: -6rem;
			bottom: 4rem;
		}
		// &__clouds{

		// 	top: auto;
		// 	height: 0;
		// 	&>img{
		// 		position: absolute;
		// 		bottom: 0;
		// 		max-width: 100%;
		// 		height: auto;
		// 	}
		// }
	}

	.form-section{
		&__inner{
			padding-left: 5rem;
			padding-right: 5rem;
		}
		&__heading,
		&__text{
			margin-left: auto;
			margin-right: auto;
			max-width: 65rem;
		}
		&__subheading{
			font-size: 3rem;
		}
		&__text{
			font-size: 2.25rem;
		}
	}

	.want-check {
		&__phone{
			max-width: 19.2rem;
			right: -1rem;
			bottom: -12rem;
			z-index: 5;
		}
		&__modem {
			max-width: 21.5rem;
			left: 1rem;
			top: -7rem;
			z-index: 8;
		}
	}

	.stars{
		&__subheading{
			font-size: 2.25rem;
		}
		&__slider{
			position: relative;
			margin: 0 auto;
			max-width: 720px;
		}
		&-slider{
			&__bg{
				img{
					object-position: 86% bottom;
				}
			}
		}
		&-slide{
			// width: 90rem;
			height: 45.5rem;
			opacity: 1;
			transition: none;
		}
		&-card{
			margin-left: 4rem;
			width: 51.25rem;
			height: 31rem;
			&__heading{
				h4{
					font-size: 2.5rem;
				}
				&__text{
					font-size: 2rem;
				}
			}
		}
		.swiper-button{
			&-prev{
				left: 0;
			}
			&-next{
				right: 0;
			}
		}
	}

	

	.help{
		&__text{
			max-width: 60rem;
		}
	}

	.prize{
		&__heading{
			max-width: 82rem;
		}
		&__text{
			max-width: 62rem;
		}
		&__sims{
			max-width: 28.5rem;
			right: 0rem;
			top: 33rem;
		}
	}

	.questions {
		&__img1{
		left: 3rem;
		bottom: -30rem;
		top: auto;
		}
		&__img2{
			top: 0;
		}
		&__text{
			max-width: 57rem;
		}
	}
}

// SM
@media (max-width: 767.98px){
	html{
		font-size: 7px;
	}
	.btn{
		&_secondary{
			padding: 0 1em;
		}
	}
	.container{
		&,
		&_xl,
		&_lg,
		&_md{
			max-width: 540px;
		}
	}

	.d{
		&-block{
			&_sm{
				display: block;
			}
		}
		&-none{
			&_sm{
				display: none;
			}
		}
	}

	.form{
		&__group{
			&.focused{
				.form__label_control{
					transform: translateY(calc(-100% + 1.6rem)) scale(0.8);
				}
			}
		}
		&__control,
		&__submit{
			width: 40rem;
			height: 10rem;
		}
		&__control{
			padding-left: 8rem;
			font-size: 2.5rem;
		}
		&__label{
			&_control{
				padding-top: 1.8rem;
				padding-left: 8rem;
			}
		}
		&,
		&__submit{
			padding-top: 0;
			padding-bottom: 0;
			font-size: 2.5rem;
		}
		&__footer{
			font-size: 2rem;
			p{
				max-width: none;
			}
		}
	}
	
	.header{
		&__container{
			// position: static;
		}
		&__work{
			display: none;
		}
	}

	.top-menu{
		margin: 6rem 0 6rem 3rem;
		max-width: 33rem;
		&-wrapper{
			left: 43rem;
		}
		&__item{
			font-size: 16px;
			margin-bottom: 5rem;
		}
		&-toggler{
			width: 31px;
			height: 30px;
			&__item{
				left: .7em;
				width: 1.5em;
				&:first-child{
					top: calc(50% - .1em);
				}
				&:nth-child(2){
					top: calc(50% - .7em);
				}
				&:last-child{
					top: calc(50% + .5em);
				}

			}
			&.open{
				.top-menu-toggler__item{
					&:first-child{
						opacity: 0;
					}
					// &:nth-child(2),
					// &:last-child{
					// 	transform-origin: 0;
					// }
					&:nth-child(2){
						transform: translateY(.6em) rotate(45deg);
					}
					&:last-child{
						transform: translateY(-.6em) rotate(-45deg);
					}
				}
			}
		}
	}

	.intro{
		&__content{
			max-width: 57rem;
		}
		&-power{
			max-width: 46rem;
		}
		&__man{
			right: -16rem;
			img{
				max-width: 46rem;
			}
		}
	}

	.form-section{
		&-wrapper{
			margin-left: auto;
			margin-right: auto;
			max-width: 44rem;
		}
		&__form{
			flex-direction: column;
			justify-content: space-between;
			align-items: center;
		}
		&__group{
			padding-top: 1rem;
			height: 10.8rem;
			&.form__group{
				&.focused,
				&.valid{
					.form__label_control{
						transform: translateY(calc(-100% + 2rem)) scale(0.8);
					}
				}
			}
		}
		&__submit{
			width: 100%;
			height: 10rem;
		}
		.form__control,
		[type="submit"]{
			width: 100%;
		}
		.form__control{
			height: 9.8rem;
		}
	}

	.want-check{
		&__modem{
			display: none;
		}
		&__phone{
			max-width: 15rem;
		}
	}

	.stars{
		&__slider{
			max-width: 540px;
		}
		&-slide{
			&__img{
				img{
					height: 75%;
				}
			}
		}
		&-card{
			max-width: 45rem;
		}
	}

	.prize{
		padding-top: 18.2rem;
		&__sims{
			top: -13rem;
			left: calc(50%);
			transform: translateX(-50%);
			bottom: auto;
		}
	}

	.questions{
		padding-top: 18.2rem;
		&__img1{
			max-width: 34.5rem;
			top: -33rem;
			left: 5rem;
			bottom: auto;
		}
		&__img2{
			display: none;
		}
	}
	
	.modal{
		&__content{
			padding: 6rem 4rem;
			width: 48rem;
			// max-height: 63.1rem;
			
			border-radius: v.$modal-border-radius-sm;
			font-size: 2.5rem;
		}
		&__header{
			p{
				max-width: none;
			}
		}
		&-close {
			top: -3rem;
			right: -.7rem;
			&__item{
				width: 2.5rem;
			}
		}
	}

	.thanks{
		font-size: 2.6rem;
	}
}

// XS
@media (max-width: 575.98px){
	html{
		font-size: 6px;
	}
	h1{
		font-size: 3.1rem;
	}
	.container{
		&,
		&_xl,
		&_lg,
		&_md,
		&_sm{
			max-width: 440px;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
	}

	.d{
		&-block{
			&_xs{
				display: block;
			}
		}
		&-none{
			&_xs{
				display: none;
			}
		}
	}

	.header{
		&__container{
			padding: 2.5rem;
		}
		&__logo{
			max-width: 61px;
		}
		&__callback-btn,
		&-mail{
			display: none;
		}
		&-phone{
			a{
				font-size: 14px;
			}
		}
	}

	.intro{
		padding-top: 6rem;
		&__content{
			z-index: 3;
		}
		&-offer{
			margin-top: 15rem;
		}
		&__bg,
		&__clouds{
			height: 65rem;
			bottom: auto;
		}
		&__man{
			display: none;
			&_mobile{
				display: block;
				position: absolute;
				top: auto;
				bottom: 0;
				height: 60rem;
				img{
					max-width: 100%;
					object-position: 104% 0;
					// width: 100%;
					height: 100%;
				}
			}
		}
		&-btns{
			.btn{
				&_primary{
					font-size: 2.6rem;
				}
			}
		}
	}

	.stars{
		&__subheading{
			margin-left: auto;
			margin-right: auto;
			max-width: 43rem;
		}
		&__slider{
			max-width: 440px;
			padding-left: 2.5rem;
			padding-right: 2.5rem;
		}
		&-slide{
			height: auto;
			&__img{
				position: static;
				max-width: 48rem;
				height: 38rem;
				img{
					width: 100%;
					height: 100%;
					object-fit: contain;
				}
			}
		}
		// &-slider{
		// 	&__bg{
		// 		display: none;
		// 	}
		// }
		&-slide__img,
		&-card{
			margin-left: auto;
			margin-right: auto;
		}
		&-card{
			position: relative;
			top: -6rem;
			height: auto;
			&__heading{
				h4{
					font-size: 2.8rem;
				}
			}
			&__text,
			&__btn{
				font-size: 2rem;
			}
		}
		.swiper-button{
			&-prev,
			&-next{
				top: 30%;
			}
			&-prev{
				left: 2.5rem;
			}
			&-next{
				right: 2.5rem;
			}
		}
	}

	.layer-block{
		box-shadow: none;
		&::after{
			display: none;
		}
	}

	.quote{
		padding-left: 2.5rem;
		padding-right: 2.5rem;
		&::before{
			bottom: 1rem;
			right: 9rem;	
		}
		&::after{
			top: 1rem;
			left: 9rem;
		}
		&__text{
			margin-left: auto;
			margin-right: auto;
			max-width: 49rem;
		}
	}
}


@media (max-width: 479.98px){
	.top-menu{
		&-wrapper{
			left: 25rem;
		}
	}
	.intro{
		&-power{
			max-width: 40rem;
		}
		// &__bg,
		&__clouds{
			height: 73rem;
		}
		&__man{
			&_mobile{
				height: 50rem;
			}
			img{
				max-width: 167px;	//перевести в rem
			}
		}
	}
}
// XXS
@media (max-width: 414.98px){
	.btn{
		&_primary{
			padding-left: 1em;
			padding-right: 1em;
			height: 4em;
		}
		&_file{
			width: 6.6em;
			height: 6.6em;
		}
	}
	.d{
		&-block{
			&_xxs{
				display: block;
			}
		}
		&-none{
			&_xxs{
				display: none;
			}
		}
	}
	.header{
		&.white{
			.header{
				&__container{
					@include m.headerShadowMobile;
				}
			}
		}
		&__container{
			position: static;
		}
		&-nav{
			display: flex;
			justify-content: center;
			border: none;
		}
	}
	.top-menu{
		margin-left: 0;
		text-align: center;
		&-wrapper{
			width: 100%;
			max-width: none;
			left: 0;
			right: 0;
		}
	}
	.intro{
		&__container{
			padding-top: 9rem;
		}
		&-power{
			&__inner{
				padding: 3.5rem 9rem 3.5rem 2.5rem;
			}
		}
		&-offer{
			margin-top: 13rem;
		}
		&__bg{
			height: 79rem;
		}
		&__clouds{
			height: 73rem;
		}
		&__man{
			&_mobile{
				// height: 45rem;
				img{
					object-position: 127% 0;
				}
			}
		}
		&-btns{
			max-width: 290px;
			.btn_file{
				margin-left: auto;
			}
		}
	}

	.want-check{
		&__inner{
			padding-left: 3rem;
			padding-right: 3rem;
		}
		&__heading{
			&,
			h3{
				display: inline;
			}
		}
		&__subheading{
			font-weight: 700;
			&,
			p{
				display: inline;
			}
		}
		&__text{
			margin-top: 2rem;
		}
		&__phone{
			bottom: -8rem;
		}
	}
}

@media (max-width: 320px){

}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none){

}