<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Name</title>
    <link rel="stylesheet" href="../../comp-templates/comp-copy/prism/prism.css">
    <link rel="stylesheet" href="../../comp-templates/comp-copy/public/css/default.css">
    <link rel="stylesheet" href="../../comp-templates/comp-copy/public/css/code-copy.css">
  </head>
  <body> 
    <div id="wrapper">
      
      
      <h1>Указать имя компонента</h1>
      <div class="container">
        
        
        <p>Место визуального расоложения компонента</p>
      </div>
      
      <p>Здесь располагаются табы с кодом комонента с возможностью кпирования в 1 клик.</p>
    </div>
    <script src="../../comp-templates/comp-copy/prism/prism.js"></script>
    <script src="../../comp-templates/comp-copy/public/js/code-copy.dev.js"></script>
  </body>
</html>