doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Modal FadeIn
        link(rel="stylesheet", href="css/default.css")
        link(rel="stylesheet", href="css/style.css")
    body
        section
            button.btn.modal-trigger(data-target="modal-1235") Let`s open modal!

        #modal-1235.modal
            .modal__content
                .modal__header
                    h4 Заголовок модального окна
                    button.modal-close.modal__close 
                        |
                        span.modal-close__item
                        |
                        |
                        span.modal-close__item

                .modal__body
                    p.
                        Далеко-далеко за, словесными горами в стране гласных и согласных живут рыбные тексты. Своих щеке рыбного lorem? Гор себя маленький языком океана рыбными. Ручеек текстов взобравшись путь от всех о составитель пор букв большого рыбными lorem эта на берегу реторический которой лучше, проектах рот переписывается коварный что! До подзаголовок толку океана которой рукопись, свое возвращайся.

                .modal__footer
                    p footer

            .modal__overlay.modal-close







        script(src="js/main.dev.js") 