|.select {
|  margin-left: 2rem;
|  padding: 1rem 4rem 1rem 1rem;
|  width: 20rem;
|  position: relative;
|  display: inline-block;
|  font-size: 1.4rem;
|  line-height: 1;
|  background-color: white;
|  border: solid 2px #ed8722;
|  border-radius: 0.5rem;
|  cursor: pointer;
|}
|.select__option {
|  display: block;
|  padding: 1rem;
|  background-color: white;
|  cursor: pointer;
|}
|.select__option_selected {
|  display: inline-block;
|  width: 100%;
|  overflow: hidden;
|}
|.select__option-box {
|  opacity: 0;
|  visibility: hidden;
|  z-index: -1;
|  position: absolute;
|  right: -2px;
|  bottom: -2px;
|  left: -2px;
|  -webkit-transition: 0.35s;
|  -o-transition: 0.35s;
|  transition: 0.35s;
|}
|.select__option-box > ul {
|  padding: 0;
|  width: 100%;
|  max-height: 30rem;
|  overflow: auto;
|  position: absolute;
|  top: -2px;
|  list-style: none;
|  border: solid 2px #ed8722;
|  border-bottom-left-radius: 5px;
|  border-bottom-right-radius: 5px;
|  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
|  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
|}
|.select__option:last-child {
|  border-bottom-left-radius: 2px;
|  border-bottom-right-radius: 2px;
|}
|.select__option:hover {
|  color: #fff;
|  background-color: #ed8722;
|}
|.select.open .select__option-box {
|  opacity: 1;
|  visibility: visible;
|  z-index: 10;
|  -webkit-transform: translateY(0%);
|  -ms-transform: translateY(0%);
|  transform: translateY(0%);
|}
|.select.open .arrow {
|  -webkit-transform: scaleY(-1);
|  -ms-transform: scaleY(-1);
|  transform: scaleY(-1);
|}
|
|.arrow {
|  position: absolute;
|  width: 100%;
|  height: 100%;
|  display: -webkit-inline-box;
|  display: -ms-inline-flexbox;
|  display: inline-flex;
|  -webkit-box-pack: center;
|  -ms-flex-pack: center;
|  justify-content: center;
|  -webkit-box-align: center;
|  -ms-flex-align: center;
|  align-items: center;
|  -webkit-transition: 0.3s;
|  -o-transition: 0.3s;
|  transition: 0.3s;
|}
|.arrow-bg {
|  position: absolute;
|  top: 0;
|  right: -2px;
|  width: 4rem;
|  height: 100%;
|  border-top-right-radius: 0.5rem;
|  border-bottom-right-radius: 0.5rem;
|  background: #ed8722;
|}
|.arrow::before, .arrow::after {
|  display: inline-block;
|  position: absolute;
|  top: 45%;
|  left: 30%;
|  content: "";
|  width: 40%;
|  height: 10%;
|  background: #fff;
|}
|.arrow::before {
|  border-top-left-radius: 0.2em;
|  border-bottom-left-radius: 0.2em;
|  -webkit-transform: translateX(-30%) rotate(45deg);
|  -ms-transform: translateX(-30%) rotate(45deg);
|  transform: translateX(-30%) rotate(45deg);
|}
|.arrow::after {
|  border-top-right-radius: 0.2em;
|  border-bottom-right-radius: 0.2em;
|  -webkit-transform: translateX(30%) rotate(-45deg);
|  -ms-transform: translateX(30%) rotate(-45deg);
|  transform: translateX(30%) rotate(-45deg);
|}